.filterGrowth {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}

.filterGrowth__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 12px;
  column-gap: 4px;
}

.filterGrowth__list_item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  height: 22px;
  padding: 4px 8px;
  border: 1px #E5E5E5 solid;
  background: none;
  cursor: pointer;
  border-radius: 4px;
}
