.container {
  width: 100%;
  padding-top: 34px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.checkbox {
  width: 24px;
  height: 24px;
  margin-right: 34px;
  accent-color: var(--color-accent);
}

.star {
  width: 16px;
  height: 16px;
  margin-right: 8px;

  background-repeat: no-repeat;
  background-position: center;
}

.rating {
  margin-right: 8px;
}

.arrow_right {
  width: 5px;
  height: 10px;
  margin-left: 14px;

  background-repeat: no-repeat;
  background-position: center;
}

.footer {
  display: flex;

  margin-top: 32px;
  padding: 12px 32px;

  font-size: var(--fp);
  font-weight: var(--regular);
  font-style: normal;
  line-height: var(--fh4);
  color: var(--color-black);

  background-color: rgba(252, 19, 61, 0.2);
  border-radius: 8px;
}

.dot {
  width: 24px;
  height: 20px;
}

.method {
  cursor: pointer;
  color: var(--color-black);
  text-decoration: underline;
}
