.shop_item {
  width: 100%;
  padding-top: 34px;
}

.shop_item_header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.shop_item_header_checkbox {
  width: 24px;
  height: 24px;
  margin-right: 34px;
}

.shop_item_header_star {
  width: 16px;
  height:16px;
  margin-right: 8px;

  background-image: url('../../../../../assets/img/icons/Star 1.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.shop_item_header_rating {
  margin-right: 8px;
}

.shop_item_header_arrow_right {
  width: 5px;
  height:10px;
  margin-left: 14px;

  background-image: url('../../../../../assets/img/icons/arrowRight.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.shop_item_footer {
  display: flex;

  margin-top: 32px;
  padding: 12px 32px;

  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  color: #000000;

  background-color: rgba(252, 19, 61, 0.2);
  border-radius: 8px;
}

.shop_item_footer_dot {
  width: 24px;
  height: 20px;

  background-image: url('../../../../../assets/img/icons/dot.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.shop_item_footer_method {
  cursor: pointer;
  text-decoration: underline;
}
