.supplierCard {
  display: flex;
  flex-direction: row;
  height: 44px;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}
.supplierCard__avatar {
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #828282;
}
.supplierCard__info {
  display: flex;
  flex-direction: column;
}
.supplierCard__info_name {
  width: 100%;
  height: 20px;
  line-height: 20px;
  font-size: var(--fp);
  color: #828282;
}
.supplierCard__info_deals {
  width: 100%;
  height: 16px;
  line-height: 16px;
  font-size: 10px;
  color: #828282;
}
.supplierCard__arrow {
  display: flex;
  background-size: cover;
  width: 24px;
  height: 24px;
  fill: #828282;
  background: url('../../../../assets/img/icons/arrow-slide-right.svg');
}
