.ProductPath  {
  margin-top: 12px;
  display: flex;
  flex-direction: row; 
  gap: 16px; 
  height: 24px; 
  align-items: center; 
  font-size: var(--fp); 
  letter-spacing: 0.16px;
  color: #828282;
}