.params_container {
  display: flex;
  flex-wrap: wrap;
  gap: 98px;

  min-width: 288px;
  margin-bottom: 32px;
}

@media (max-width: 710px) {
  .params_container {
    flex-direction: column;
    gap: 24px;
  }
}