.rest_filters {
  margin-right: 9px;

  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  color: var(--color-black);
}

.vector_up, .vector_down {
  margin-right: 25px;
}

.vector_down {
  transform: rotate(180deg) ;
}

.reset_link {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color:var(--color-accent);
  text-decoration-line: underline;
}
