.sliders_container {
  display: flex;
  grid-area: ProductCarousel;
  column-gap: 8px;

  min-width: 288px;
  max-width: 100%;
}

.swiper_second_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  max-width: 106px;
}

.swiper_second {
  width: 106px;
  height: 562px;
}

.swiper_second_el {
  box-sizing: border-box;
  width: 106px;
  height: 106px;
}

.swiper_second_el img {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.active_swipe {
  border: 4px solid var(--color-red);
}

.swiper_main {
  width: 100%;
  height: 853px;
}

.swiper_main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  cursor: pointer;
  padding: 5px;
  background: none;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background: var(--color-red);
  }
}

.arrow {
  fill: var(--color-black);
  transition: fill 0.1s ease-in-out;
}

.arrow_up {
  transform: rotate(180deg);
}

.btn:hover .arrow {
  fill: var(--color-white-ivory)
}


@media (max-width: 1200px) {
  .sliders_container {
    justify-self: center;
  }
}

@media (max-width: 801px) {
  .sliders_container {
    flex-direction: column;
    row-gap: 16px;
  }
  
  .swiper_second_wrapper {
    flex-direction: row;
    gap: 8px;
    order: 2;

    min-width: 562px;
    height: 106px;
  }

  .rotate_first {
    transform: rotate(90deg);
  }

  .rotate_second {
    transform: rotate(-90deg);
  }
}

@media (max-width: 620px) {
  .swiper_main {
    width: 100%;
    height: 600px;
  }
}

@media (max-width: 425px) {
  .swiper_main {
    width: 100%;
    height: 500px;
  }
}


@media (max-width: 321px) {
  .swiper_main {
    width: 288px;
    height:343px;
  }
}