.slider {
  overflow: hidden;
}

.slider .swiper_container1 {
  width: 100%;
  height: 100%;
}

.slider .swiper_container2 {
  width: 100%;
  height: 100%;
}

.flex_container {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
  max-width: 106px;
  margin-right: 8px;
}

.thumbs {
  height: 562px;
}

.images {
  width: 568px;
  height: 853px;
}

.slider_showed img {
  display: block;
  width: 568px;
  height: 853px;
  object-fit: cover;
}

.preview_image,
.preview_image img {
  display: block;
  width: 100%;
  height: 106px;
  object-fit: cover;
}

.arrow_up {
  transform: rotate(180deg);
}


