.sliders_container {
  position: sticky;
  top: 0;

  float: left;
  display: flex;
  flex-basis: 50%;
  column-gap: 8px;

  width: 50%;
  height: 650px;
  margin-right: 48px;
}

.swiper_second_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  height: min-content;
  max-height: 600px;
}

.swiper_second {
  width: 106px;
  height: min-content;
}

.swiper_second_el {
  box-sizing: border-box;
  max-width: 108px;
  height: 106px;
}

.swiper_second_el img {
  box-sizing: border-box;
  max-width: 106px;
  height: 106px;
}

.active_swipe {
  border: 2px solid var(--color-red);
}

.swiper_main {
  width: 100%;
  max-height: 600px;
}

.swiper_main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  padding: 5px;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: .6;
  }
}

.arrow {
  fill: var(--color-black);
  transition: fill 0.1s ease-in-out;
}

.arrow_up {
  transform: rotate(180deg);
}


@media (max-width: 1200px) {
  .sliders_container {
    justify-content: center;
  }
}

@media (max-width: 801px) {
  .sliders_container {
    flex-direction: column;
    row-gap: 16px;
  }

  .swiper_second_wrapper {
    flex-direction: row;
    gap: 8px;
    order: 2;

    //width: 106px;
    //height: 100%;
  }

  .swiper_second {
    width: min-content;
    max-width: 100%;
    height: 106px;
    margin-left: 0;
  }

  .rotate_first {
    transform: rotate(90deg);
  }

  .rotate_second {
    transform: rotate(-90deg);
  }
}

@media (max-width: 620px) {
  .swiper_main {
    width: 100%;
    height: 600px;
  }
}

@media (max-width: 425px) {
  .swiper_main {
    width: 100%;
    height: 500px;
  }
}


@media (max-width: 321px) {
  .swiper_main {
    width: 288px;
    height: 343px;
  }
}
