.sliders_container {
  position: sticky;
  top: 0;

  float: left;
  display: flex;
  flex-basis: 50%;
  column-gap: 8px;

  width: 50%;
  height: 650px;
  margin-right: 30px;
}

.swiper_second_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  justify-content: flex-start;

  min-height: min-content;
  max-height: 570px;
  margin-right: 3px;
}

.swiper_second {
  width: 86px;
  height: min-content;
}

.swiper_second_el {
  box-sizing: border-box;
  max-width: 88px;
  height: 86px!important;
  margin-bottom: 20px!important;

  border-radius: 8px;
}

.swiper_second_el img {
  box-sizing: border-box;
  max-width: 86px;
  height: 86px;

  &:hover {
    cursor: pointer;
  }
}

.active_swipe {
  border: 2px solid var(--color-red);
}

.swiper_main {
  width: 100%;
  height: fit-content;
  max-height: 570px;
  border-radius: 8px;
}

.swiper_main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  padding: 5px;
  transition: opacity 0.3s ease-in-out;

  &:disabled {
    cursor: unset;
  }

  &:hover:not(.disabled) {
    opacity: .6;
  }
}

.arrow {
  fill: var(--color-black);
  transition: fill 0.1s ease-in-out;
}

.disabled > .arrow {
  opacity: 0.5;
}

.arrow_up {
  transform: rotate(180deg);
}

@media only screen and (max-width: 1040px) {
  .sliders_container {
    all: unset;
    display: flex;
    gap: 20px;
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .sliders_container {
    flex-direction: column;
    row-gap: 16px;
  }

  .swiper_second_wrapper {
    flex-direction: row;
    gap: 8px;
    order: 2;
  }

  .swiper_second {
    width: min-content;
    max-width: 100%;
    height: 106px;
    margin-left: 0;
  }

  .rotate_first {
    transform: rotate(90deg);
  }

  .rotate_second {
    transform: rotate(-90deg);
  }
}

@media (max-width: 620px) {
  .swiper_main {
    width: 100%;
    height: 600px;
  }
}

@media (max-width: 425px) {
  .swiper_main {
    width: 100%;
    height: 500px;
  }
}


@media (max-width: 321px) {
  .swiper_main {
    width: 288px;
    height: 343px;
  }
}
