.slider_container {
  overflow: hidden;
  display: flex;
  //min-width: 682px;
}

.images_slider {
  display: flex;
  flex-direction: column;
  max-width: 106px;
  margin-right: 8px;
}

.arrow_up {
  transform: rotate(180deg);
}

.images_container {
  max-height: 562px;
}

.swiper_container {
  width: 100%;
  height: 100%;
}

.image_slider {
  height: 106px;
  max-height: 106px;
}

.image_container {
  width: 568px;
  height: 800px;
}

.slider_showed img {
  display: block;
  width: 568px;
  height: 800px;
  object-fit: cover;
}

.preview_image,
.preview_image img {
  display: block;
  width: 100%;
  height: 106px;
  object-fit: cover;
}



