.inputTextField {
  padding: 12px 10px 15px 16px;
  font-size: 14px;
  color: #000;
  width: 100%;
  outline: none;
  border: none;
  background: #F2F2F2;
  border-radius: 4px;
  box-sizing: border-box;
}

.inputWrapper {
  flex-grow: 1;
}

.inputTitle {
  color: #828282;
  font-size: 13px;
  text-align: left;
  margin-bottom: 8px;
}

.inputError {
  color: #FF4040;
  font-size: 13px;
  text-align: left;
  position: absolute;
}

.textarea {
  padding: 12px 10px 15px 16px;
  font-size: 14px;
  color: #000;
  width: 100%;
  min-height: 44px;
  height: 100%;
  outline: none;
  border: none;
  background: #F2F2F2;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
}
