.filter_brand {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.filter_brand_button {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
}

.filter_brand_list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 12px;
  column-gap: 4px;
}

.filter_brand_title {
  margin-bottom: 4px;
}

.filter_brand_list_item {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  height: 22px;
  padding: 4px 16px;

  background: none;
  border: 1px #E5E5E5 solid;
  border-radius: 4px;
}

.filter_item_active {
  padding-right: 4px;
}

.filter_item_active::after {
  content: '';

  position: relative;

  width: 16px;
  height: 16px;
  margin-left: 8px;

  background: url('../../../../assets/img/icons/filter-cross.svg');
  background-size: cover;
}

.none {
  display: none;
}
