.wrapper {
  padding: 48px 0 128px 0;
  background: #F9F9F9;
}

.main {
  max-width: 1176px;
  margin: 0 auto;
  padding: 0 16px;

  font-family: var(--roboto);
  font-weight: var(--semi-bold);
  letter-spacing: 0.38px;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-weight: var(--bold);
  line-height: 25px;
}

.search {
  flex: 0 1 450px;
}

.empty_message {
  width: 916px;
  margin: 80px auto 0 auto;

  font-size: 34px;
  font-weight: 700;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.41px;
}

.links {
  display: flex;
  margin-top: 32px;
}

.link {
  cursor: pointer;

  display: flex;
  flex: 0 0 25%;
  align-items: center;
  justify-content: center;

  padding: 16px 0;

  font-size: 20px;
  font-weight: var(--bold);
  color: #000;

  background: transparent;
  border-bottom: 3px solid #D4D4D4;
}

.link.active {
  color: var(--red);
  border-color: var(--red);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: stretch;
  justify-content: center;

  margin: 48px 0 0 0;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 12px;

  padding: 32px;

  background: #FFF;
  border-radius: 12px;
}

.info {
  display: flex;
  gap: 16px;
  align-items: center;
  height: 20px;
}

.number {
  font-size: 16px;
  line-height: 16px;
  color: #000;
}

.date {
  font-size: 15px;
  font-weight: var(--regular);
  line-height: 20px;
  color: #828282;
  letter-spacing: 0.16px;
}

.details {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
}

.details a {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #FC133D;
  text-decoration-line: underline;
  letter-spacing: 0.16px;
}

.status {
  font-size: 15px;
  font-weight: var(--regular);
  line-height: 20px;
  color: #828282;
  letter-spacing: 0.16px;
}

.images {
  display: flex;
  gap: 15px;
}

.image {
  overflow: hidden;

  width: 120px;
  height: 120px;

  background: #D9D9D9;
  border-radius: 8px;
}

.image img {
  object-fit: contain;
}