.product_price {
  display: flex;
  flex-direction: row;
  gap: 4px;

  margin-top: 8px;

  font-family: 'SF Pro Display Bold',serif;
  font-size: var(--fz-l2);
}

.product_price > span {
  display: block;
  align-self: flex-end;

  margin-right: 16px;

  font-family: Roboto serif;
  font-size: 10px;
  color: #828282;
}
