.product_price {
  display: flex;
  column-gap: 4px;
  align-items: flex-end;

  margin-top: 8px;

  font-family: 'SF Pro Display Bold', serif;
  font-size: var(--fz-l2);
}

.min_quantity {
  font-size: var(--fz-xs);
  line-height: 100%;
  color: var(--color-medium-gray);
}
