.address {
  display: flex;
  flex-direction: column;

  width: 447px;
  padding: 16px 16px 21px;

  border: 1px solid #D4D4D4;
  border-radius: 12px;
}

.address_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.address_content_text {
  padding-bottom: 12px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.address_content_edit {
  cursor: pointer;
}

.address_place {
  margin: 12px 0 17px;

  font-size: 15px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
}

.address_main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.address_main_text {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #828282;
}

.address_content_line{
  border: 1px solid rgba(0, 0, 0, 0.14);
}
