.ProductPrice {
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin-top: 8px;
  font-size: var(--fd);
  font-family: 'SF Pro Display Bold';   
}
.ProductPrice>span {
  display: block;  
  align-self: flex-end;
  font-size: var(--fs);
  font-family: 'Roboto';
  color: #828282;
}