.ChoiceProduct {
  display: flex;
  flex-direction: column;
  width: 232px;
  gap: 32px;
}

.ChoiceProduct__color_title {
  display: block;
  height: 24px;
  line-height: 24px;
  margin-bottom: 8px;
  font-size: var(--fp);
  letter-spacing: 0.16px;
  font-family: 'SF Pro Display Medium';
}

.ChoiceProduct__color_buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;   
}

.ChoiceProduct__color_buttons-btn {
  display: block;
  width: 44px;
  height: 44px;  
  border-radius: 50%;
  cursor: pointer;
}

.ChoiceProduct__quantity {
  display: flex;
  flex-direction: column;
  gap: 8px;   
}

.ChoiceProduct__quantity_block{
  display: flex;
  flex-direction: row;
  gap: 4px;    
}

.ChoiceProduct__quantity_title{
  display: block;
  height: 24px;
  line-height: 24px;  
  font-size: var(--fp);
  letter-spacing: 0.16px;
  font-family: 'SF Pro Display Medium';
}
.ChoiceProduct__quantity_max {
  display: block;
  align-self: flex-end;   
  font-size: 8px;
  line-height: 20px;
  letter-spacing: 0.16px;  
  color: #828282;
  cursor: pointer;
}

.ChoiceProduct__quantity_control {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.ChoiceProduct__quantity_btn {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border:2px #dddddd solid;
  border-radius: 4px;
  font-size: var(--fp);
  cursor: pointer;
}


.ChoiceProduct__quantity_sum {
  display: flex;
  width: 132px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border:2px #dddddd solid;
  border-radius: 4px;
  font-size: var(--fp);
  letter-spacing: 0.16px;
  text-align: center;
}

.ChoiceProduct__price {
  display: flex;
  flex-direction: column;
  gap: 4px; 
}

.ChoiceProduct__price-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 24px;
  line-height: 20px;
  font-size: 16px;
  font-family: 'SF Pro Display Bold'; 
  justify-content: space-between;
}

.ChoiceProduct__price-amount,
.ChoiceProduct__price-ship {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 24px;
  line-height: 20px;
  font-size: var(--fp); 
  justify-content: space-between;
}
.ChoiceProduct__price-discount {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 24px;
  line-height: 20px;
  font-size: var(--fp);   
  justify-content: space-between;
  text-decoration: line-through;
}

.ChoiceProduct__price-total {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 24px;
  line-height: 20px;
  font-size: var(--fp);
  justify-content: space-between;
}

.ChoiceProduct__price span {
  width: 100%;
  overflow: hidden;
  letter-spacing: 0.2px;  
  padding-left: 4px;
  margin-right: 4px;
}