.choiceProduct {
  display: flex;
  flex-direction: column;
  width: 232px;
  gap: 32px;
}

.choiceProduct__color_title {
  display: block;
  height: 24px;
  line-height: 24px;
  margin-bottom: 8px;
  font-size: var(--fp);
  letter-spacing: 0.16px;
  font-family: 'SF Pro Display Medium';
}

.choiceProduct__color_buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.choiceProduct__color_buttons_btn {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
}

.choiceProduct__quantity {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.choiceProduct__quantity_block {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.choiceProduct__quantity_title {
  display: block;
  height: 24px;
  line-height: 24px;
  font-size: var(--fp);
  letter-spacing: 0.16px;
  font-family: 'SF Pro Display Medium';
}
.choiceProduct__quantity_max {
  display: block;
  align-self: flex-end;
  font-size: 8px;
  line-height: 20px;
  letter-spacing: 0.16px;
  color: #828282;
  cursor: pointer;
}

.choiceProduct__quantity_control {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.choiceProduct__quantity_btn {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border: 2px #dddddd solid;
  border-radius: 4px;
  font-size: var(--fp);
  cursor: pointer;
}

.choiceProduct__quantity_sum {
  display: flex;
  width: 132px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border: 2px #dddddd solid;
  border-radius: 4px;
  font-size: var(--fp);
  letter-spacing: 0.16px;
  text-align: center;
}

.choiceProduct__price {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.choiceProduct__price_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 24px;
  line-height: 20px;
  font-size: 16px;
  font-family: 'SF Pro Display Bold';
  justify-content: space-between;
}

.choiceProduct__price_amount,
.choiceProduct__price_ship {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 24px;
  line-height: 20px;
  font-size: var(--fp);
  justify-content: space-between;
}
.choiceProduct__price_discount {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 24px;
  line-height: 20px;
  font-size: var(--fp);
  justify-content: space-between;
  text-decoration: line-through;
}

.choiceProduct__price_total {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 24px;
  line-height: 20px;
  font-size: var(--fp);
  justify-content: space-between;
}

.choiceProduct__price span {
  width: 100%;
  overflow: hidden;
  letter-spacing: 0.2px;
  padding-left: 4px;
  margin-right: 4px;
}
