.wrapper {
  font-family: var(--roboto);
  font-weight: var(--semi-bold);
  font-style: normal;
  color: var(--color-black);
}

.title {
  margin-bottom: 12px;
  font-size: var(--fz-l2);
}

.link {
  display: inline-flex;
  gap: 12px;
  align-items: center;

  font-size: var(--fz-xl);
  line-height: 33px;
  color: inherit;
}

.icon {
  width: 30px;
  height: 30px;
}

