@import "src/common/styles/mixins";

.container {
  border-bottom: 1px solid var(--color-light-gray);
}

.wrapper {
  @include content_container;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 26px 32px;

  background-color: var(--color-white);
}

.logo {
  display: flex;
  align-items: center;
}

.vertical_line {
  display: inline-block;

  width: 2px;
  height: 17px;
  margin: 0 12px;

  background-color: var(--color-black);
}

.supplier_link {
  font-size: var(--fz-l2);
  font-weight: var(--semi-bold);
  color: var(--color-black);
  letter-spacing: 0.38px;
}

.inner_buttons {
  display: flex;
  gap: 24px;
  align-items: center;
}

.btn_menu {
  position: relative;

  display: flex;
  gap: 10px;
  align-items: center;

  font-size: var(--fz-s2);
  line-height: calc(20 / 15);
  letter-spacing: 0.16px;

  background: transparent;
}

.company_logo_wrapper {
  overflow: hidden;
  flex: 0 0 40px;

  width: 40px;
  height: 40px;

  border-radius: 50%;
}

.company_logo_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu_icons {
  cursor: pointer;
  display: flex;
  align-items: center;
  background: none;
}

.arrow {
  transform: rotate(180deg);
}

.logo_font_size {
  font-size: var(--fz-xl2);
}

.business_name {
  margin: 0 8px 0 0;
  font-size: var(--fz-s2);
  line-height: 20px;
  letter-spacing: 0.16px;
}
