.product_photo {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
}

.photo_slider {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 106px;
  height: fit-content;
}

.photo_slider_slides {
  overflow: hidden;
  display: block;
  width: 100%;
}

.photo_slider_list {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 8px;

  width: 100%;
  height: fit-content;

  transition: 0.5s;
}

.photo_slider_slide {
  display: block;
  width: 106px;
  height: 106px;
  object-fit: cover;
}

.photo_slider_btn_up {
  align-self: center;
  width: 24px;
  height: 24px;
  background-image: url('../../../../assets/img/icons/arrow-up.svg'); /* 24px */
}

.photo_slider_btn_down {
  align-self: center;
  width: 24px;
  height: 24px;
  background-image: url('../../../../assets/img/icons/arrow-down.svg'); /* 24px */
}

.photo_slider_btn_up:hover,
.photo_slider_btn_down:hover {
  cursor: pointer;
}

.photo_image {
  display: block;
  width: 569px;
  height: 756px;
}

.photo_image > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
