.flag_favorites {
  cursor: pointer;

  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.flag_favorites_sign {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 24px;
  height: 24px;

  background-color: transparent;
  border: 1px solid var(--color-accent);
  border-radius: 50%;
}

.flag_favorites_text {
  font-size: var(--fz-s2);
}

.not_active {
  color: var(--color-medium-gray);
}

.active{
  fill: var(--color-accent);
}