.statusProduct {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 96px;
}

.statusProduct__btn {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: fit-content;
  align-items: center;
  gap: 8px;
}

.statusProduct__btn_name {
  width: fit-content;
  height: fit-content;
  text-align: center;
  font-size: var(--fd);
  font-family: 'SF Pro Display Bold';
  line-height: 25px;
  cursor: pointer;
}

.statusProduct__btn_check {
  width: 20px;
  height: 10px;
}

.sort_active {
  background-image: url('../../../assets/img/icons/check-arrow.png');
}
