.statusProduct {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 100%;
  margin-top: 96px;
}

.statusProduct__btn {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;

  width: 240px;
  height: fit-content;
}

.statusProduct__btn_name {
  cursor: pointer;

  width: fit-content;
  height: fit-content;

  font-family: 'SF Pro Display Bold';
  font-size: var(--fd);
  line-height: 25px;
  text-align: center;
}

.statusProduct__btn_check {
  width: 20px;
  height: 10px;
}

.sort_active {
  background-image: url('../../../assets/img/icons/check-arrow.png');
}
