.item_description {
  display: flex;
  gap: 26px;
  width: 100%;
  padding-left: 34px;
}

.image {
  width: 120px;
  height: 120px;
  border-radius: 8px;
}

.item_information {
  display: flex;
  flex-direction: column;
}

.item_title {
  margin-bottom: 12px;
  font-size: var(--fz-m);
  font-weight: var(--medium);
}

.item_details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  margin-bottom: 24px;
}

.item_color,
.item_size {
  margin-right: 12px;
  margin-bottom: 4px;
  font-size: var(--fz-m);
  font-weight: var(--regular);
}

.item_pieces {
  margin-bottom: 4px;
  font-size: var(--fz-m);
  font-weight: var(--regular);
}

.order_details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.item_price {
  display: flex;
  flex-direction: column;
}

.total_price {
  width: auto;
  margin-bottom: 4px;
  font-size: var(--fz-l-2);
}

.item_price_details {
  display: flex;
  align-items: center;
}

.value_bundles {
  margin-right: 4px;
  font-size: var(--fz-m);
}

.line {
  transform: translateY(-4px);

  flex: 1 1 auto;
  align-self: flex-end;

  width: 24px;
  height: 1px;
  margin-right: 4px;

  background: var(--color-black);
}

.item_prices {
  display: flex;
  align-items: center;
}

.old_price {
  margin-right: 4px;
  font-size: var(--fz-m);
  color: var(--color-black);
  //text-decoration: line-through;
  //text-decoration-color: var(--color-red);
}

.new_price {
  font-size: var(--fz-m);
  color: var(--color-red);
}

@media (max-width: 628px) {
  .item_description {
    gap: 8px;
  }

  .item_price_details {
    display: none;
  }

  .item_description {
    padding-left: 16px;
  }
}
