.product_item {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  width: 100%;
  margin: 14px 0;
}



.product_item_main_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

.product_item_main_container_checkbox {
  width: 24px;
  height: 24px;
  margin-right: 34px;
}

.product_item_main_container_img {
  display: block;

  width: 120px;
  height: 120px;
  margin-right: 26px;

  object-fit: cover;
  border-radius: 8px;
}

.product_item_main_container_name {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: 16px;
}


.product_item_main_container_info {
  display: flex;
  gap: 8px;

  margin: 12px 0;

  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
}

.product_item_main_container_price {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  line-height: 20px;
}

.product_item_main_container_price_special {
  display: flex;
  align-items: center;

  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  color: #828282;
}

.product_item_quantity_container {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.product_item_quantity_container_title {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  color: #000000;
}

.product_item_quantity_container_title_from {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  color: rgba(130, 130, 130, 1)
}

.product_item_quantity_container_quantity {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: space-between;

  margin-top: 7px;
}

.product_item_quantity_container_input {
  width: 50%;
  padding: 6px 0;

  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  text-align: center;

  background-color: transparent;
  border: 1px solid #828282;
  border-radius: 8px;
}

.product_item_quantity_container_button {
  cursor: pointer;

  width: 32px;
  height: 32px;

  border: 1px solid #828282;
  border-radius: 8px;
}
