.container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  width: 100%;
  margin: 14px 0;
}

.item_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

.checkbox {
  width: 24px;
  height: 24px;
  margin-right: 34px;
  accent-color: var(--color-accent);
}

.container_img {
  display: block;

  width: 120px;
  height: 120px;
  margin-right: 26px;

  object-fit: cover;
  border-radius: 8px;
}

.name {
  font-size: 16px;
  font-weight: var(--semi-bold);
  font-style: normal;
  line-height: 16px;
}


.info {
  display: flex;
  gap: 8px;

  margin: 12px 0;

  font-size: var(--fp);
  font-weight: var(--regular);
  font-style: normal;
  line-height: var(--fd);
}

.price {
  font-size: var(--fd);
  font-weight: var(--semi-bold);
  font-style: normal;
  line-height: var(--fd);
}

.special_offer {
  display: flex;
  align-items: center;

  font-size: var(--fp);
  font-weight: var(--regular);
  font-style: normal;
  line-height: var(--fd);
  color: var(--color-medium-gray);
}

.quantity_container {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.quantity_title {
  font-size: var(--fp);
  font-weight: var(--regular);
  font-style: normal;
  line-height: var(--fd);
  color: var(--color-black);
}

.quantity_from {
  font-size: var(--fs);
  font-weight: var(--regular);
  font-style: normal;
  line-height: var(--fp);
  color: rgba(130, 130, 130, 1)
}

.quantity_counter {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;

  margin-top: 7px;
}

.input {
  width: 96px;
  padding: 6px 0;

  font-family: 'Roboto', sans-serif;
  font-size: var(--fp);
  font-weight: var(--regular);
  font-style: normal;
  line-height: var(--fd);
  text-align: center;

  background-color: transparent;
  border: 1px solid var(--color-medium-gray);
  border-radius: 8px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;

  border: 1px solid var(--color-medium-gray);
  border-radius: 8px;
}
