.header__nav {
  display: flex;
  width: fit-content;
}

.header__nav_list {
  display: flex;
  gap: 48px;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  list-style: none;

  transition: 0.4s;
}

.header__nav_list > li > a {
  color: var(--black);
  transition: 0.3s;
}
