.FilterBrand {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;  
}
.FilterBrand__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 12px;
  column-gap: 4px;  
}
.FilterBrand__title {
  margin-bottom: 4px;
}
.FilterBrand__list_item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 22px;
  padding: 4px 16px;
  border: 1px #e5e5e5 solid;
  background: none;
  cursor: pointer;
  border-radius: 4px;
}