.flagFavorites {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.flagFavorites_sign {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #FC133D;
  background-color: transparent;
}

.flagFavorites_text {
  font-size: var(--fp);
  letter-spacing: 0.16px;
  color: #828282;
}

.active{
  fill: #FC133D;
}