@import 'src/ui-kit/product-params/styles/mixins';

@include items();

.item {
  @include item(relative);

  cursor: pointer;
}

.color_image {
  @include item(relative);
}

.item::before {
  content: '';

  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  width: 100%;
  height: 32px;

  border: 2px solid var(--color-gray-light);
  border-radius: 8px;
}

.active::before {
  content: '';

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 32px;

  border: 2px solid var(--color-red);
  border-radius: 8px;
}

