.button {
  cursor: pointer;

  box-sizing: border-box;
  padding: 15px;

  font-family: var(--roboto);
  font-size: 15px;
  font-weight: var(--medium);
  line-height: 15px;

  border: 1px solid transparent;
  border-radius: 12px;
  outline: none;

  transition: all 0.5s;
}

.default,
.red {
  color: var(--color-white);
  background: var(--color-accent);
}

.default:hover,
.red:hover {
  background: var(--color_accent_dark);
}

.default:active,
.red:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #FC133D;
}

.default:disabled {
  color: #D4D4D4;
  background: #FFF;
  border: 1px solid #E3E3E3;
}

.red:disabled {
  background: rgba(252, 19, 61, 0.2);
}

.red:disabled:hover {
  color: #000;
  background: rgba(252, 19, 61, 0.4);
}

.red:disabled:active {
  color: #FFF;
  background: rgba(252, 19, 61, 0.8);
}

.light_red {
  color: #000;
  background: rgba(252, 19, 61, 0.2);
}

.light_red:hover {
  background: rgba(252, 19, 61, 0.4);
}

.light_red:active {
  color: #FFF;
  background: rgba(252, 19, 61, 0.8);
}

.light_red:disabled {
  color: #FFF;
  background: #FC133D;
}

.light_red:disabled:hover {
  color: #FFF;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #FC133D;
}

.light_red:disabled:active {
  color: #FFF;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #FC133D;
}

.white {
  color: #000;
  background: #FFF;
}

.black {
  color: #FFF;
  background: #000;
}