.size_wrapper {
  position: relative;
}

.size {
  cursor: pointer;

  position: absolute;
  left: 0;

  width: 64px;
  height: 57px;
  margin: 0;

  opacity: 0;
}

.input_container {
  box-sizing: border-box;
  width: 64px;
  height: 57px;

  border: #D8D8D8 1px solid;
  border-radius: 8px;
}

.border_container {
  color: #000;
  border: #000 2px solid;
  border-radius: 8px;
}

.size_block {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 100%;
  height: 30px;

  color: #828282;

  border-bottom: 1px solid #D8D8D8;
  border-radius: 8px;
}

.input_value {
  width: 44px;
  margin-left: 7px;

  font-size: 14px;
  text-align: center;

  border: none;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

/* Firefox */
input[type='number'] {
  appearance: textfield;
}
