.button {
  cursor: pointer;

  margin-right: 16px;

  font-family: var(--roboto);
  font-size: var(--fz-s2);
  font-weight: var(--medium);
  color: var(--color-black);
  white-space: nowrap;

  background: transparent;

  &:hover {
    color: var(--color-red);
  }

  &:focus-visible {
    border-radius: 4px;
    outline: 1px solid var(--color-gray-medium);
  }
}
