.basic {
  display: flex;
  flex-direction: row;
  gap: 48px;
  width: 100%;
  margin-bottom: 90px;
}

.basic_left {
  display: flex;
  flex-direction: column;
  gap: 48px;
  /*width: calc(50% - 24px);*/
}

.basic_right {
  display: flex;
  flex-direction: column;
  /*width: calc(50% - 24px);*/
}

.basic_top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 37px;
}

/* .productPage__basic_top_btn { */

/*  display: flex; */

/*  flex-direction: row; */

/*  gap: 8px; */

/* } */

.basic_block1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 12px;
}

.basic_path {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;

  height: 24px;

  font-size: var(--fp);
  font-weight: 400;
  line-height: 20px;
  color: #FC133D;
}

.basic_block2 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: space-between;

  margin-top: 32px;
}

.button {
  width: 100%;
  height: 44px;
  margin-top: 32px;
  margin-bottom: 36px;
}

.line {
  width: 100%;
  height: 2px;
  margin-bottom: 40px;
  background-color: #DDD;
}

