.productPage {
  display: flex;
  flex-direction: column;
  gap: 96px;

  width: calc(100% - 64px);
  height: fit-content;
  margin: 0 auto;
  padding: 48px 32px 32px;

  background-color: var(--front);
}

.productPage__basic {
  display: flex;
  flex-direction: row;
  gap: 48px;

  width: 100%;
  height: fit-content;
}

.productPage__basic_left {
  display: flex;
  flex-direction: column;
  gap: 48px;

  width: calc(50% - 24px);
  height: fit-content;
}

.productPage__basic_right {
  display: flex;
  flex-direction: column;
  width: calc(50% - 24px);
  height: fit-content;
}

.productPage__basic_top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 37px;
}

/* .productPage__basic_top_btn { */

/*  display: flex; */

/*  flex-direction: row; */

/*  gap: 8px; */

/* } */

.productPage__basic_block1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 12px;
}

.productPage__basic_path {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;

  height: 24px;

  font-size: var(--fp);
  font-weight: 400;
  line-height: 20px;
  color: #FC133D;
}

.productPage__basic_block2 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: space-between;

  margin-top: 32px;
}

.productPage__button {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 44px;
  margin-top: 32px;
  margin-bottom: 36px;

  color: #FFF;

  background-color: #FC133D;
  border-radius: 8px;
}

.productPage__button:hover {
  background: linear-gradient(0deg, rgb(0 0 0 / 20%), rgb(0 0 0 / 20%)), #FC133D;
}

.productPage__button:active {
  background: linear-gradient(0deg, rgb(0 0 0 / 30%), rgb(0 0 0 / 30%)), #FC133D;
}

.productPage__line {
  width: 100%;
  height: 2px;
  margin-bottom: 40px;
  background-color: #DDD;
}

