.container {
  max-width: var(--main-content-width);
  margin: 0 auto;
  padding: 48px 64px 32px;
}

.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}

.container_text {
  padding-top: 48px;
}

.title_block {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.text {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.mobile_copyright {
  display: none;
}

@media (max-width: 768px) {
  .container {
    padding: 24px 16px;
  }

  .title {
    font-size: 25px;
    line-height: 25px;
  }

  .container_text {
    padding-top: 0;
  }

  .title_block {
    margin: 16px 0;
  }

  .text {
    font-size: 15px;
    line-height: 20px;
  }

  .footer {
    display: none;
  }

  .mobile_copyright {
    display: block;

    margin: 8px 34px 16px;

    font-size: 13px;
    line-height: 18px;
    text-align: justify;
  }
  
  .link {
    color: var(--color-red);
    border-bottom: 1px solid var(--color-red);
  }
}

