.wrapper {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 48px;
  align-items: center;

  width: 100%;
  padding: 26px 0;

  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-light-gray);
}

.inner_buttons {
  display: flex;
  gap: 32px;
}

.wrapper_btn {
  position: relative;
}

.logo_font_size {
  font-size: var(--fz-xl2);
}
