.wrapper{
  display: flex;
  gap: 20px;

  font-family: var(--roboto);
  font-size: 15px;
  font-weight: var(--medium);
  font-style: normal;
  line-height: 15px;
  color: var(--color-black);
}

.select > select{
  min-width: 0;
  padding: 0 35px 0 0;

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;

  background: transparent;
}

.select_box{
  display: inline-flex;
  gap: 8px;
  align-items: center;
}