.supplier_card {
  cursor: pointer;

  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;

  height: 44px;
}

.supplier_card_avatar {
  display: block;

  width: 36px;
  height: 36px;

  background-color: #828282;
  border-radius: 50%;
}

.supplier_card_info {
  display: flex;
  flex-direction: column;
}

.supplier_card_info_name {
  width: 100%;
  height: 20px;

  font-size: var(--fz-s2);
  line-height: 20px;
  color: #828282;
}

.supplier_card_info_deals {
  width: 100%;
  height: 16px;

  font-size: 10px;
  line-height: 16px;
  color: #828282;
}

.supplier_card_arrow {
  transform: rotate(270deg);

  display: flex;

  width: 24px;
  height: 24px;

  background-size: cover;

  fill: #828282;
}