.description_container {
  min-height: 407px;
  padding: 32px;
  background: var(--color-white);
  border-radius: 12px;
}

.title {
  margin-bottom: 28px;
  font: var(--bold) var(--fz-xxl) / 34px var(--roboto);
}

.description {
  max-width: 551px;
  font: var(--regular) var(--fz-s) / 20px var(--roboto);
}