.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 634px;
  margin: 0 auto;
  padding-top: 48px;

  .title {
    margin-bottom: 16px;
    line-height: 34px;
  }

  .paragraph {
    margin-bottom: 40px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style: none;
    
    .list_item {
      display: flex;
      justify-content: space-between;
      font-weight: bold;
    }
  }

  .arrow_icon {
    cursor: pointer;
  }

  @media screen and (max-width: 1024px) {
    width: 80%;
  }

  @media screen and (max-width: 768px) {
    width: 90%;
  }
}