.forgotPasswordForm {
  margin-top: 32px;
}

.textFieldLabel {
  display: none;
}

.textFieldInput {
  width: 368px;
  height: 42px;
  padding-left: 16px;
  font-size: 12px;
  letter-spacing: 0.02em;
  color: #000;
  cursor: pointer;
  outline: none;
  border: none;
  background: #FFF;
}

.inputWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  margin-bottom: 12px;
}
