.forgotPasswordForm {
  margin-top: 32px;
}

.textFieldLabel {
  display: none;
}

.textFieldInput {
  cursor: pointer;

  width: 368px;
  height: 42px;
  padding-left: 16px;

  font-size: 12px;
  color: #000;
  letter-spacing: 0.02em;

  background: #FFF;
  border: none;
  outline: none;
}

.input_wrapper {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 12px;

}
.button{
  width: 100%;
}