.check_order {
  display: flex;
  flex-direction: column;

  height: 100%;
  padding: 32px;

  background-color: #FFF;
  border-radius: 12px;
}

.check_order_price,
.check_order_shipping {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  height: 24px;
  margin-bottom: 12px;

  font-size: var(--fz-s2);
  line-height: 20px;
}

.check_order_note {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #828282;

}

.check_order_total {
  display: flex;
  justify-content: space-between;

  margin-bottom: 24px;

  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
}

.check_order_place {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 44px;
  margin-top: 16px;

  color: #828282;

  background-color: #F2F2F2;
  border-radius: 4px;

  transition: 0.3s;
}

.check_order_place:hover {
  color: #FFF;
  background-color: #000;
}

.check_order_text {
  margin-top: 16px;

  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #828282;
}

.check_order_security {
  display: flex;
  align-items: center;
  margin-top: 24px;
}



.check_order_security_lock path {
  fill: #1C9929;
}

.check_order_security_text {
  margin-left: 8px;

  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #1C9929;
}

.check_order_title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.check_order_title_text {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

.check_order_goods_cost {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.line {
  width: 58%;
  margin-bottom: 5px;
  border-bottom: 1px solid #000;
}

.line_two {
  margin: 24px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}
