.wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  height: 100vh;
}

.main{
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 196px 15px 0;
}

@media screen and (max-width: 768px){
  .main{
    padding:152px 15px 0 !important;
  }
}

.title{
  margin-bottom: 18px;

  font-size: 40px;
  font-weight: var(--bold);
  line-height: 40px;
  color: var(--red);

}

.title > a {
  color: inherit;
}

.subtitle{
  margin-bottom: 22px;

  font-size: 15px;
  font-weight: var(--regular);
  line-height: 20px;
  color: #4E4E4E;
}

.buttons{
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  width: 100%;
  max-width: 396px;
  margin-bottom: 32px;

  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}




