
.header_nav_list {
  display: flex;   
  gap: 48px;
  align-items: center;

  padding-right: 16px;
  padding-left: 16px;

  list-style: none;

  transition: 0.4s;
}

.header_nav_list > li > a {
  color: var(--black);
  transition: 0.3s;
}

.header_nav_list > li > a:hover {
  color: var(--red);
}

@media (max-width: 1400px) {
  .header_nav_list {
    gap: calc(7vw - 45px);
  }  
}

/* @media (max-width: 600px) {
    .header_nav_list {
      display: block;
      list-style-type: decimal;
      column-count: 2;  
      padding: 0px;
    }

    .header_nav_list li {
      padding-top: 12px;
      padding-right: 30px;
    }
} */
