.product_color_container {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.text {
  color: var(--color-black);
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 13px;
  justify-content: space-between;
}

.item {
  cursor: pointer;

  position: relative;

  min-width: 64px;
  height: 32px;

  border-radius: 8px;
}

.active::before {
  content: '';

  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;

  width: 100%;
  height: 32px;

  border: 2px solid var(--color-red);
  border-radius: 8px;
}

.without_color {
  overflow: hidden;
}

.without_color:not(.active) {
  border: 1px solid var(--color-gray);
}

.without_color > div {
  position: absolute;
  z-index: 4;
  top: 48%;
  left: -1px;
  transform: rotate(157deg);

  width: 110%;
  height: 1px;

  background-color: var(--color-gray);
}

@media (max-width: 1365px) {
  .item {
    width: 20%;
  }

  .without_color > div {
    transform: rotate(166deg);
  }
}

@media (max-width: 1040px) {
  .without_color > div {
    transform: rotate(172deg);
  }
}

@media (max-width: 920px) {
  .without_color > div {
    transform: rotate(171deg);
  }
}

@media (max-width: 785px) {
  .without_color > div {
    transform: rotate(168deg);
  }
}

@media (max-width: 660px) {
  .without_color > div {
    transform: rotate(166deg);
  }
}


@media (max-width: 510px) {
  .without_color > div {
    transform: rotate(164deg);
  }
}