.product_color_container {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.text {
  color: var(--color-black);
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 13px;
  justify-content: space-between;
}

.item {
  cursor: pointer;

  position: relative;

  width: 64px;
  height: 32px;

  border-radius: 8px;
}


.active::before {
  content: '';

  position: absolute;
  top: 0;
  left: 0;

  width: 64px;
  height: 32px;

  border: 2px solid var(--color-red);
  border-radius: 8px;
}
