
.image{
  width: 230px;
  height: 150px;
  border-radius: 8px;
}
.container_content{
  display: flex;
  margin-bottom: 16px;
}
.text_container{
  padding-left: 16px;
}
.title{
  padding-bottom: 8px;

  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.38px;
}
.text{
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}