@import "src/common/styles/mixins";

.orders_container {
  @include content_container(40px);
}

.search_with_rest_filters {
  display: flex;
  gap: 15px;
}

.search_wrap {
  display: flex;
  align-items: center;

  width: 30%;
  min-width: 300px;
  height: 34px;
  padding: 5px 14px;

  background-color: #FFF;
  border-radius: 3px;
}

.search_wrap::before {
  content: '';

  position: relative;

  width: 16px;
  height: 16px;

  background: url('../../../../assets/icons/files/magnifier-dark-grey.svg'); /* using pseudoelement, need to rewrite I think */
  background-size: cover;
}

.search_input {
  display: block;

  width: 100%;
  height: 100%;
  padding-left: 6px;

  font-size: var(--fz-s);

  background-color: inherit;
}

.search_photo {
  opacity: 0.5;
}

.search_photo_clicked {
  opacity: 1;
}

.search_photo:hover {
  cursor: pointer;
}

.rest_filters {
  cursor: pointer;

  position: relative;
  top: 10px;
  left: 10px;

  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  color: #828282;
  text-decoration-line: underline;
}

.rest_filters_wrapper {
  display: flex;
  gap: 15px;
  align-items: flex-end;
  margin-top: 30px;
}

.filter {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 261px;
}

.filter_name {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 22px;
  color: #000;
}

.filter_input {
  height: 28px;
}

.filter_input,
.select_header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 11px;

  background-color: #FFF;
  border-radius: 4px;
}

.select_date_img {
  cursor: pointer;
}

.select_wrapper {
  background-color: #FFF;
  border-radius: 4px;
}

.filter_input_date::placeholder,
.select_header {
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 22px;
  color: #000;
}

.select_options {
  position: absolute;
  top: 300px;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-around;

  width: 261px;
  height: fit-content;
  margin-top: 26px;

  background-color: #FFF;
  border-radius: 4px;
  //box-shadow: 5px 0 10px rgb(0 0 0 / 25%);

  transition: 0.4s;
}

.option {
  cursor: pointer;
  padding-left: 10px;
}

.option:first-child {
  margin-top: 10px;
}

.option:last-child {
  margin-bottom: 10px;
}

.select_and_pagination_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.content_wrapper {
  margin-bottom: 40px;
  padding-top: 40px;
  background: #FFF;
  border-radius: 8px;
}

.filters_wrapper {
  margin-bottom: 18px;
  margin-left: 40px;
}

.filter_orders {
  cursor: pointer;
}

.filter_orders,
.filter_orders_active {
  display: inline-block;

  margin-right: 70px;

  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  color: #000;
}

.filter_orders_active {
  cursor: default;
  text-decoration: underline;
}

.table {
  border-spacing: 40px 22px;
  width: 100%;
  padding-bottom: 40px;
}

.table_body {
  margin-left: 10px;
}

.table_header {
  cursor: pointer;

  padding-bottom: 13px;

  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  line-height: 25px;
  color: #999;
  text-align: left;
}

.button_details {
  cursor: pointer;

  display: flex;
  justify-content: space-around;

  width: 100%;
  height: 100%;

  background: #FFF;
}

.button_details_wrapper_points {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.button_details_points,
.button_details_points::before,
.button_details_points::after {
  width: 3px;
  height: 3px;
  background: #28303F;
  border-radius: 100%;
}

.button_details_points::before {
  content: '';
  display: block;
  margin-top: 8px;
}

.button_details_points {
  margin: 3px;
}

.button_details_points::after {
  content: '';
  display: block;
  margin-top: 5px;
}

.info_visible {
  position: absolute;

  overflow: hidden;

  width: 50px;
  height: fit-content;
  margin-top: -4px;
  margin-left: 90px;

  background-color: #999;
  //box-shadow: 5px 0 10px rgb(0 0 0 / 25%);

  transition: 0.4s;
}

.info_invisible {
  display: none;
}

.table_data,
.table_data_inactive {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 17px;
  color: #000;
  letter-spacing: 0.38px;
}

.table_data {
  color: #000;
}

.table_data_inactive {
  color: #999;
}
