.productAbout {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  margin-bottom: 90px;
}

.productAbout__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.productAbout__specifications {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 337px;
}

.productAbout__property {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 569px;
}

.productAbout__stage {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 223px;
}

.product__specifications {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;

  font-family: Roboto;
  font-size: var(--fp);
  letter-spacing: 0.16px;
}

.product__specifications_key,
.product__specifications_value {
  display: block;

  height: 24px;

  font-family: Roboto;
  font-size: var(--fp);
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.16px;
}

.product__property,
.product__stage {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.product__property_key,
.product__stage_key {
  font-family: 'SF Pro Display Bold';
  font-size: 16px;
  letter-spacing: 0.16px;
}

.product__property_value,
.product__stage_value {
  display: block;

  min-height: fit-content;

  font-family: Roboto;
  font-size: var(--fp);
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.16px;
}

.product__property_more {
  cursor: pointer;

  display: block;

  width: fit-content;

  font-family: Roboto;
  font-size: var(--fp);
  font-weight: 400;
  line-height: 24px;
  color: #828282;
  letter-spacing: 0.16px;
}

.none {
  display: none;
}
