.requirement {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;

  padding-right: 24px;
}

@media screen and (max-width: 760px){
  .requirement{
    padding-right: 10px;
  }
}

.requirement_not_met {
  display: block;

  width: 8px;
  height: 8px;

  background: #FF4040;
  border-radius: 6px;
}

.requirement_met {
  display: block;

  width: 8px;
  height: 8px;

  opacity: 1;
  background: #34E145;
  border-radius: 6px;
}
