.ShowPage {
  display: flex; 
  flex-direction: column; 
  align-self: center; 
  width: 140px;   
  border-radius: 4px;  
}
.ShowPage__select {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center; 
  width: calc(100% - 14px);
  padding-left: 10px;  
}
.ShowPage_img {
  display: flex;
  width: 24px;
  height: 53px;
  padding-left: 8px;
  padding-right: 8px;
  object-fit: cover;
  align-items: center; 
  cursor: pointer;
}
.ShowPage_text {
  display: flex;  
  width: 100%;   
  align-items: center;
  font-size: var(--fp);
  font-family: 'SF Pro Display Medium';
  gap: 4px;  
}


.ShowPage__list {
  background-color: #ffffff;
  display: flex; 
  flex-direction: column;  
  position: absolute;  
  width: 50px;
  height: fit-content;
  margin-top: -200px;  
  margin-left: 90px;    
  overflow: hidden; 
  transition: 0.4s;  
  gap: 0px;
  box-shadow: 5px 0px 10px rgb(0, 0, 0, 0.25);    
}

.ShowPage__list_item {
  display: block;
  text-decoration: none; 
  text-align: center;
  width: 48px;  
  height: 40px;
  line-height: 40px;
  cursor: pointer; 
}
.ShowPage__list_item:hover {
  background-color: #000000;
  color: #ffffff;  
}