.wrapper {
  grid-area: personal_info;
  padding: 32px;
  background: var(--color-white);
  border-radius: 12px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.title {
  font-size: var(--fz-l2);
  font-weight:var(--bold);
  color: var(--color-black);
  letter-spacing: 0.16px;
}

.submit_button {
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .wrapper {
    padding: 16px;
  }
}