@import 'src/common/styles/mixins';

.wrapper {
  @include content_container;

  padding-top: 48px;

  .title {
    margin-bottom: 42px;

    font-family: var(--roboto);
    font-size: var(--fz-xxl);
    line-height: 100%;
    color: var(--color-black);
    text-align: left;
    letter-spacing: 0.41px;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  justify-content: space-between;
}

.order_items {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
}

.empty_cart {
  max-width: 747px;
  margin: 0 auto;

  line-height: 100%;
  text-align: center;
  letter-spacing: 0.41px;
}
