@import 'src/common/styles/mixins';

.wrapper {
  @include content_container;

  padding-top: 48px;

  .title {
    margin-bottom: 42px;

    font-family: var(--roboto);
    font-size: var(--fz-xxl);
    line-height: 34px;
    color: var(--color-black);
    text-align: left;
    letter-spacing: 0.41px;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  justify-content: space-between;
}

.order_items {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
}

.order_items_details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;

  margin-bottom: 32px;
}

.header_item {
  display: flex;
  align-items: center;
  margin-bottom: 14px;

  .checkbox_header {
    margin-right: 34px;
  }

  .supplier_information {
    display: flex;
    align-items: center;

    .supplier_rating {
      margin-left: 2px;
      font-style: normal;
      line-height: 20px;
      letter-spacing: 0.16px;
    }

    .supplier_link {
      display: flex;
      align-items: center;
    }
  }
}

.supplier_name {
  margin-left: 8px;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 0.16px;
}

.arrow {
  width: 16px;
  height: 16px;
  margin-left: 8px;
}

.supplier_name {
  margin-left: 8px;

  font-size: var(--fz-m);
  font-weight: var(--regular);
  font-style: normal;
  line-height: 20px;
  letter-spacing: 0.16px;
}

.arrow {
  width: 16px;
  height: 16px;
  margin-left: 8px;
}

.cart_list {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;

  background: var(--color-white);
  border-radius: 8px;
}

.track_info {
  display: flex;
  gap: 24px;
  align-items: center;

  padding: 12px 32px;

  background: rgba(252, 19, 61, 0.2);
}
