@import '../styles/mixins';

@include items();

.item {
  @include item(relative);

  cursor: no-drop;
}

.color_name {
  @include item();

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 32px;

  border: 2px solid var(--color-gray-light);
}

.color_image {
  @include item();

  min-height: 32px;
  border: 2px solid var(--color-gray-light);
}

.amount {
  @include amount_info(--color-gray-light);
  @include amount_elements_size_between_quantity(--color-gray-light)
}


