.AddressPopup {
  display: flex;
  flex-direction: row;
  align-items: center;  
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  background: #00000033;
  transition: 0.3s; 
  scale: 0;  
  z-index: 20;  
}

.AddressPopup__modal {  
  display: flex;
  flex-direction: column;    
  background-color: #ffffff; 
  padding: 32px; 
  gap: 32px;    
}

.AddressPopup__modal_exit {
  position: relative;
  left: calc(100% + 96px);
  margin-left: -48px;
  top: -32px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #ffffff;
  background-image: url('../../../../assets/img/icons/exit-modal.svg');
  background-size: auto;
  background-position: center;
  cursor: pointer;
}

.AddressPopup__row1 {
  display: flex;  
  margin-top: -80px;
  flex-direction: row;  
  width: 100%;
  align-self: start;
  justify-content: space-between;  
}

.AddressPopup__checkbox {
  display: flex;
  flex-direction: row;    
  gap: 48px;
}
.AddressPopup__block {
  display: flex;
  flex-direction: column; 
  width: 100%;  
}
.AddressPopup__block_title {
  font-size: 16px;   
  font-family: 'SF Pro Display Bold';
  letter-spacing: 0.38px; 
}
.AddressPopup__block_row2 {
  display: flex;
  flex-direction: row; 
  gap: 15px;  
  width: 100%;
}
.AddressPopup__block_row2-box {
  min-width: 309px;
  margin-right: 8px;
  margin-top: 16px;
}
.AddressPopup__block_row2-box-title {
  margin-bottom: 8px;  
  color: #828282;
}

.AddressPopup__phone {
  margin-top: 16px;  
}
.AddressPopup__phone_number {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 23px;
  margin-top: 8px;
}
.AddressPopup__phone_title {
  color: #828282;
}
.AddressPopup__phone_number-select {
  width: 160px;    
}
.AddressPopup__phone_number>input {
  width: 458px;  
  height: 44px;
  background-color: #f2f2f2;
  padding-left: 16px;
  border-radius: 4px;
}

.AddressPopup__button {
  display: flex;
  width: 100%;
  height: 44px;
  background: #f2f2f2;
  color: #828282;
  align-items: center;
  justify-content: center;
  border-radius: 4px;  
  transition: 0.3s;
  cursor: pointer;  
}

.AddressPopup__button:hover {
  background: #000000;
  color: #ffffff;    
}