.wrapper {
  position: relative;
}

.select {
  cursor: pointer;

  box-sizing: border-box;
  width: 100%;
  min-width: 160px;
  padding: 12px 10px 15px 16px;

  font-size: 14px;
  color: #000000;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #F2F2F2;
  border: none;
  border-radius: 4px;
  outline: none;
}

.option{
    
}

.icon{
  position: absolute;
  top: 50%;
  right: 17px;
  transform: translateY(-50%) rotate(90deg);
}

.arrow{
  width: 8px;
  height: 14px;
}

.error{
  position: absolute;
  bottom: -15px;
  left: 0;

  font-size: 13px;
  color: #FF4040;
}