.filter_price {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.filter_price_range {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.filter_price_range_from,
.filter_price_range_to {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 8px;
}

.filter_price_range_from_text,
.filter_price_range_to_text {
  display: flex;
  flex-direction: column;
  align-self: start;

  height: 22px;
  margin-bottom: 4px;

  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #828282;
}

.filter_price_range_from_input,
.filter_price_range_to_input {
  display: flex;
  flex-direction: column;

  width: calc(100% - 16px);
  height: 49px;
  margin-bottom: 13px;
  padding-left: 16px;

  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 49px;
  text-align: start;

  border: 2px #E5E5E5 solid;
}

.filter_price_range_from_input {
  border-radius: 4px 0 0 4px;
}

.filter_price_range_to_input {
  border-radius: 0 4px 4px 0;
}

.filter_price_discount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  margin-top: 13px;
}

.filter_price_discount_text {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.filter_price_checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  width: 257px;

  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 17px;
}
