.container{
  margin: 48px 148px 44px 148px;
}

.title{
  margin-bottom: 28px;

  font-size: 34px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0.41px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}