.images_box{
  text-transform: uppercase;
}

.image_box_main{
  position: relative;

  width: 100%;
  max-width: 1440px;
  height: auto;
  margin: 0 auto 32px;
}

.image_box_main > img {
  display: block;

  width: 100%;
  max-width: 1440px;
  height: 100%;
  max-height: 388px;

  object-fit: contain;
}

.grid_item_main_ad {
  position: absolute;
  top: 50%;
  right: 32px;
  transform: translateY(-50%);

  max-width: 586px;
  padding: 33px 100px 24px 27px;

  font-family: var(--roboto);
  font-style: normal;
  color: var(--color-white);

  background-color: var(--color-accent);
  border-radius: 40px;
}

.grid_item_main_ad > span:first-child{
  display: block;
  font-size: 106px;
  font-weight: var(--bold);
  line-height: 124px;
}

.grid_item_main_ad > span:nth-child(2){
  font-family: 'SF Pro Display', sans-serif;
  font-size: 62px;
  font-weight: var(--semi-bold);
  line-height: 78px;

}

.grid_item_main_ad > span:last-child{
  font-size: 20px;
  font-weight: var(--semi-bold);
  line-height: 26px;
}

.images_box_grid{
  display: grid;
  grid-template-areas:
    "item1 item2 item2"
    "item1 item3 item4";
  gap: 12px;
  padding: 0 32px;
}



.grid_item1, .grid_item2, .grid_item3, .grid_item4{
  position: relative;


  font-family: var(--roboto);
  font-style: normal;
  color: var(--color-accent);

  border-radius: 12px;
}

.grid_item_ad{
  position: absolute;
}

.grid_item1{
  grid-area: item1;
}

.grid_item1 > img{
  width: 100%;
  max-width: 682px;
  height: 100%;
  max-height: 500px;

  object-fit: cover;
  border-radius: 12px;
}

.grid_item1 > .grid_item_ad{
  top: 170px;
  left: 37px;

  max-width: 240px;

  font-size: 50px;
  font-weight: var(--bold);
  line-height: 42px;
}

.grid_item2{
  grid-area: item2;
}

.grid_item2 > img{
  width: 100%;
  max-width: 682px;
  height: 100%;
  max-height: 244px;

  object-fit: contain;
}

.grid_item2 > .grid_item_ad{
  top: 96px;
  right: 63px;
  max-width: 230px;
}

.grid_item2 > .grid_item_ad > span:first-child{
  font-size: 24px;
  font-weight: var(--medium);
  line-height: 85%;
}

.grid_item2 > .grid_item_ad > span:last-child{
  display: block;
  font-size: 45px;
  font-weight: var(--semi-bold);
  line-height: 85%;
}

.grid_item3{
  grid-area: item3;
}

.grid_item3 > img{
  width: 100%;
  max-width: 335px;
  height: 100%;
  max-height: 244px;

  object-fit: contain;
}

.grid_item3 > .grid_item_ad{
  top: 62px;
  left: 20px;

  max-width: 160px;

  font-size: 30px;
  font-weight: var(--bold);
  line-height: 85%;
}

.grid_item4{
  grid-area: item4;
}

.grid_item4 > img{
  width: 100%;
  max-width: 335px;
  height: 100%;
  max-height: 244px;

  object-fit: contain;
}

.grid_item4 > .grid_item_ad{
  top: 62px;
  left: 20px;

  max-width: 140px;

  font-size: 30px;
  font-weight: var(--bold);
  line-height: 85%;
}