.slider {
    overflow: hidden;
}
.slider .swiper_container1 {
    width: 100%;
    height: 100%;
}
.slider .swiper_container2 {
    width: 100%;
    height: 100%;
}
.flex_container {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
    max-width: 106px;
    margin-right: 8px;
}

.thumbs {
    height: 562px;
}

.images {
    height: 853px;
    width: 568px;
}

.slider_showed img {
    display: block;
    height: 853px;
    width: 568px;
    object-fit: cover;
}

.preview_image,
.preview_image img {
    display: block;
    height: 106px;
    width: 100%;
    object-fit: cover;
}



