.productStatistics {
  /* width: 338px; */
  display: flex;
  flex-direction: column;
}

.sizes{
  margin-bottom: 70px;
}

.sizes-title{
  margin-bottom: 8px;

  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
}

.productStatistics__basic {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;
}

.productStatistics__demend {
  display: flex;
  flex-direction: column;
  gap: 8px;
  /*width: fit-content;*/
}

.productStatistics__demend_parameter {
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

.productStatistics__demend_value {
  font-family: 'SF Pro Display Bold';
  font-size: 16px;
  letter-spacing: 0.16px;
}

.productStatistics__demend_note {
  margin-top: 4px;

  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #828282;
}

.productStatistics__price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 24px;
  margin-top: 37px;
}

.productStatistics__price_change {
  font-family: Roboto;
  font-size: var(--fp);
  font-weight: 400;
}

.productStatistics__price_range {
  font-family: Roboto;
  font-size: var(--fp);
  font-weight: 400;
  color: #828282;
}

.productStatistics__condition {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 76px;
  margin-top: 55px;

  font-family: Roboto;
  font-size: var(--fp);
  font-weight: 400;
  color: #828282;
}
