.table_row {
  display: table-row;
  width: 100%;
}


.table_head {
  width: 100%;
  padding: 10px;

  font-size: var(--fz-m);
  font-weight: var(--medium);
  color: var(--color-black);
  text-align: left;

  background-color: var(--color-white);

  &[data-column="Checkbox"] {
    position: sticky;
    left: 3px;
    width: 4%;
    outline: 3px solid var(--color-white);
  }
  
  &[data-column="SKU"] {
    position: sticky;
    left: 60px;

    width: 7%;

    text-align: right;

    outline: 3px solid var(--color-white);
  }
  
  &[data-column="Picture"] {
    width: 6%;
  }
  
  &[data-column="Name"] {
    width: 29%;
  }
  
  &[data-column="Creation Date"] {
    width: 12%;
  }

  &[data-column="Status"] {
    width: 7%;
  }
  
  &[data-column="Price"] {
    width: 6%;
    text-align: right;
  }
  
  &[data-column="Units"] {
    width: 7%;
    text-align: right;
  }
  
  &[data-column="Rating"] {
    width: 8%;
    text-align: center;
  }
  
  &[data-column="Visibility"] {
    width: 7%;
    text-align: center;
  }
}
