@import "../../../common/styles/mixins.scss";

.container {
  @include content_container;
  margin: 48px auto;
}

.title{
  margin-bottom: 28px;

  font-size: 34px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0.41px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}