@import "src/common/styles/mixins";

.container {
  @include content_container(40px);
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 28px;
}

.container .link_text {
  font-size: var(--fz-m);

  &:hover {
    text-decoration: underline;
  }
}