.activeButton,
.commonButton {
    height: 44px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.16px;
}

.activeButton {
    background: #828282;
    color: #FFFFFF; 
}

.commonButton {
    background: #F2F2F2;
    color: #828282;
    cursor: pointer;
}
.commonButton:hover { 
    box-shadow: inset 0px 0px 20px rgba(0,0,0,0.1);
}

.tab {
    width: 200px;
    margin-bottom: 32px;
}

.logInBtnInactive,
.logInBtnActive {
    width: 400px;
}

.logInBtnActive {
    background: #000000;
}

.socialNetwork {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
}
