.page_wrapper {
  overflow-x: hidden;
  padding-right: 32px;
  padding-left: 32px;
}

.wrapper_btn_img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  background-color: #F5F5F5;
  border-radius: 50%;
}

.vertical_line {
  display: inline-block;

  width: 1px;
  height: 17px;
  margin: 0 12px;

  background-color: var(--color-black);
}

.supplier_main_page_link {
  cursor: pointer;
  color: var(--color-black);
}

.title {
  padding-right: 17px;
  border-right: 3px solid var(--color-black);
}

.btn_img {
  display: block;
  width: 40%;
}

.btn_name {
  display: none;
}

.content_wrapper {
  display: flex;
}

.select_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.select_header_wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.select_header {
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
  color: var(--color-black);
  letter-spacing: 0.38px;
}

.select_options {
  position: absolute;
  top: 25px;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 5px;

  width: 130px;
  height: fit-content;
  margin-top: 26px;

  background-color: var(--color-white);
  border-radius: 3px;

  transition: 0.4s;
}

.option {
  padding-left: 10px;
}

.logo_img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.text_link {
  color: var(--color-accent)
}