.categories{
  display: grid;
  margin-bottom: 16px;
}

.item{
  justify-content: space-around;
  text-align: center;
}

.button{
  cursor: pointer;

  font-family: var(--roboto);
  font-size: var(--fz-l2);
  font-weight: var(--semi-bold);
  color: var(--color-black);

  background: none;
}

.btn_active{
  color: var(--color-accent);
  transition: all 0.3s;
}

.border_line{
  height: 3px;
  background: var(--color-gray);
  border-radius: 8px;
}

.border_line_active{
  position: relative;
  height: 3px;
  background-color: var(--color-accent);
  transition: all 0.3s;
}
