.footer{
  padding: 32px 0;
}
.links{
  font-family: var(--roboto);
  font-size: 13px;
  font-weight: var(--medium);
  font-style: normal;
  line-height: 18px;
  color: var(--color-black);
  text-align: center;
}

.links > a{
  color: var(--color-accent);
  text-decoration-line: underline;
}

.is_disabled {
  cursor: not-allowed;
  text-decoration: none;
  opacity: 0.5;
}
