.colorWrapper {
    position: relative;
}

.color,.growth {
    opacity: 0;
    position: absolute;
    width: 64px;
    height: 57px;
    left: 0;
    margin: 0;
    cursor: pointer;
}

.growth{
    width: 88px;
    height: 30px;
}

.colorContainer,
.growthContainer {
    width: 64px;
    height: 57px;
    border-radius: 4px;
    border: #D8D8D8 1px solid;
    box-sizing: border-box;
}

.borderContainer {
    border: #000000 2px solid;
}

.growthContainer {
    width: 88px;
    height: 30px;
}

.colorBlock {
    box-sizing: border-box;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid #D8D8D8;
    border-radius: 2px;
}

.colorValue,.growthValue {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999999;
    font-size: 14px;
}

.growthValue{
    padding: 4px 8px;
}

.blue {
    background: #6DDCFF;
}

.red {
    background: #FF0000;
}

.white {
    background: #FFFFFF;
}

.green {
    background: #53DA71;
}

.beige {
    background: #F9F3ED;
}

.yellow {
    background: #FFD600;
}

.sand {
    background: #F0E6D1;
}

.gray {
    background: #BFBFC0;
}

.black {
    background: #484848;
}

.indigo {
    background: #487BFF;
}

.lilac {
    background: #BE58E1;
}

.purple {
    background: #931FEE;
}

.orange {
    background: #FF9900;
}

.metallic {
    background: linear-gradient(257.61deg, #000000 0%, #DEDEDE 51.6%, #4E4E4E 100%);
}

.bronze {
    background: linear-gradient(257.61deg, #856565 0%, #D3BFBF 51.6%, #665247 100%);
}

.nocolor::after {
    content: '';
    position: absolute;
    width: 66.5px;
    border-bottom: 1px solid #D8D8D8;
    transform: rotate(-23deg);
    left: -1px;
    top: 15px;
    cursor: pointer;
}