.wrapper {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 48px;
  align-items: center;

  width: 100%;
  padding: 26px 0;

  background-color: #FFF;
  border-bottom: 1px solid var(--color-light-gray);
}

.inner_buttons {
  display: flex;
  gap: 32px;
}

.wrapper_btn {
  position: relative;
}

.menu_wrapper {
  position: absolute;
  z-index: -10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: 0;
  background-color: rgba(0, 0, 0, 0.01);

  transition: 0.3s;
}

.menu_active {
  z-index: 10;
  opacity: 1;
}

.menu_main {
  top: 60px;
}

.menu_profile {
  top: 55px;
}

.menu {
  position: absolute;
  /* top: 60px; */
  right: -72px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 165px;
  padding: 24px;

  font-family: var(--roboto);
  font-size: 18px;
  font-weight: var(--medium);
  font-style: normal;
  line-height: 24px;
  color: var(--color-black);

  opacity: 0;
  background: var(--color-white);
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

.menu_active {
  z-index: 999;
  transform: translateY(0);

  visibility: visible;
  opacity: 1;

  transition: 0.5s ease;
}

.menu_inactive {
  z-index: 10;
  transform: translateY(-20px);

  visibility: hidden;
  opacity: 0;

  transition: 0.5s ease;
}

.menu_supplier {
  right: 3.5px;
}

.menu_main {
  top: 60px;
}

.menu_profile {
  top: 55px;
}

.item {
  word-break: break-word;
}

.item a {
  color: inherit;
  transition: all 0.3s;
}

.item a:hover {
  color: var(--color-accent);
}

.logout_btn {
  padding: 0;
  font-size: 18px;
  transition: all 0.3s;

  &:hover {
    color: var(--color-accent);
  }
}