.menu_container {
  position: absolute;
  z-index: 100;
  left: 0;

  display: flex;
  gap: 34px;

  min-width: 600px;
  min-height: 464px;
  padding: 24px;

  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}