.table_row {
  position: relative;
  display: table-row;
  width: 100%;

  &::before {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: var(--color-white-ivory);
  }
}

.table_deactivated {
  .table_td:not(:first-child) {
    opacity: .4;
  }
}

.table_td {
  max-height: 48px;
  padding: 10px;

  font-size: var(--fz-m);
  font-weight: var(--regular);
  color: var(--color-black);

  background-color: var(--color-white);

  &[data-column="SKU"] {
    text-align: right;
  }
  
  &[data-column="Price"] {
    text-align: right;
  }
  
  &[data-column="Units"] {
    text-align: right;
  }
  
  &[data-column="Rating"] {
    display: flex;
    justify-content: center;
    padding: 24px 0;
  }
  
  &[data-column="Visibility"] {
    text-align: center;
  }
}

.image {
  width: 48px;
  height: 48px;
  border-radius: 8px;
}

.datetime_container {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  width: max-content;
}

@media (max-width: 769px) {
  .image {
    width: 40px;
    height: 40px;
    border-radius: 8px;
  }
}