.table_row {
  display: grid;
  grid-template-columns: 4.50% 8.48% 6.83% 33.76% 10.12% 8.33% 6.60% 9.86% 8% 4%;
  grid-template-rows: 1fr;
  align-items: center;

  margin-top: 43px;
}

.table_deactivated {
  .table_td {
    opacity: .55;
  }
}

.table_td {
  height: 48px;
  max-height: 48px;

  font-size: var(--fz-s);
  font-weight: var(--regular);
  color: var(--color-black);

  background-color: var(--color-white);
}


.image {
  width: 48px;
  height: 48px;
  border-radius: 8px;
}

.datetime_container {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  width: max-content;
}

.formatted_time {
  align-self: center;
}

.center {
  text-align: center;
}

@media (max-width: 1025px) {
  .table_td {
    font-size: var(--fz-xs2);
  }
}

@media (max-width: 769px) {
  .table_td {
    font-size: var(--fz-xxs);
  }

  .image {
    width: 40px;
    height: 40px;
    border-radius: 8px;
  }
}