.table_row {
  display: table-row;
  width: 100%;
}

.table_deactivated {
  .table_td:not(:first-child) {
    opacity: .4;
  }
}

.table_td {
  max-height: 48px;
  padding: 10px;

  font-size: var(--fz-m);
  font-weight: var(--regular);
  color: var(--color-black);

  background-color: var(--color-white);


  &[data-column="Checkbox"] {
    position: sticky;
    left: 3px;
    outline: 3px solid var(--color-white);
  }

  &[data-column="SKU"] {
    position: sticky;
    left: 60px;
    text-align: right;
    outline: 3px solid var(--color-white);
  }
  
  &[data-column="Price"] {
    text-align: right;
  }
  
  &[data-column="Units"] {
    text-align: right;
  }
  
  &[data-column="Rating"] {
    width: 8%;
  
  }
  
  &[data-column="Visibility"] {
    width: 7%;
    text-align: center;
  }
}

.image {
  width: 48px;
  height: 48px;
  border-radius: 8px;
}

.datetime_container {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  width: max-content;
}

@media (max-width: 769px) {
  .image {
    width: 40px;
    height: 40px;
    border-radius: 8px;
  }
}