.container{
  padding: 64px 32px;
}

.container_header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container_button{
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 24px;
}

.button_red{
  padding: 14px 52px;
}

.button_back{
  padding: 14px 44px;
  background: #000;
}

.title{
  display: flex;

  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  text-align: center;
}

.info_text{
  font-size: 34px;
  font-weight: 700;
  line-height: 34px;
}

.container_info{
  padding-top: 80px;
}
