.label {
  cursor: pointer;

  display: inline-flex;
  gap: 15px;
  align-items: center;

  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  color: #000;
  letter-spacing: -0.24px;
}

.input_notification {
  cursor: pointer;

  position: relative;

  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: left;

  padding: 1px;

  appearance: none;
  background: #F2F2F2;
  border: none;

  transition: 0.5s;
}

.input_notification::before,
.input_notification::after {
  content: '';
  position: absolute;
  display: inline-block;
}

.input_notification::before {
  transform: matrix(-1, 0, 0, 1, 0, 0);

  background: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.04);
  border-radius: 100px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15), 0 1px 1px rgba(0, 0, 0, 0.16),
    0 3px 1px rgba(0, 0, 0, 0.1);
}

.input_notification::after {
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15), 0 1px 1px rgba(0, 0, 0, 0.16),
    0 3px 1px rgba(0, 0, 0, 0.1);
}

.input_notification:checked {
  justify-content: right;
  background: #FC133D;
}

.input_notification:disabled {
  /*justify-content: right;*/
  /*display: none;*/
  background: #999;
}

.input_default {
  cursor: pointer;

  position: relative;

  width: 24px;
  height: 24px;

  appearance: none;
  background: #F4F4F4;
  border: none;
  border-radius: 4px;

  transition: 0.1s;
}

.input_default:checked {
  background: #FC133D;
}

.input_default:checked::after {
  content: '';

  position: absolute;
  top: 0;

  display: block;

  width: 24px;
  height: 24px;

  background: url('../../assets/icons/files/check-mark-white.svg') no-repeat center;
}

.md {
  width: 52px;
  height: 32px;
  border-radius: 37px;
}

.md::before {
  width: 28px;
  height: 28px;
}

.sm {
  width: 36px;
  height: 24px;
  border-radius: 50px;
}

.sm::before {
  width: 18px;
  height: 18px;
}