@mixin input {
  cursor: pointer;

  position: relative;

  appearance: none;
  background: var(--color-light-gray);
  border: none;

  transition: 0.1s;

  &:focus {
    outline: 1px solid var(--color-medium-gray);
  }
}

.label {
  cursor: pointer;

  display: inline-flex;
  gap: 15px;
  align-items: center;

  width: max-content;

  font-size: var(--fz-s2);
  font-weight: var(--regular);
  font-style: normal;
  line-height: 20px;
  color: var(--color-black);
  letter-spacing: -0.24px;

  &:has(input:disabled) {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
  }
}

.input_notification {
  @include input;

  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: left;

  width: 52px;
  height: 32px;

  border-radius: 37px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    display: inline-block;
  }

  &::before {
    transform: matrix(-1, 0, 0, 1, 0, 0);

    width: 28px;
    height: 28px;

    background: var(--color-white);
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: 100px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15), 0 1px 1px rgba(0, 0, 0, 0.16),
      0 3px 1px rgba(0, 0, 0, 0.1);
  }

  &::after {
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15), 0 1px 1px rgba(0, 0, 0, 0.16),
      0 3px 1px rgba(0, 0, 0, 0.1);
  }

  &:checked {
    justify-content: right;
    background: var(--color-accent);
  }

  &:disabled {
    opacity: 0.5;
  }
}

.input_default {
  @include input;

  width: 24px;
  height: 24px;
  border-radius: 4px;

  &:checked {
    background: var(--color-accent);
  }

  &:checked::after {
    content: '';

    position: absolute;
    top: 0;

    display: block;

    width: 24px;
    height: 24px;

    background: url('../../assets/icons/files/check-mark-white.svg') no-repeat center;
  }
}

.disabled {
  opacity: 0.5;
}
