@import "src/common/styles/mixins";

.wrapper {
  padding: 60px 0 80px;
  background-color: rgba(252, 19, 61, 0.02);
}

.container {
  @include content_container;

  display: flex;
  justify-content: space-between;
}

.subscribe_title {
  font-size: var(--fz-xxl2);
  font-weight: var(--semi-bold);
  letter-spacing: 0.00001em;
}

.subscribe_subtitle {
  margin-bottom: 23px;
  font-size: var(--fz-xl);
  font-weight: var(--bold);
}

.input_box {
  display: grid;
  grid-template-columns: max(393px) 162px;
  gap: 12px;
  align-items: center;
}

.phone_title {
  margin-bottom: 12px;

  font-family: var(--roboto);
  font-size: var(--fz-l2);
  font-weight: var(--semi-bold);
  color: var(--color-black);
}


.our_media {
  display: flex;
  gap: 15px;
  justify-content: space-around;
  width: 100%;
}

.text > div {
  padding: 8px 0;
}


@media only screen and (max-width: 1130px) {
  .container {
    align-items: center;
    justify-content: space-around;
  }

  .feedback_wrapper > a > svg {
    width: 30px;
  }

  .phone_title {
    margin-bottom: 6px;
  }

  .social_network_wrapper > div > div {
    margin-bottom: 6px;
  }


  .our_media {
    flex-direction: column;
    align-items: start;
    width: 230px;
  }


  .subscribe_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;


    .text {
      display: flex;
      flex-direction: column;
    }
  }

}


@media only screen and (max-width: 890px) {
  .wrapper {
    padding: 32px 0 40px;
  }

  .container {
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  .feedback_wrapper, .social_network_wrapper > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .social_network_wrapper {
    .title {
      margin-bottom: 10px;
    }
  }

  .our_media {
    flex-direction: row;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .input_box {
    button {
      padding: 15px;
    }
  }

}

@media only screen and (max-width: 620px) {
  .subscribe_title {
    font-size: var(--fz-xl);
  }

  .subscribe_subtitle {
    font-size: var(--fz-s);
  }

  .our_media {
    flex-direction: column;
    width: 230px;
  }

  .input_box {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: stretch;

    div > input {
      width: 341px;
      font-size: var(--fz-s2);
    }

    button {
      font-size: var(--fz-s2);
    }
  }
}

@media only screen and (max-width: 375px) {
  .subscribe_title {
    font-size: var(--fz-l2);
  }

  .subscribe_subtitle {
    font-size: var(--fz-xs2);
  }

  .input_box {
    div > input {
      width: 290px;
    }

    button {
      width: 290px;
    }
  }
}