.paginator {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: var(--fp);
  font-family: 'SF Pro Display Medium';
  line-height: 24px;
}
.paginator__left_arrow {
  width: 24px;
  height: 24px;
  background: url('../../../assets/img/icons/arrow-slide-left.svg');
}

.paginator__right_arrow {
  width: 24px;
  height: 24px;
  background: url('../../../assets/img/icons/arrow-slide-right.svg');
}

.paginator__left,
.paginator__right {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.paginator__numbers {
  display: flex;
  flex-direction: row;
  width: fit-content;
  gap: 9px;
  justify-content: space-between;
}
.paginator__numbers > div {
  text-align: center;
  height: 25px;
  line-height: 25px;
  width: 24px;
}

.activePage {
  background-color: #000000;
  border-radius: 3px;
  color: #ffffff;
}

.invisible {
  display: none;
}

.cursor {
  cursor: pointer;
}
