.search {
  display: flex;
  background-color: var(--back);
  width: calc(100% - 550px);
  height: 34px;      
  padding: 5px 14px;
  border-radius: 3px;   
  align-items: center;  
  margin-right: 43px;
}
.search__text {     
  display: block; 
  font-size: var(--fp);    
  padding-left: 6px;
  height: 100%; 
  width: 100%;    
  background-color: var(--back);
}  

.search::before {
  position: relative; 
  content: '';   
  width: 16px;
  height: 16px; 
  background: url('../../../assets/img/icons/search.png');    
  background-size: cover;
} 
.search-photo:hover {
  cursor: pointer;
}