.select {
  display: flex;
  flex-direction: column;
  align-self: center;

  width: 100%;

  border-radius: 4px;
}

.select_select {
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: calc(100% - 2px);

  background: #F4F4F4;
  border-radius: 12px;
}

.select_img {
  display: flex;
  align-items: center;

  width: 24px;
  height: 44px;
  padding-right: 8px;
  padding-left: 8px;

  object-fit: cover;
}

.select_text {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  padding: 12px  0 12px 16px;

  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.select_list {
  position: absolute;

  overflow: hidden;
  display: flex;
  flex-direction: column;

  width: 316px;
  height: fit-content;
  margin-top: 44px;

  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0 5px 10px rgb(0 0 0 / 25%);

  transition: 0.4s;
}

.select_list_item {
  cursor: pointer;

  display: block;

  width: calc(100% - 10px);
  height: 40px;
  padding-left: 10px;

  font-family: Roboto, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  text-decoration: none;
}

.select_list_item:hover {
  color: #FFF;
  background-color: #000;
}
