@import "src/common/styles/mixins";

@include seller_section();

.seller_cabinet {
  background: var(--color-super-light-gray);
}

.seller_cabinet_content_wrapper {
  display: grid;
  grid-column-gap: 12px;
  grid-template-areas:
    'personal_info business_info notifications'
    'account_details business_info notifications'
    'account_details business_info .'
    'account_details business_info .';
  grid-template-columns: minmax(auto, 450px) minmax(auto, 622px) minmax(auto, 280px);

  max-width: var(--main-content-width);
  margin: 0 auto;
  padding: 12px 32px 17px;
}

.personal_info {
  grid-area: personal_info;
}

.business_info {
  grid-area: business_info;
}

.account_details {
  display: flex;
  grid-area: account_details;
  flex-direction: column;
  gap: 8px;
}

.notifications {
  grid-area: notifications;
}