@import 'src/common/styles/mixins';

@include seller_section();

.wrapper {
  background: var(--color-white-snow);
}

.content_container {
  display: grid;
  grid-column-gap: 12px;
  grid-template-areas:
    'personal_info business_info notifications'
    'account_managment business_info notifications';
  grid-template-columns: minmax(auto, 450px) minmax(auto, 622px) minmax(auto, 280px);

  max-width: var(--main-content-width);
  margin: 0 auto;
  padding: 12px 32px 17px;
}

.personal_info {
  grid-area: personal_info;
}

.account_management {
  @include account_layout;

  grid-area: account_managment;
}

.business_info {
  grid-area: business_info;
}

.notifications {
  grid-area: notifications;
}

@media only screen and (max-width: 1250px) {
  .content_container {
    grid-template-areas:
      'personal_info business_info'
      'account_managment notifications';
    grid-template-columns: minmax(auto, 500px) minmax(auto, 700px);
    padding: 12px 16px;
  }


  .business_info > div {
    margin-bottom: 50px;
  }

  .account_management {
    gap: 36px;
  }

}

@media only screen and (max-width: 1000px) {
  .content_container {
    grid-template-columns: minmax(auto, 450px) minmax(auto, 550px);
  }

  .notifications, .business_profile, .personal_info, .account_management > div {
    padding: 32px;
  }

}

@media only screen and (max-width: 768px) {
  .content_container {
    grid-template-areas:
      'personal_info'
      'business_info'
      'notifications'
      'account_managment';
    grid-template-columns: auto;
  }

  .notifications {
    padding: 16px 32px;
  }

  .business_info > div {
    margin-bottom: 10px;
  }

  .account_management {
    gap: 8px;
  }

}

@media only screen and (max-width: 485px) {
  .content_container {
    padding: 12px 0 32px;
  }

  .business_info > div {
    margin-bottom: 32px;
  }


  .notifications, .business_profile, .personal_info, .account_management > div, .section {
    padding: 16px;
  }
}