.search_filter {
  display: flex;
  align-items: center;

  width: calc(100% - 30px);
  height: 34px;
  margin-right: 43px;
  padding: 5px 14px;

  border: 1px #E5E5E5 solid;
  border-radius: 4px;
}

.search_filter_text {
  display: block;

  width: 100%;
  height: 100%;
  padding-left: 6px;

  font-size: var(--fz-s2);
}

.search_filter::before {
  content: '';

  position: relative;

  width: 16px;
  height: 16px;

  background: url('~assets/icons/files/magnifier-dark-grey.svg'); /* using a pseudoelement, need to rewrite I think */
  background-size: cover;
}