.buttonOff,
.buttonOn {
  cursor: pointer;

  box-sizing: border-box;
  width: 100%;
  padding: 12px 10px 15px 16px;

  font-size: 14px;

  border: none;
  border-radius: 4px;
  outline: none;
}

.buttonOn {
  color: #FFF;
  background: #000;
}

.buttonOff {
  color: #828282;
  background: #F2F2F2;
}
