.shopItem {
    padding-top: 34px;
    width: 100%;
}

.shopItem__header {
    display: flex;
    justify-content: start;
    align-items: center;
}

.shopItem__header_checkbox {
    height: 24px;
    width: 24px;
    margin-right: 34px;
}

.shopItem__header_star {
    width: 16px;
    height:16px;
    margin-right: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../../../assets/img/icons/Star 1.svg');
}

.shopItem__header_rating {
    margin-right: 8px;
}

.shopItem__header_arrowRight {
    width: 5px;
    height:10px;
    margin-left: 14px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../../../assets/img/icons/arrowRight.svg');
}

.shopItem__footer {
    display: flex;
    padding: 12px 32px;
    margin-top: 32px;
    background-color: rgba(252, 19, 61, 0.2);
    border-radius: 8px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.16px;
}

.shopItem__footer_dot {
    width: 24px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../../../assets/img/icons/dot.svg');
}

.shopItem__footer_method {
    text-decoration: underline;
    cursor: pointer;
}
