.logo{
  font-family: var(--roboto);
  font-size: 25px;
  font-weight: var(--bold);
  font-style: normal;
  line-height: 25px;
  color: #FC133D;
  letter-spacing: 0.38px;

}

.logo > a {
  color: inherit;
}