@mixin form_subtitle {
  font-size: var( --fz-l-2);
  font-weight: var(--bold);
  text-align: left;
}

@mixin auth_pages_form {
  .form {
    display: flex;
    flex-direction: column;
    gap: 24px;

    width: 100%;
    max-width: 396px;
    margin-top: 32px;
    margin-bottom: 24px;
  }

  .input_wrapper {
    width: 100%;
  }

  .button_submit {
    width: 100%;
  }
}

@mixin content_container {
  width: 100%;
  max-width: var(--main-content-width);
  margin: 0 auto;
  padding: 0 32px;

  @media only screen and (max-width: 768px) {
    padding: 0 16px;
  }
}

@mixin seller_section_header {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  .title {
    color: var(--color-black);
    letter-spacing: 0.16px;
  }
}

@mixin seller_section {
  .section {
    margin-bottom: 10px;
    padding: 32px;
    background: var(--color-white);
    border-radius: 12px;
  }
}

@mixin account_layout {
  display: flex;
  grid-area: account_details;
  flex-direction: column;
  gap: 8px;
}

@mixin margin($top: 0, $right: 0, $bottom: 0, $left: 0) {
  margin: $top $right $bottom $left;
}

@function calc-fluid-font-size($fMin, $fMax, $vMin, $vMax) {
  $k: ($fMax - $fMin)/ ($vMax - $vMin);
  $b: $fMin - $k * $vMin;

  $b: $b;

  @return calc(#{$k} * 100vw + #{$b});
}

@mixin fluidFontSize($fMin, $fMax, $wMin: 425px, $wMax: 1440px) {
  font-size: $fMin;

  @media (min-width: $wMin) {
    font-size: calc-fluid-font-size($fMin, $fMax, $wMin, $wMax);
  }

  @media (min-width: $wMax) {
    font-size: $fMax;
  }
}
