@mixin form_subtitle {
  font-size: var(--fz-l2);
  font-weight: var(--bold);
  text-align: left;
}

@mixin auth_pages_form {
  .form {
    display: flex;
    flex-direction: column;
    gap: 24px;

    width: 100%;
    max-width: 396px;
    margin-top: 32px;
    margin-bottom: 24px;
  }

  .input_wrapper {
    width: 100%;
  }

  .button_submit {
    width: 100%;
  }
}

@mixin content_container {
  width: 100%;
  max-width: var(--main-content-with);
  margin: 0 auto;
  padding: 0 32px;
}