.order_list_item {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;

  width: 100%;
  margin-bottom: 32px;
}

.product_info {
  display: flex;
  width: 100%;
}

.counter_wrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
}

.counter {
  width: 168px;
}

@media (max-width: 1040px) {
  .order_list_item {
    flex-wrap: wrap;
  }

  .product_info {
    margin-bottom: 16px;
  }

  .counter_wrapper {
    width: 100%;
    padding-top: 6px;
  }

  .counter {
    width: 100%;
  }
}
