.filterPrice {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.filterPrice__range {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.filterPrice__range_from,
.filterPrice__range_to {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 8px;
}

.filterPrice__range_from_text,
.filterPrice__range_to_text {
  display: flex;
  flex-direction: column;
  align-self: start;
  font-size: 14px;
  height: 22px;
  line-height: 22px;
  color: #828282;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  margin-bottom: 4px;
}

.filterPrice__range_from_input,
.filterPrice__range_to_input {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  height: 49px;
  line-height: 49px;
  border: 2px #E5E5E5 solid;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  text-align: start;
  width: calc(100% - 16px);
  padding-left: 16px;
  margin-bottom: 13px;
}

.filterPrice__range_from_input {
  border-radius: 4px 0 0 4px;
}

.filterPrice__range_to_input {
  border-radius: 0 4px 4px 0;
}

.filterPrice__discount {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 13px;
}

.filterPrice__discount_text {
  font-size: 14px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0.16px;
}
