.product_color_container {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.text {
  font: var(--regular) var(--fz-s2) / 20px var(--roboto);
  color: var(--color-black);
}

.items {
  display: flex;
  column-gap: 8px
}

.item {
  cursor: pointer;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}