.input_file_label {
  cursor: pointer;

  position: absolute;
  z-index: 2;
  left: 0;

  width: 88px;
  height: 88px;

  opacity: 0;
  border-radius: 50%;
}

.input_file {
  cursor: pointer;

  position: absolute;
  z-index: 2;
  left: 0;

  width: 120px;
  height: 120px;

  opacity: 0;
}

.icon_img_label {
  position: absolute;
  width: 88px;
  border-radius: 50%;
}

.icon_img {
  position: absolute;
  width: 120px;
}

.avatar_img_label {
  position: absolute;
  left: 0;

  overflow: hidden;

  width: 88px;
  height: 88px;

  border-radius: 50%;
}

.avatar_img {
  position: absolute;
  left: 0;

  overflow: hidden;

  width: 120px;
  height: 120px;
}

.input_container {
  position: relative;
}

.icon_background_label {
  width: 88px;
  height: 88px;
  margin-right: 16px;

  background: #F2F2F2;
  border-radius: 50%;
}

.icon_background {
  width: 120px;
  height: 120px;
  background: #F2F2F2;
}

.profile_logo_wrapper {
  display: flex;
}

.label {
  cursor: pointer;
  font-size: 14px;
  color: #FC133D;
  text-decoration-line: underline;
}

.label_container {
  margin-top: 13px;
}

.placeholder {
  max-width: 160px;
  margin-top: 8px;

  font-size: 11px;
  color: #828282;
  text-align: left;
}

.input_error {
  position: absolute;
  font-size: 13px;
  color: #FF4040;
  text-align: left;
}

.btn_plus {
  content: '';

  position: absolute;

  /*background: white;
  border-radius: 50%;*/
  z-index: 3;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 23px;
  height: 23px;
  margin: 0 auto;
  padding: 0;

  background-color: transparent;
  border: none;
}

.btn_plus:hover {
  cursor: pointer;
}
