.imgSlider {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.imgSlider__window {
  width: 220px;
  height: 220px;
  overflow: hidden;
}

.imgSlider__window_list {
  display: flex;
  flex-direction: row;
  margin-top: -32px;
  margin-left: -100%;  
  transition: 0.4s;
}

.imgSlider__window_list_img {
  display: block;
  object-fit: cover;
  min-width: 220px;
  height: 220px;
  background-color: #f0f0f0;
}

.imgSlider_control {
  display: flex;
  flex-direction: row;
  gap: 12px;
  position: relative;
  top: 12px;
}
.imgSlider_control_slide {
  width: 8px;
  height: 8px;
  background: #828282;
  border-radius: 50%;
  cursor: pointer;
}
