.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 90%;
  margin-top: auto;
  padding: 12px 32px;

  background: #DDD;
}

.footer_logo {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  color: #000;
}

.footer_links_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
}

.footer_link,
.footer_copyright {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(0 0 0 / 48%);
}
