.wrapper {
  display: flex;
}

.title {
  font-size: var(--fz-m);
  font-weight: var(--semi-bold);
}

.select {
  column-gap: 12px;

  height: fit-content;
  padding: 0 10px;

  font-size: var(--fz-m);
  font-weight: var(--semi-bold);
}
