.main_info {
  position: relative;

  width: 634px;
  height: 452px;
  margin-top: 24px;
  margin-bottom: 40px;
}

.main_product {
  margin-bottom: 16px;
}

.description {
  width: 634px;
  height: 120px;
  margin-bottom: 16px;
  padding-bottom: 95px;
}

.label {
  margin-bottom: 12px;
}

.image_container {
  position: relative;
  display: inline-block;
  margin-top: 8px;

  &:not(:last-child) {
    margin-right: 8px;
  }
}

.overlay {
  position: absolute;
  top: 8px;
  right: 0;
  bottom: 0;
  left: 90px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 23px;
  height: 23px;
}

.image_container:hover .overlay {
  opacity: 1;
}

.close_icon {
  cursor: pointer;
}