.main_info {
  width: 634px;
  height: 452px;
  margin-top: 24px;
  margin-bottom: 40px;
}

.main_product {
  margin-bottom: 16px;
}

.select_container {
  margin-bottom: 16px;
}

.main_select {
  color: var(--Medium-grey);
  background: var(--color-white-ivory);
  border-radius: 12px;
}

.description {
  resize: none;

  width: 634px;
  height: 120px;
  margin-bottom: 16px;
  padding: 16px 14px;

  font-family: Roboto, sans-serif;
  font-size: var(--fz-s);
  color: var(--color-black);
  letter-spacing: 0.24px;

  background: var(--color-white-ivory);
  border-radius: 12px;
}

.image_container {
  position: relative;
  display: inline-block;
  margin-top: 8px;

  &:not(:last-child) {
    margin-right: 8px;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.overlay {
  cursor: pointer;

  position: absolute;
  top: 8px;
  right: 8px;;
  bottom: 8px;
  left: calc(100% - 31px);

  display: flex;
  align-items: center;
  justify-content: center;
}

.image_container:hover .overlay {
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .main_info {
    width: 100%;
    height: 100%;
  }

  .description {
    width: 100%;
    max-height: auto;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); 
    gap: 20px;
    padding: 0 20px;
  }
}

@media only screen and (max-width: 320px) {
  .main_info {
    width: 100%;
    height: 100%;
  }

  .description {
    width: 100%;
    max-height: none;
  }

  .container {
    margin: 0 auto;
  }
}