@import "src/common/styles/mixins";

@include seller_section_header();

.category_wrapper {
  position: relative;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  margin-top: 24px;

}

.header_link {
  cursor: pointer;

  font-size: var(--fz-s2);
  font-weight: var(--regular);
  font-style: normal;
  line-height: 20px;
  color: var(--color-accent);
  text-decoration-line: underline;

  background: none;
}

.orders_button {
  display: flex;
  flex-direction: column-reverse;
  gap: 12px;
  align-items: center;

  padding: 0;
}

.button_title {
  font-family: var(--roboto);
  font-size: var(--fz-s2);
  font-weight: var(--regular);
  font-style: normal;
  line-height: 20px;
}

.icon {
  width: 48px;
  height: 48px;
}