@import "src/common/styles/mixins";

@include seller_section_header();

.category_wrapper {
  position: relative;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  margin-top: 24px;

}

.header_link {
  cursor: pointer;

  font-size: var(--fz-s);
  font-weight: var(--regular);
  font-style: normal;
  line-height: 20px;
  color: var(--color-red);
  text-decoration-line: underline;

  background: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus-visible {
    border-radius: 4px;
    outline: 1px solid var(--color-gray-medium);
  }
}

.orders_button {
  display: flex;
  flex-direction: column-reverse;
  gap: 12px;
  align-items: center;

  padding: 0;

  font-weight: var(--regular);

  &:hover {
    color: var(--color-red);
    text-decoration: underline;

  }
}

.icon {
  width: 48px;
  height: 48px;
}