.activeButton,
.commonButton,
.modalWindewBtnActive {
  height: 44px;

  font-size: 15px;
  line-height: 24px;
  border-radius: 12px;
  margin-bottom: 24px;

}

.activeButton {
  color: #FFF;
  background-color: #000000;
}

.commonButton {
  cursor: pointer;
  background: #FFF;
  border: 1px solid #D4D4D4;
}



.tab {
  width: 200px;
  margin-bottom: 22px;
  border-radius: 12px;
}

.logInBtnInactive,
.logInBtnActive {
  width: 400px;
  border-radius: 12px;

}

.logInBtnActive {
  background: #FC133D;
  color: #FFFFFF;
}

.socialNetwork {
  width: 44px;
}

.userStatusBtnActive {
  cursor: pointer;
  border-radius: 12px;

  width: 196px;
  height: 44px;

  color:#FFFFFF ;

  background: #FC133D;
  border: none;
}
.userStatusBtnActive:hover{
  background: #e10c35;
}

.userStatusBtnInactive {
  width: 196px;
  height: 44px;

  color: #000;

  background: rgba(252, 19, 61, 0.2);
  border-radius: 12px;
}
.userStatusBtnInactive:hover{
  background: rgba(239, 16, 57, 0.34);

}

.modalWindewBtnActive {
  width: 420px;
  color: #FFF;
  background: #FC133D;
  border-radius: 12px;
  margin: 0;
}
.modalWindewBtnClose{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
