.filter_button {
  cursor: pointer;

  display: flex;
  align-items: center;

  min-width: 250px;
  height: 30px;
  padding: 24px;

  border-radius: 6px;

  transition: all .1s;

  &:hover {
    background-color: var(--color-light-gray);
  }

}

.button_categories {
  cursor: pointer;

  font-family: var(--roboto);
  font-size: 20px;
  font-weight: var(--semi-bold);
  font-style: normal;
  line-height: 20px;

  background: transparent;

  transition: all .1s;
}

.active_button {
  color: var(--color-accent)
}
