.filter_button {
  display: flex;
  align-items: center;

  width: 250px;
  height: 30px;
  padding: 26px 0 26px 32px;

  border-radius: 6px;

  transition: all .1s;
}

.btn {
  cursor: pointer;

  font-family: var(--roboto);
  font-size: 20px;
  font-weight: var(--semi-bold);
  font-style: normal;
  line-height: 20px;

  background: transparent;

  transition: all .1s;
}

.filter_button:hover {
  background-color: var(--color-light-gray);
}

.active_button {
  color: var(--color-accent)
}
