.navbar {
  display: flex;
  justify-content: space-around;
}
.nav_item {
  list-style-type: none;
}
.nav_link {
  text-decoration: none;
}

/* .header__basic {
  display: flex;
  width: 100%;
  height: 96px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
}
.header__basic_logo {
  display: block;
  text-align: center;
  line-height: 25px;
  width: 45px;
  height: 25px;
  margin-left: 32px;
  margin-right: 48px;
  font-family: "SF Pro Display Bold";
  font-size: 20px;
} */
/* .header__basic_buttons {
  display: flex;
  justify-content: space-between;
  width: 325px;
} */


.wrepperButtonLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  /* height: 64px; */
  /* width: fit-content;  */
}

.wrepper:hover {
  cursor: pointer;
}

.wrepperBtnImg {
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;  
  background-color: var(--back);
  border-radius: 50%;
}

.btnImg {
  display: block;
  width: 16px;
  width: 16px;
}

.btnName {
  font-size: var(--fs); 
  line-height: 16px;
  letter-spacing: -0.24px;
}

.search__wrap {
  display: flex;
  background-color: var(--back);
  width: calc(100% - 550px);
  height: 34px;      
  padding: 5px 14px;
  border-radius: 3px;   
  align-items: center;  
  margin-right: 43px;
}

.search__wrap::before {
  position: relative; 
  content: '';   
  width: 16px;
  height: 16px; 
  background: url('../../../assets/img/icons/search.png');    
  background-size: cover;
} 

.search__input {     
  display: block; 
  font-size: var(--fp);    
  padding-left: 6px;
  height: 100%; 
  width: 100%;    
  background-color: var(--back);
}  