.average {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
  padding-top: 18px;
}

.statistic {
  width: 310px;
}

.flex_row {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.flex_column {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
}

.text {
  font-size: var(--fz-xs);
  color: var(--color-gray);
}

.price_changes_wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.price_changes {
  display: flex;
  gap: 40px;
}

.price_changes_text {
  font-size: var(--fz-s);
  color: var(--color-gray);
}

@media (max-width: 350px) {
  .statistic {
    width: 300px;
  }
}