.bundles_container {
  display: flex;
  justify-content: space-between;

  width: 160px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;

  width: 100%;
  height: auto;
  margin-top: 24px;
  margin-bottom: 20px;
}

.bundle_name {
  position: relative;
}

.select_input {
  font-size: 12px;
  color: var(--color-gray-medium);
  background: var(--color-white-ivory);
  border-radius: 12px;
}

.plus_button {
  cursor: pointer;

  position: absolute;
  right: 920px;
  bottom: 480px;

  padding: 5px;

  background: var(--color-white);
  border-radius: 10px;
}