@import "src/common/styles/mixins";

.top_container,
.center_container,
.bottom_container {
	@include content_container;
	position: relative;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.top_container {
	padding: 8px 16px;
}

.center_container {
	padding: 12px 16px;
	position: static;
	border-bottom: solid 1px var(--color-light-gray) ;
}

.bottom_container {
	padding: 12px 16px;
}

.logo {
	font-size: var(--fz-xl2);
}

.button_search {
	background: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
}
