@import "src/common/styles/mixins";

.top_container,
.center_container,
.bottom_container {
  @include content_container;
}

.top_container,
.center_container,
.bottom_container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 12px 16px;
}

.center_wrapper {
  border-bottom: solid 1px var(--color-white-ivory);
}

.logo {
  font-size: var(--fz-xl2);
}

.button_search {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}
