.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 26px 0;

  background-color: #FFF;
  border-bottom: 1px solid var(--color-light-gray);
}

.logo {
  display: flex;
  align-items: center;
}

.vertical_line {
  display: inline-block;

  width: 2px;
  height: 17px;
  margin: 0 12px;

  background-color: #000;
}

.supplier_link {
  font-size: 20px;
  font-weight: var(--semi-bold);
  color: #000;
  letter-spacing: 0.38px;
}

.inner_buttons {
  display: flex;
  gap: 24px;
  align-items: center;
}

.menu_wrapper {
  position: absolute;
  z-index: -10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: 0;
  background-color: rgb(0 0 0 / 1%);

  transition: 0.3s;
}

.item a {
  color: inherit;
  transition: all 0.3s;
}

.item a:hover {
  color: var(--color-accent);
}

.btn_menu {
  cursor: pointer;

  position: relative;

  display: flex;
  gap: 10px;
  align-items: center;

  font-size: 15px;
  line-height: calc(20/15);
  letter-spacing: 0.16px;

  background: transparent;
}

.btn_menu_img {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  background: rgb(27, 188, 216);
  border-radius: 50%;
}


.menu_active {
  z-index: 10;
  opacity: 1;
}

.menu {
  cursor: default;

  position: absolute;
  z-index: 10;
  top: 105%;

  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 100%;
  padding: 32px;

  font-family: var(--roboto);
  font-size: 18px;
  font-weight: var(--medium);
  font-style: normal;
  line-height: 24px;
  color: var(--color-black);

  background: var(--color-white);
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

.menu button {
  cursor: pointer;
  font-size: 1em;
  background: transparent;
}


.icon {
  transform: rotate(90deg);
  margin: 0 0 0 -2px;
}

.arrow {
  width: 8px;
  height: 14px;
}