.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 26px 0;

  background-color: #FFF;
  border-bottom: 1px solid var(--color-light-gray);
}

.logo {
  display: flex;
  align-items: center;
}

.vertical_line {
  display: inline-block;

  width: 2px;
  height: 17px;
  margin: 0 12px;

  background-color: #000;
}

.supplier_link {
  font-size: 20px;
  font-weight: var(--semi-bold);
  color: #000;
  letter-spacing: 0.38px;
}

.inner_buttons {
  display: flex;
  gap: 24px;
  align-items: center;
}


.btn_menu {
  position: relative;

  display: flex;
  gap: 10px;
  align-items: center;

  font-size: 15px;
  line-height: calc(20 / 15);
  letter-spacing: 0.16px;

  background: transparent;
}

.menu_icons {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}



.arrow {
  width: 8px;
  height: 14px;

}

.logo_font_size {
  font-size: var(--fz-xl2);
}

.business_name {
  margin: 0 8px 0 10px;
}