.Paginator {
  display: flex;
  flex-direction: row;
  gap: 10px;

  font-family: 'SF Pro Display Medium';
  font-size: var(--fp);
  line-height: 24px;
}

.Paginator__left_arrow {
  width: 24px;
  height: 24px;
  background: url('../../../assets/img/icons/arrow-slide-left.svg');
}

.Paginator__right_arrow {
  width: 24px;
  height: 24px;
  background: url('../../../assets/img/icons/arrow-slide-right.svg');
}

.Paginator__left,
.Paginator__right {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
}

.Paginator__numbers {
  display: flex;
  flex-direction: row;
  gap: 9px;
  justify-content: space-between;

  width: fit-content;
}

.Paginator__numbers > div {
  width: 24px;
  height: 25px;
  line-height: 25px;
  text-align: center;
}

.activePage {
  color: #FFF;
  background-color: #000;
  border-radius: 3px;
}

.invisible {
  display: none;
}

.cursor {
  cursor: pointer;
}
