.requirement {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.requirementNotMet {
    display: block;
    width: 8px;
    height: 8px;
    background: #000000;
    opacity: 0.3;
    border-radius: 6px;
}
.requirementMet{
    display: block;
    width: 8px;
    height: 8px;
    background: #000000;
    opacity: 1;
    border-radius: 6px;
}