.checkOrder {
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  width: 338px;
  height: 360px;
  padding: 24px;
}

.checkOrder__price,
.checkOrder__shipping {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 24px;
  line-height: 20px;
  font-size: var(--fp);
  letter-spacing: 0.16px;
  justify-content: space-between;
}

.checkOrder__note {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 16px;
  color: #828282;
}

.checkOrder__total {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 25px;
  margin-top: 32px;
  justify-content: space-between;
  font-size: var(--fd);
  align-items: center;
  font-family: 'SF Pro Display Bold';
  letter-spacing: 0.38px;
  justify-self: flex-start;
}

.checkOrder__place {
  display: flex;
  width: 100%;
  height: 44px;
  background-color: #F2F2F2;
  color: #828282;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-top: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.checkOrder__place:hover {
  background-color: #000;
  color: #FFF;
}

.checkOrder__text {
  width: 100%;
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-weight: 400;
  font-size: var(--fp);
  line-height: 20px;
  color: #828282;
  margin-top: 16px;
}

.checkOrder__security {
  display: flex;
  flex-direction: row;
  gap: 8px;
  height: 24px;
  align-items: center;
  margin-top: auto;
}

.checkOrder__security_lock {
  width: 24px;
  height: 24px;
  background: url('../../../../assets/img/icons/lock.svg');
  background-size: cover;
}

.checkOrder__security_text {
  font-family: Roboto;
  font-weight: 400;
  font-size: var(--fp);
  line-height: 20px;
  color: #828282;
}
