@import "src/common/styles/mixins";

.container {
  @include content_container;
  @include margin(40px, auto);
}

.container_text {
  padding-top: 48px;
}

.title_block {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.text {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.default_text {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
