@import "../../../common/styles/mixins.scss";

.container {
  @include content_container;
  margin: 48px auto;
}

.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}

.container_text {
  padding-top: 48px;
}

.title_block {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.text {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.default_text {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
