.header_basic {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  background-color: var(--front);
}

.header_basic_logo {
  display: block;

  padding: 35px 0 35px 32px;

  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
  color: var(--red);

}

.wrapper_button_link {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;

  margin-right: 32px;

}

.wrapper_button_link button {
  width: 144px;
  margin: 0;
}

.wrapper_btn_img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  background-color: var(--back);
  border-radius: 50%;
}

.button_img {
  display: block;
  width: 20px;
}

.button_name {
  font-size: var(--fs);
  line-height: 16px;
  letter-spacing: -0.24px;
}

.icon_home{
  margin-right: 32px;
}





