.header__basic {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 96px;

  background-color: var(--front);
  border-bottom: 1px solid var(--gray);
}

.header__basic_logo {
  display: block;

  width: 45px;
  height: 25px;
  margin-right: 48px;
  margin-left: 32px;

  font-family: 'SF Pro Display Bold', serif;
  font-size: 20px;
  line-height: 25px;
  color: var(--accentColor);
  text-align: center;
}

.wrepperButtonLink {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;

  margin-right: 32px;

}

.wrepperButtonLink button {
  width: 144px;
  margin: 0;
}

.wrepperBtnImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  background-color: var(--back);
  border-radius: 50%;
}

.btnImg {
  display: block;
  width: 20px;
}

.btnName {
  font-size: var(--fs);
  line-height: 16px;
  letter-spacing: -0.24px;
}





