.selectField {
  cursor: pointer;

  box-sizing: border-box;
  width: 100%;
  min-width: 160px;
  padding: 12px 10px 15px 16px;

  font-size: 14px;
  color: #000;

  appearance: none;
  background: #F2F2F2;
  border: none;
  border-radius: 4px;
  outline: none;
}

.selectTitle {
  margin-bottom: 8px;
  font-size: 13px;
  color: #828282;
  text-align: left;
}

.selectError {
  position: absolute;
  font-size: 13px;
  color: #FF4040;
  text-align: left;
}

.selectContainer {
  cursor: pointer;
  position: relative;
}

.selectArrow {
  pointer-events: none;

  position: absolute;
  right: 16px;
  bottom: 14px;

  font-size: 12px;
}

.selectOption {
  font-size: 24px;
}
