@import "src/common/styles/mixins";

.container {
  @include content_container;

  margin: 40px auto;
}

.last_news {
  margin-bottom: 28px;

  font-size: 34px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0.41px;
}

.container_block {
  padding: 32px;
  background-color: var(--color-white-ivory);
  border-radius: 12px;
}
