.wrapper {
  display: flex;
  gap: 70px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.menu_item,
.menu_item_active {
  cursor: pointer;

  font-size: var(--fp);
  font-weight: var(--medium);
  color: #000000;
  letter-spacing: 0.16px;
}

.menu_item_active {
  color: #FC133D;
}

.menu_item:hover {
  color: #FC133D;
}