.supplierMenuSection_wrapper {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  gap: 70px;
}

.menu_item,
.menu_item__active {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: -0.24px;
  color: #000;
  cursor: pointer;
}

.menu_item:hover {
  font-weight: 500;
}

.menu_item__active {
  text-decoration: underline;
  cursor: default;
}
