.supplierMenuSection_wrapper {
  display: flex;
  gap: 70px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.menu_item{
  color: #000000;
}
.menu_item_active {
  cursor: pointer;

  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  color: #FC133D;
  letter-spacing: -0.24px;
  text-decoration: none;
}

.menu_item:hover {
  color: #FC133D;

}


