@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@font-face {
  font-family: 'SF Pro Display Regular';
  src: url('../assets/fonts/SFProDisplay-Regular.ttf');
}

@font-face {
  font-family: 'SF Pro Display Black';
  src: url('../assets/fonts/SFProDisplay-Black.ttf');
}

@font-face {
  font-family: 'SF Pro Display Bold';
  src: url('../assets/fonts/SFProDisplay-Bold.ttf');
}

@font-face {
  font-family: 'SF Pro Display Medium';
  src: url('../assets/fonts/SFProDisplay-Medium.ttf');
}

@font-face {
  font-family: 'SF Pro Display Light';
  src: url('../assets/fonts/SFProDisplay-Light-1.ttf');
}

@font-face {
  font-family: 'SF Pro Display RegularItalic';
  src: url('../assets/fonts/SFProDisplay-RegularItalic.ttf');
}

:root {
  /* -------color------ */
  --black: #000000;
  --white: #FFFFFF;
  --gray: #C4C4C4;
  --light-gray-kit: #F4F4F4;
  --light-gray: #828282;
  --back: #F5F5F5;
  --front: #FFF;
  --red: #FC133D;

  /* -------fonts------ */
  --fh1: 64px;
  --fh2: 34px;
  --fh3: 25px;
  --fh4: 20px;
  --fd: 20px;
  --fp: 15px;
  --fs: 13px;

  /* -------font------ */
  --roboto: 'Roboto';
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
}

* {
  margin: 0;
  padding: 0;

  text-decoration: none;
  list-style-type: none;

  border: 0;
}

*, *::before,
*::after {
  box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;
}

*:focus,
*:active {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

input[type='number'] {
  appearance: textfield;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-style: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: var(--fh1);
  letter-spacing: 0.41px;
}

h2 {
  font-size: var(--fh2);
  letter-spacing: 0.41px;
}

h3 {
  font-size: var(--fh3);
  letter-spacing: 0.38px;
}

h4 {
  font-size: var(--fh4);
  letter-spacing: 0.38px;
}
