.field_with_error_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input_wrapper {
  display: flex;
  gap: 0;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 12px;

  border: 1px solid #E0E0E0;
  border-radius: 4px;
}

.input_text_field_password {
  cursor: pointer;

  display: block;

  width: 330px;
  height: 42px;
  padding-left: 16px;

  font-size: 12px;
  color: #000;
  letter-spacing: 0.02em;

  background: #FFF;
  border: none;
  outline: none;
}

.show_password_btn {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 53px;
  height: 42px;

  background: inherit;
  border: none;
}

.show_password_btn_img {
  width: 21px;
  height: 16px;
  border: none;
}
