.ProductPhoto {
  display: flex;
  flex-direction: row;
  width: 100%;  
  gap: 8px;
}

.Photo__slider {
  display: flex;
  flex-direction: column;
  width: 106px;  
  height: fit-content;
  gap: 16px;
  height: fit-content;
}

.Photo__slider_slides {  
  display: block;  
  width: 100%;   
  overflow: hidden; 
}

.Photo__slider_list {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  gap: 8px;  
  transition: 0.5s;
}

.Photo__slider_slide {
  display: block;  
  width: 106px;
  height: 106px;
  object-fit: cover;
}

.Photo__slider_btn-up {  
  align-self: center;
  width: 24px;  
  height: 24px;  
  background-image: url('../../../../assets/img/icons/arrow-slide-up.svg');
}

.Photo__slider_btn-down {
  align-self: center;
  width: 24px;  
  height: 24px;  
  background-image: url('../../../../assets/img/icons/arrow-slide-down.svg'); 
}
.Photo__slider_btn-up:hover,
.Photo__slider_btn-down:hover {
  cursor: pointer;
}

.Photo__image {
  display: block;
  width: 569px;
  height: 756px;
}
.Photo__image>img {
  display: block;  
  width: 100%;
  height: 100%;
  object-fit: cover;
}
