.button {
  cursor: pointer;


  display: flex;
  align-items: center;
  justify-content: center;

  width: 80px;
  height: 80px;

  background: var(--color-white);
  border-radius: 50%;
  box-shadow: 0 4px 16px rgb(0 0 0 / 32%);

  transition: all 0.3s;
}

.icon {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url('../../../assets/img/icons/info.svg');
}

.button:active {
  box-shadow:0 0 4px rgb(0 0 0 / 32%);
}
