.title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 34px;
  letter-spacing: 0.41px;
  color: #000;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 40px;
}

.link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;



  /* Accent Color */

  color: #FC133D;
}

.wrapper {
  display: grid;
  grid-template-columns: 340px 1fr;
  gap: 120px;
}

.grade {

}

.stars-block{
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;

  /* identical to box height, or 133% */

  letter-spacing: 0.16px;


  /* Medium grey */

  color: #828282;
}

.rating-line{
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.16px;
  color: #000;
}

.line, .line-accent{
  display: inline-block;
  height: 4px;
  border-radius: 8px;
}

.line{
  width: 224px;
  background: #D4D4D4;
  position: relative;
}

.line-accent{
  position: absolute;
  background: #FC133D;
}


.image-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 13px;
}

.image {
  max-width: 295px;
  width: 100%;
  height: 155px;
  background-color: red;
}

.image > img {
  max-width: 295px;
  width: 100%;
  height: 155px;
}