.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--front);
  padding: 12px 32px;
  margin-top: auto;
}

.footer_linksWrapper {
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.footer_copyright {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: var(--black)
}

.footer_link {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: var(--accentColor)
}