@import "src/common/styles/mixins";

.container {
  @include content_container;

  margin: 48px auto;
}

.title {
  margin-bottom: 48px;

  font-size: var(--fz-xxl2);
  font-weight: var(--bold);
  line-height: 100%;
  letter-spacing: 0.41px;
}

@media (max-width: 768px) {
  .container {
    margin: 16px auto;
  }

  .title {
    margin-bottom: 16px;
  }

  .footer {
    display: none;
  }
}
