@import "src/common/styles/mixins";

.container {
  @include content_container;
  @include margin(40px, auto);
}

.wrapper {
  margin-top: 48px;
}

@media (max-width: 768px) {
  .container {
    margin: 16px auto;
  }

  .title {
    margin-bottom: 16px;
  }

  .footer {
    display: none;
  }
}
