@import "src/common/styles/mixins";

.container {
  @include content_container;

  margin: 48px auto;
}

.title {
  margin-bottom: 48px;

  font-size: 34px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0.41px;
}

@media (max-width: 768px) {
  .container {
    margin: 0;
  }

  .title {
    margin: 16px 0;
  }

  .footer {
    display: none;
  }

  .mobile_copyright {
    display: block;

    margin: 16px 22px;

    font-size: 13px;
    line-height: 18px;
    text-align: center;
  }
  
  .link {
    color: var(--color-red);
    border-bottom: 1px solid var(--color-red);
  }
}