@import "src/common/styles/mixins";

.container {
  @include content_container;

  margin: 40px auto;
}

.title {
  margin-bottom: 48px;
  letter-spacing: 0.41px;
}

@media (max-width: 768px) {
  .container {
    margin: 16px auto;
  }

  .title {
    margin-bottom: 16px;
  }

  .footer {
    display: none;
  }
}
