.address {
  display: flex;
  flex-direction: column;

  width: 435px;
  height: 108px;
  padding: 16px 16px 16px 24px;

  background: #F2F2F2;
  border: 2px #000 solid;
}

.address_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.address_content_text {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.address_content_edit {
  cursor: pointer;

  width: 20px;
  height: 20px;

  background: url('../../assets/img/icons/edit.svg');
  background-size: cover;
}

.address_place {
  margin-top: 8px;

  font-size: 15px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
}


.address_main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-top: auto;
}

.address_main_mark {
  width: 16px;
  height: 16px;
  background: url('../../assets/img/icons/check-mark.svg');
  background-size: cover;
}

.address_main_text {
  font-size: var(--fs);
  line-height: 18px;
  color: #828282;
}
