
.reviews_container {
  display: flex;
  width: 80%;
}

.red_line {
  width: 50%;
  height: 3px;
  background-color: var(--color-red);
  border-radius: 15px;
}

.gray_line {
  width: 50%;
  height: 3px;
  background-color: var(--color-gray-light);
  border-radius: 15px;
}