.productItem {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin: 14px 0;
}

.productItem__mainContainer {
    display: flex;
    align-items: center;
    justify-content: start;

}

.productItem__mainContainer_checkbox {
    height: 24px;
    width: 24px;
    margin-right: 34px;
}

.productItem__mainContainer_img {
    border-radius: 8px;
    margin-right: 26px;
    display: block;
    object-fit: cover;
    width: 120px;
    height: 120px;
}

.productItem__mainContainer_name {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
}


.productItem__mainContainer_info {
    display: flex;
    gap: 8px;
    margin: 12px 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.productItem__mainContainer_price {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}

.productItem__mainContainer_priceSpecial {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #828282;
}

.productItem__quantityContainer {
    display: flex;
    width: 20%;
    flex-direction: column;
}

.productItem__quantityContainer_title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}

.productItem__quantityContainer_titleFrom {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(130, 130, 130, 1)
}

.productItem__quantityContainer_quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    margin-top: 7px;
}

.productItem__quantityContainer_input {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    width: 50%;
    padding: 6px 0;
    border: 1px solid #828282;
    border-radius: 8px;
    background-color: transparent;
}

.productItem__quantityContainer_button {
    width: 32px;
    height: 32px;
    border: 1px solid #828282;
    border-radius: 8px;
    cursor: pointer;
}
