.requirement {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.requirementNotMet {
  display: block;

  width: 8px;
  height: 8px;

  background: #FC133D;
  border-radius: 6px;
}

.requirementMet {
  display: block;

  width: 8px;
  height: 8px;

  opacity: 1;
  background: #34E145;
  border-radius: 6px;
}
