.requirement {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.requirementNotMet {
  display: block;

  width: 8px;
  height: 8px;

  opacity: 0.3;
  background: #000;
  border-radius: 6px;
}

.requirementMet {
  display: block;

  width: 8px;
  height: 8px;

  opacity: 1;
  background: #000;
  border-radius: 6px;
}
