.form{
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 100%;
  max-width: 396px;
  margin-bottom: 24px;
}

.button{
  margin-top: 10px;
}
.link_forgot{
  font-size: 13px;
  font-weight: var(--regular);
  line-height: 18px;
  color: var(--color-black);

  transition: all 0.3s;
}

.link_forgot:hover{
  color: var(--color-accent);
}

.link_forgot > a {
  color: inherit;
}