.sizeWrapper {
  position: relative;
}

.size {
  opacity: 0;
  position: absolute;
  width: 64px;
  height: 57px;
  left: 0;
  margin: 0;
  cursor: pointer;
}

.inputContainer {
  width: 64px;
  height: 57px;
  border-radius: 4px;
  border: #D8D8D8 1px solid;
  box-sizing: border-box;
}

.borderContainer {
  border: #000 2px solid;
  color: #000;
}

.sizeBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #828282;
  box-sizing: border-box;
  height: 30px;
  width: 100%;
  border-bottom: 1px solid #D8D8D8;
  border-radius: 2px;
}

.inputValue {
  margin-left: 7px;
  text-align: center;
  font-size: 14px;
  width: 44px;
  border: none;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  appearance: textfield;
}
