.requirementsWrapper {
    display: flex;
    justify-content: start;
    gap: 20px;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.08px;
    margin-top: 4px;
    margin-bottom: 24px;

}

.requirement {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.requirementCheckmark {
    display: block;
    width: 8px;
    height: 8px;
    background: #000000;
    opacity: 0.3;
    border-radius: 6px;
}
.done {
    opacity: 1;
}