.button {
  cursor: pointer;

  position: fixed;
  right: 20px;
  bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 80px;
  height: 80px;

  background: var(--color-white);
  border-radius: 50%;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.32);

  transition: all 0.3s;

  &:active {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.32);
  }
}

.icon {
  display: block;
  width: 40px;
  height: 40px;
}
