.text_wrapper {
  position: relative;
}

.title {
  font-size: 34px;
  font-weight: 700;
  text-align: left;
}

.comment {
  margin-top: 16px;
  font-size: 15px;
  text-align: left;
}

.step_wrapper {
  position: absolute;
  top: 0;
  right: 0;
}

.step {
  margin-bottom: 6px;

  font-size: 34px;
  font-weight: 700;
  color: #D4D4D4;
  text-align: right;
}

.link {
  /*color: #828282;*/
  color: #FC133D;
  text-decoration: underline;
}
