.header {
    font-size: 30px;
    color: #8b8b8b;
    margin: 80px auto;
}

.subheader {
    color: #8b8b8b;
    font-size: 20px;
    margin: 40px auto;
}

.subheader__btn {
    margin: 40px auto;
}

.logInPage__wrap {
    position: relative;
    margin: 40px auto 0;
    width: 420px;
    padding: 40px 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
}

.secondaryButton {
    font-size: 15px;
    position: relative;
    background: rgba(116, 133, 167, 0.5);
    border: none;
    border-radius: 8px;
    margin-top: 40px;
    padding: 10px 20px;
    cursor: pointer;
}
.secondaryButton:hover { 
    background: rgba(116, 133, 167, 0.4); 
}
