@import "src/common/styles/mixins";

.wrapper {
  display: flex;
  align-items: center;
  height: 96px;
  border-bottom: 1px solid var(--color-white-ivory);
}

.container {
  @include content_container;

  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
  align-items: center;

  width: 100%;
  padding-top: calc(max(8px, min(1.8%, 26px)));
  padding-bottom: calc(max(8px, min(1.8%, 26px)));

  background-color: var(--color-white);
}

.logo {
  font-size: var(--fz-xl2);
}
