.popupContainer {
  width: 672px;
  height: 380px;
  background: #ffffff;
  padding: 10px;
  font-size: 30px;
}

.popupWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: rgba(28, 28, 28, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0px;
}
