.link {
  font-size: var(--fz-s2);
  font-weight: var(--regular);
  line-height: 20px;
  text-align: left;

  transition: all 0.3s;
}

.default {
  color: var(--color-black);

  &:hover {
    color: var(--color-accent);
  }
}

.accent {
  color: var(--color-accent);

  &:hover {
    color: var(--color-black);
  }
}