.link {
  font-size: var(--fz-m);
  text-align: left;
  text-decoration: none;
  transition: all 0.3s;
}

.default {
  color: var(--color-black);

  &:hover {
    color: var(--color-red);
  }
}

.accent {
  color: var(--color-red);

  &:active {
    color: var(--color-red-dark);
  }

  &:hover, &:focus-visible {
    color: var(--color-red-medium);
    text-decoration: underline;
  }
}

.disabled {
  pointer-events: none;
  cursor: default;
  color: var(--color-gray);
}
