.card {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 325px;
}

.link {
  color: inherit;
}

.direction {
  cursor: pointer;

  width: 100%;
  height: fit-content;
  max-height: 40px;
  margin-top: 12px;

  font-size: var(--fz-s2);
}

.direction > span {
  overflow: hidden;
  display: inline-block;

  width: 100%;

  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-overflow: ellipsis;
  letter-spacing: 0.16px;
  white-space: nowrap;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.price {
  display: flex;
  flex-direction: row;
  gap: 4px;

  margin-top: 8px;
  margin-bottom: 4px;

  font-family: 'SF Pro Display Bold', sans-serif;
  font-size: var(--fz-l2);
}

.price > span {
  display: block;
  align-self: flex-end;

  font-family: Roboto, sans-serif;
  font-size: var(--fz-xs2);
  color: #828282;
}

.amount {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.38px;
}