.img_slider {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.img_slider_window {
  overflow: hidden;
  width: 220px;
  height: 220px;
}

.img_slider_window_list {
  display: flex;
  flex-direction: row;

  margin-top: -32px;
  margin-left: -100%;  

  transition: 0.4s;
}

.img_slider_window_list_img {
  display: block;

  min-width: 220px;
  height: 220px;

  object-fit: cover;
  background-color: #F0F0F0;
}

.img_slider_control {
  position: relative;
  top: 12px;

  display: flex;
  flex-direction: row;
  gap: 12px;
}

.img_slider_control_slide {
  cursor: pointer;

  width: 8px;
  height: 8px;

  background: #828282;
  border-radius: 50%;
}
