.authPage {
  height: 100vh;
  background: #FFF;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* width: 100vw; */
}

.header {
  padding-top: 128px;
  width: 86px;
}
.link{
  color: #FC133D;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.0024em;
}

.subheader {
  width: 170px;
  height: 24px;
  margin: 18px auto 22px;

  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: #636568;
  letter-spacing: 0.16px;
}

.socialNetworksWrapper {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;

  margin-top: 48px;
}
.footerText{
  text-align: center;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 32px;
  margin-top: 30%;
}
