.pageWrapper {
  overflow-x: hidden;
  padding-right: 32px;
  padding-left: 32px;
}

.wrepperBtnImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  background-color: var(--back);
  border-radius: 50%;
}

.verticalLine {
  display: inline-block;

  width: 1px;
  height: 17px;
 margin: 0 12px;

  background-color: #000000;
}

.supplierMainPagelink {
  cursor: pointer;
  color: #000000;
}

.title {
  padding-right: 17px;
  border-right: 3px solid #000000;
}

.btnImg {
  display: block;
  width: 40%;
}

.btnName {
  display: none;
}

.contentWrapper {
  display: flex;
}

.selectWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.select_headerWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.select_header {
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
  color: #000000;
  letter-spacing: 0.38px;
}

.select_options {
  position: absolute;
  top: 25px;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 5px;

  width: 130px;
  height: fit-content;
  margin-top: 26px;

  background-color: #FFFFFF;
  border-radius: 3px;

  transition: 0.4s;
}

.option {
  padding-left: 10px;
}

.logoImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.text_link{
  color:#FC133D
}