.list_items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-between;
}

.list_item {
  cursor: no-drop;

  position: relative;

  min-width: 64px;
  height: 32px;

  border-radius: 8px;
}

.list_item > img {
  min-width: 64px;
  height: 32px;
  border: 2px solid var(--color-gray-light);
  border-radius: 8px;
}

.remains {
  position: relative;

  display: block;

  padding: 4px;

  color: var(--color-gray-light);
  text-align: center;

  border-right: 2px solid var(--color-gray-light);
  border-bottom: 2px solid var(--color-gray-light);
  border-left: 2px solid var(--color-gray-light);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.remains::before {
  content: '';

  position: absolute;
  z-index: 1;
  top: -8px;
  left: -2px;

  width: 2px;
  height: 8px;

  background-color: var(--color-gray-light);
}

.remains::after {
  content: '';

  position: absolute;
  z-index: 1;
  top: -8px;
  right: -2px;

  width: 2px;
  height: 8px;

  background-color: var(--color-gray-light);

}


