.content {
  max-width: 440px;
  text-align: center;
}

.header {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.35;
  color: #000;
  letter-spacing: 0.41px;
}

.subheader {
  margin-top: 16px;

  font-size: 15px;
  line-height: 1.33;
  color: #636568;
  letter-spacing: 0.16px;
}

@media screen and (max-width: 768px) {
  .message {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
  }
}
