.title, .subtitle {
  font-family: var(--roboto);
  font-style: normal;
  line-height: 120%;
  color: var(--color-black);
}

.title {
  font-size: 34px;
  font-weight: var(--semi-bold);
}

.subtitle {
  margin-bottom: 23px;
  font-size: 24px;
  font-weight: var(--bold);
}

.input_box {
  display: grid;
  grid-template-columns: max(393px) 162px;
  gap: 12px;
  align-items: center;
}

