.page {
  background: #ffffff;
  height: 100vh;
}

.pageWrap {
  width: 481px;
  margin: 0 auto;
  padding-top: 216px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0.0024em;
  color: #000000;
}

.subheader {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #636568;
  margin-top: 16px;
}

.innerWrapper {
  width: 400px;
}

.modalContentWrapper {
  width: 420px;
  text-align: left;
}

.modalHeader {
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.41px;
  color: #000000;
  margin-bottom: 26px;
}

.modalSubHeader {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #000000;
  margin-bottom: 32px;
}

.forgotPasswordlink {
  display: block;
  width: fit-content;
  color: #000000;
  text-decoration: none;
  letter-spacing: 0.16px;
  margin: 0 auto;
  margin-top: 24px;
  text-align: center;
}
