.loader {
  display: flex;
  position: fixed;
  top: 0px;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: max-content;
  min-height: 100vh;
  z-index: 20;
  background-color: #00000080;
}

.loader_indicator {
  border: 10px solid var(--front);
  border-radius: 50%;
  border-top: 10px solid var(--gray);
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
