.TextModal {
  width: 100%;
  font-family: 'Roboto';  
  font-weight: 400;
  font-size: 14px;  
}
.TextModal-input {
  width: calc(100% - 16px);  
  height: 44px;
  background-color: #f2f2f2;
  padding-left: 16px;   
  border-radius: 4px;   
}

.TextModal-title {
  margin-top: 16px;
  margin-bottom: 8px;  
  color: #828282;  
}
