.payment_popup {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  scale: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background: #0003;

  transition: 0.3s;
}

.payment_popup_modal {
  display: flex;
  flex-direction: column;
  gap: 32px;

  width: 650px;
  padding: 32px;

  background-color: #FFF;
  border-radius: 12px;

}
.payment_popup_title_text{
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.payment_popup_modal_exit {
  cursor: pointer;

  position: absolute;
  top: -33px;
  right: -88px;

  width: 40px;
  height: 40px;
  padding: 12px;

  background: #FFFFFF;
  border-radius: 50%;
}

.payment_popup_row1 {
  position: relative;

  display: flex;
  flex-direction: row;
  align-self: start;
  justify-content: space-between;

  width: 100%;
}

.payment_popup_block {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.payment_popup_block_title {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}

.payment_popup_block_row2 {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
}

.payment_popup_button {
  cursor: pointer;
  margin-top: 32px;
}
.text_modal {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
}

.text_modal_input {
  display: block;
}

.text_modal_title {
  margin-top: 16px;
  margin-bottom: 8px;

  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: #828282;
}


