.menu_container {
  position: absolute;
  z-index: 1;
  bottom: -464px;
  left: 0;

  display: flex;
  gap: 64px;

  min-width: 864px;
  min-height: 464px;
  padding: 32px;

  background-color: var(--white);
  border-radius: 0px 12px 12px 0px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);

}

.menu_container > ul > li > button {
  cursor: pointer;

  margin-bottom: 32px;

  font-family: var(--roboto);
  font-size: 20px;
  font-weight: var(--semi-bold);
  font-style: normal;
  line-height: 20px;

  background: transparent;
}

.items_container > li {
  margin-top: 16px;
  margin-bottom: 16px;

  font-size: 18px;
  font-weight: var(--regular);
  font-style: normal;
  line-height: 24px;
}

.items_container > li > a {
  color: var(--black);
}

.active_button {
  color: var(--red)
}