.main_page {
  display: flex;
  flex-direction: column;
  width: calc(100% - 64px);
  height: fit-content;
  padding: 32px;
  background-color: #ffffff;
}

.main__sliders {
  width: 100%;
  margin-top: 56px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 96px;
}
