.selectFilter {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  border-radius: 4px;
}
.selectFilter__select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 14px);
  padding-left: 10px;
  cursor: pointer;
  border: 2px #e5e5e5 solid;
  border-radius: 4px;
}
.selectFilter_img {
  display: flex;
  width: 24px;
  height: 49px;
  padding-left: 8px;
  padding-right: 8px;
  object-fit: cover;
  align-items: center;
}
.selectFilter_text {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  gap: 4px;
}
.selectFilter_text_remains {
  color: #828282;
}

.selectFilter__list {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 273px;
  height: fit-content;
  margin-top: 52px;
  overflow: hidden;
  transition: 0.4s;
  border-radius: 3px;
  box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.25);
}

.selectFilter__list_item {
  display: block;
  padding-left: 10px;
  text-decoration: none;
  width: calc(100% - 10px);
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}

.selectFilter__list_item:hover {
  background-color: #000000;
  color: #ffffff;
}
