@import 'src/common/styles/mixins';

.wrapper {
  background: var(--color-super-light-gray);
}

.content_container {
  display: grid;
  grid-gap: 12px;
  grid-template-areas:
    'personal_info business_profile notifications'
    'account_details business_profile notifications';
  grid-template-columns: minmax(auto, 450px) minmax(auto, 622px) minmax(auto, 280px);
  grid-template-rows: auto 1fr;

  max-width: var(--main-content-width);
  margin: 0 auto;
  padding: 12px 32px 16px;
}

.account_management {
  @include account_layout;
}

.business_profile {
  grid-area: business_profile;
  padding: 32px;
  background: var(--color-white);
  border-radius: 12px;
}

.notifications {
  grid-area: notifications;

  height: fit-content;
  padding: 32px;

  background: var(--color-white);
  border-radius: 12px;
}
