@import 'src/common/styles/mixins';

.wrapper {
  background: var(--color-white-snow);
}

.content_container {
  display: grid;
  grid-gap: 12px;
  grid-template-areas:
    'personal_info business_profile notifications'
    'account_details business_profile notifications';
  grid-template-columns: minmax(auto, 25%) minmax(auto, 55%) minmax(auto, 20%);
  grid-template-rows: auto 1fr;

  max-width: var(--main-content-width);
  margin: 0 auto;
  padding: 12px 32px 16px;
}

.account_management {
  @include account_layout;
}

.business_profile {
  grid-area: business_profile;
  padding: 32px;
  background: var(--color-white);
  border-radius: 12px;
}

.notifications {
  grid-area: notifications;

  height: fit-content;
  padding: 32px;

  background: var(--color-white);
  border-radius: 12px;
}

@media only screen and (max-width: 1280px) {
  .content_container {
    grid-template-areas:
      'personal_info business_profile'
      'notifications business_profile'
      'account_details business_profile';
    grid-template-columns: minmax(auto, 32%) minmax(auto, 68%);
    padding: 12px 16px 16px;
  }
}

@media only screen and (max-width: 1000px) {
  .content_container {
    grid-gap: 12px;
    grid-template-areas:
      'personal_info business_profile'
      'notifications business_profile'
      'account_details business_profile';
    grid-template-columns: minmax(auto, 32%) minmax(auto, 68%);
  }

  .notifications {
    padding: 16px;
  }

  .business_profile {
    padding: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .content_container {
    grid-template-areas:
      'personal_info personal_info'
      'business_profile business_profile'
      'notifications account_details';
    grid-template-columns: minmax(auto, 55%) minmax(auto, 45%);
  }

  .account_management {
    gap: 42px;
  }
}

@media only screen and (max-width: 485px) {
  .content_container {
    grid-template-areas:
      'personal_info'
      'business_profile'
      'notifications'
      'account_details';
    grid-template-columns: auto;
  }

  .account_management {
    gap: 8px;
  }
}