.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: auto;
  padding: 12px 32px;

  background: var(--front);
}

.footer_linksWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 360px;
}


.footer_copyright {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: var(--black);
  letter-spacing: 0.16px
}

.footer_link {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: var(--accentColor);
  letter-spacing: 0.16px
}