.FilterSizes {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;  
}
.FilterSizes__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 12px;
  column-gap: 4px;  
}

.FilterSizes__list_item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 22px;
  padding: 4px 8px;
  border: 1px #e5e5e5 solid;
  border-radius: 4px;
  background: none;
  cursor: pointer;
}