.product_details_container {
  display: flex;
  grid-area: ProductDetails;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 8px;

  min-width: 288px;
  max-width: calc(100vw - 64px);
  margin-bottom: 80px;
}

.product_title {
  margin-bottom: 16px;
}

.button {
  margin-bottom: 32px;
}

@media (max-width: 1200px) {
  .product_details_container {
    padding: 0;
  }
}

@media (max-width: 769px) {
  .product_details_container {
    max-width: calc(100vw - 32px);
  }
}
