.product_details_container {
  display: flex;
  grid-area: ProductDetails;
  flex-direction: column;
  flex-grow: 1;
  row-gap: 8px;

  min-width: 288px;
  max-width: 100%;
  margin-bottom: 48px;
  padding-left: 32px;
}

.product_title {
  margin-bottom: 16px;
}