.main_page {
  display: flex;
  flex-direction: column;

  width: calc(100% - 64px);
  height: fit-content;
  padding: 32px;

  background-color: #FFF;
}

.main__sliders {
  display: flex;
  flex-direction: column;
  gap: 96px;

  width: 100%;
  height: fit-content;
  margin-top: 56px;
}
