.doubleInputs {
  display: flex;
  gap: 15px;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.add {
  cursor: pointer;
  font-size: 15px;
  text-decoration-line: underline;
}
