.double_inputs {
  display: flex;
  gap: 15px;
}

.inputs_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.add {
  cursor: pointer;
  font-size: 15px;
  color: #FC133D;
  text-decoration-line: underline;
}
