.statistics {
  /* width: 338px; */
  display: flex;
  flex-direction: column;
}

.sizes{
  margin-bottom: 70px;
}

.sizes_title{
  margin-bottom: 8px;

  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
}

.statistics_basic {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;
}

.statistics_demend {
  display: flex;
  flex-direction: column;
  gap: 8px;
  /*width: fit-content;*/
}

.statistics_demend_parameter {
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

.statistics_demend_value {
  font-family: 'SF Pro Display Bold', sans-serif;
  font-size: 16px;
  letter-spacing: 0.16px;
}

.statistics_demend_note {
  margin-top: 4px;

  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #828282;
}

.statistics_price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 24px;
  margin-top: 37px;
}

.statistics_price_change {
  font-family: var(--roboto);
  font-size: var(--fz-s2);
  font-weight: 400;
}

.statistics_price_range {
  font-family: var(--roboto);
  font-size: var(--fz-s2);
  font-weight: 400;
  color: #828282;
}

.statistics_condition {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 76px;
  margin-top: 55px;

  font-family: var(--roboto);
  font-size: var(--fz-s2);
  font-weight: 400;
  color: #828282;
}
