.reward {
  display: flex;
  gap: 8px;
  align-items: center;
  height: 24px;
}

.reward_numbers {
  font-size: var(--fz-s2);
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  color: var(--color-medium-gray);
}

.none_tar {
  display: none;
}
