.header {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__basic {
  display: flex;
  width: 100%;
  height: 96px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
}
.header__basic_logo {
  display: block;
  text-align: center;
  line-height: 25px;
  width: 45px;
  height: 25px;
  margin-left: 32px;
  margin-right: 48px;
  font-family: 'SF Pro Display Bold';
  font-size: 20px;
}
.header__basic_buttons {
  display: flex;
  justify-content: space-between;
  width: 325px;
}
.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 56px;
  align-items: center;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: var(--fp);
  letter-spacing: 0.16px;
}
.header__menu_categories {
  display: flex;
  flex-direction: row;
  align-self: center;
  height: fit-content;
  width: 125px;
  justify-content: space-between;
  margin-left: 33px;
}
.heder__selects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 32px;
}

.header__menu_categories:hover {
  cursor: pointer;
}
.dividing_line_1 {
  margin-left: 0px;
  line-height: 24px;
}
.dividing_line_2 {
  margin-right: 30px;
  line-height: 24px;
}
