@import "src/common/styles/mixins";

.main_page {
  background-color: var(--color-white);
}

.images_block {
  margin-bottom: 112px;
}

.container {
  @include content_container
}

.main_sliders {
  display: flex;
  flex-direction: column;
  gap: 80px;

  width: 100%;
  height: fit-content;
  margin-top: 96px;
  margin-bottom: 116px;
}