@import "src/common/styles/mixins";

.main_page {
  background-color: var(--color-white);
}

.images_block {
  margin-bottom: 112px;
}

.container,
.status_container {
  @include content_container;
}

.main_sliders {
  display: flex;
  flex-direction: column;
  gap: 80px;

  width: 100%;
  height: fit-content;
  margin-top: 96px;
  margin-bottom: 116px;
}

.info_block {
  position: relative;
}

.info_btn {
  position: absolute;
  z-index: 100;
  right: 0;
  bottom: 32px;

  &:focus-visible {
    outline: 1px solid var(--color-medium-gray);
    transition: none;
  }
}

@media only screen and (max-width: 1140px) {
  .images_block {
    margin-bottom: 82px;
  }
  .main_sliders {
    margin-top: 76px;
  }
}

@media only screen and (max-width: 768px) {
  .status_container {
    max-width: 100%;
    padding: 0;
  }
  .images_block {
    margin-bottom: 62px;
  }
  .main_sliders {
    margin-top: 56px;
  }
}

@media only screen and (max-width: 425px) {
  .images_block {
    margin-bottom: 48px;
  }
  .main_sliders {
    margin-top: 32px;
  }
}
