.buttons_status{
  position: absolute;
  top: 24px;
  right: 32px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;

  width: 100%;
  max-width: 404px;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 100%;
  max-width: 396px;
  margin-bottom: 24px;
}

.input_password{
  width: 100%;
  margin-bottom: 4px;
}

.button{
  margin-top: 10px;
}