

.table_row {
  display: flex;
  align-items: center;
  margin-top: 43px;
}

.table_head {
  display: flex;
  column-gap: 10px;
  align-items: center;

  min-height: 20px;
  max-height: 48px;

  font-size: var(--fz-xs2);
  font-weight: var(--regular);
  color: var(--color-medium-gray);

  background-color: var(--color-white);
}


td:nth-child(1),
td:nth-child(2) {
  padding-right: 34px;
}

td:nth-child(2),
td:nth-child(3) {
  padding-right: 52px;
}

td:nth-child(3),
td:nth-child(4) {
  padding-right: 45px;
}

td:nth-child(4),
td:nth-child(5) {
  padding-right: 250px;
}

td:nth-child(5),
td:nth-child(6) {
  padding-right: 58px;
}

td:nth-child(6),
td:nth-child(7) {
  padding-right: 57px;
}

td:nth-child(7),
td:nth-child(8) {
  padding-right: 54px;
}

