.quantity_container {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.counter_container {
  display: flex;
  gap: 4px;
  align-items: center;
}

.button {
  width: 44px;
  height: 44px;

  color: var(--color-black);

  background: none;
  border: 1px solid var(--color-black);
  border-radius: 10px;
  
  transition: all .1s ease-in-out;

  &:hover {
    transform: translateY(1px);
    background: none;
  }

  &:active {
    transform: translateY(-1px);
    background: none;
  }
}

.text {
  font-size: var(--fz-xs);
  color: var(--color-gray);
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 136px;
  height: 44px;

  border: 1px solid var(--color-black);
  border-radius: 10px;
}