.input{
  width: 100%;
  padding: 14px 10px 14px 16px;

  font-size: 14px;
  color: #000;

  background: #F4F4F4;
  margin: 10px 0;
  border-radius: 12px;
}
.input:focus{
  border: 1px solid #FC133D;}

.error{
  font-weight: 400;
  line-height: 12px;
  font-size: 12px;
  color: #FC133D;

}