.wrapper{
  position: relative;
  display: inline-block;
}

.input{
  box-sizing: border-box;
  width: 100%;
  padding: 12px 10px 15px 16px;

  font-size: 14px;
  color: #000;

  background: #F2F2F2;
  border: 1px solid transparent;
  border-radius: 12px;
  outline: none;
}

.input_error{
  border: 1px solid #FF4040;
}

.error{
  position: absolute;
  bottom: -15px;
  left: 0;

  font-size: 13px;
  color: #FF4040;
}

.button{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}