.title {
  height: fit-content;
  color: var(--color-red);
}

.link {
  display: inline-block;
  line-height: 100%;
  color: inherit;

  &:focus-visible {
    border-radius: 4px;
    outline: 1px solid var(--color-gray-medium);
  }
}