.link {
  display: inline-block;

  height: fit-content;

  font-weight: var(--bold);
  line-height: 100%;
  color: var(--color-red);

  &:focus-visible {
    border-radius: 4px;
    outline: 1px solid var(--color-gray-medium);
  }
}