.container {
  display: flex;
  gap: 4px;
  align-items: center;

  height: 33px;
  padding: 8px 12px;

  background-color: transparent;
  border: 1px solid var(--color-gray-light);
  border-radius: 8px;

  &:hover {
    border: 1px solid var(--color-red);
  }
}

.box {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 16px;

  border-radius: 4px;
}

