.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  width: calc(100% - 464px);
  padding-right: 118px;
}

.control_panel {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.view_switchers {
  display: flex;
  gap: 8px;
  align-items: center;
}

.branch_crumbs {
  margin-left: 16px;
  font-size: var(--fz-m);
  font-weight: var(--semi-bold);
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
  margin-bottom: 68px;
}

.list_container {
  row-gap: 16px;
}

.grid_container {
  row-gap: 32px;
  column-gap: 12px;
}

.info_button {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 35px;
}

.select {
  column-gap: 12px;
  font-size: var(--fz-m);
  font-weight: var(--semi-bold);
}
