.feedbacks_container {
  display: flex;
  flex-direction: column;

  margin-bottom: 16px;

  background: var(--color-white);
  border-radius: 12px;
}

.title_container {
  display: flex;
  gap: 6px;
  align-items: center;
  margin-bottom: 23px;
}

.link {
  transform: translateY(-3px);
  align-self: flex-end;
  color: var(--color-red);
  text-decoration: underline;
}

@media (max-width: 426px) {
  .grade {
    column-gap: 0;
    justify-content: space-between;
  }
}