.feedbacks_container {
  height: 283px;
  margin-bottom: 16px;
  background: var(--color-white);
  border-radius: 12px;
}

.title_container {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 23px;
}

.link {
  transform: translateY(-3px);
  align-self: flex-end;
  color: var(--color-red);
  text-decoration: underline;
}

.description {
  line-height: 20px;
}