.paginator_product {
  display: flex;
  flex-direction: row;
  gap: 10px;

  font-family: 'SF Pro Display Medium', sans-serif;
  font-size: var(--fp);
  line-height: 24px;
}

.paginator_product_left_arrow {
  width: 24px;
  height: 24px;
}

.paginator_product_right_arrow {
  width: 24px;
  height: 24px;
}

.paginator_product_left,
.paginator_product_right {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
}

.paginator_product_numbers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: fit-content;
}

.paginator_product_numbers>div {
  width: 24px;
  height: 25px;
  line-height: 25px;
  text-align: center;
}

.active_page {
  color: #FC133D;

}

.invisible {
  display: none;
}

.cursor {
  cursor: pointer;
}