.CheckPayment {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;  
  padding: 32px;
  gap: 32px;   
}
.CheckPayment__block {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;  
}

.CheckPayment__block_kind {
  display: flex;
  flex-direction: row;  
  align-items: flex-end;
  margin-top: -13px;
  margin-bottom: -13px;
}

.CheckPayment__block_kind-box {
  width: 148px;  
  height: 46px;
  border: 1px #828282 solid;
  border-radius: 23px;
  margin-right: -140px;
  z-index: 1;
}
.CheckPayment__block_kind-cart {
  width: 475px;
  height: 39px;
  margin-bottom: 2px;
  background: url('../../../../assets/img/icons/payment.png');  
}
.CheckPayment_add {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #828282;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 29px;
  text-decoration: underline;
  cursor: pointer;
}