.product_size_container {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.text {
  color: var(--color-black);
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 13px;
  justify-content: space-between;

  min-width: 268px;
}

.item_container {
  //flex-grow: 1;
}

.item {
  cursor: pointer;

  position: relative;
  z-index: 5;

  display: flex;
  flex-grow: 10;
  align-items: center;
  justify-content: center;

  min-width: 64px;
  height: 25px;

  font-size: var(--fz-s);

  border: 2px solid var(--color-black);
  border-radius: 8px;
}

.remains {
  position: relative;

  display: block;

  padding-top: 4px;

  color: var(--color-gray-medium);
  text-align: center;

  border-right: 2px solid var(--color-black);
  border-bottom: 2px solid var(--color-black);
  border-left: 2px solid var(--color-black);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.remains::before {
  content: '';

  position: absolute;
  z-index: 1;
  top: -6px;
  left: -2px;

  width: 2px;
  height: 8px;

  background-color: var(--color-black);
}

.remains::after {
  content: '';

  position: absolute;
  z-index: 1;
  top: -6px;
  right: -2px;

  width: 2px;
  height: 8px;

  background-color: var(--color-black);

}

.active {
  color: var(--color-red);
  border: 2px solid var(--color-red);
}

@media (max-width: 1365px) {
  .item_container {
    width: 20%;
  }
}

@media (max-width: 352px) {
  .item {
    min-width: unset;
  }
}