.categories{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 16px;
}

.item{
  justify-content: space-around;
  text-align: center;
}

.button{
  cursor: pointer;

  font-family: var(--roboto);
  font-size: 20px;
  font-weight: var(--semi-bold);
  font-style: normal;
  line-height: 20px;
  color: var(--black);

  background: none;
}

.btn_active{
  color: var(--red);
  transition: all 0.3s;
}

.border_line{
  height: 3px;
  background: #D4D4D4;
  border-radius: 8px;
}

.border_line_active{
  position: relative;

  width: calc(100%/5);
  height: 3px;

  background-color: red;

  transition: all 0.3s;
}