
.container {
  display: flex;
  align-items: center;

  height: 33px;
  padding: 8px 12px;

  border: 1px solid #D4D4D4;
  border-radius: 8px;

  &:hover {
    background-color: var(--color);
  }
}

.box {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 16px;
  margin-right: 8px;

  border-radius: 4px;
}

