.modal {
  pointer-events: all;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  opacity: 1;
  background-color: rgba(0, 0, 0, 0.6);

  transition: 0.5s;
}

.modal_content {
  padding: 32px;

  background: #FFF;
  border-radius: 12px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  transition: 0.5s all;
}