.modal {
  pointer-events: none;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  opacity: 0;
  background-color: rgb(0 0 0 / 60%);

  transition: 0.5s;
}

.modal_active {
  pointer-events: all;
  opacity: 1;
}

.modal__content {
  transform: scale(0.5);

  padding: 56px 60px;

  background: #FFF;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);

  transition: 0.5s all;
}

.modal__content_active {
  transform: scale(1);
}
