.SearchFilter {
  display: flex;  
  width: calc(100% - 30px);
  height: 34px;      
  padding: 5px 14px;
  border-radius: 4px;   
  align-items: center;  
  margin-right: 43px;  
  border: 1px #e5e5e5 solid;
}
.SearchFilter__text {     
  display: block; 
  font-size: var(--fp);    
  padding-left: 6px;
  height: 100%; 
  width: 100%;     
}  

.SearchFilter::before {
  position: relative; 
  content: '';   
  width: 16px;
  height: 16px; 
  background: url('../../../../assets/img/icons/search.png');    
  background-size: cover;
} 
