.link_container {
  display: flex;
  flex-flow: column;

  padding: 32px;

  background: var(--color-white);
  border-radius: 12px;

}

.link_description {
  font-size: var(--fz-s2);
  line-height: var(--fz-l2);
  color: var(--color-black);
  text-align: left;
}

.link {
  text-decoration: underline;

  &:focus-visible {
    border-radius: 4px;
    outline: 1px solid var(--color-gray-medium);
    transition: none;
  }
}

@media only screen and (max-width: 1000px) {
  .link_container {
    padding: 16px;
  }
}

