.order_list_item {
  display: flex;
  flex-grow: 1;
  align-items: center;

  width: 100%;
  margin-bottom: 32px;
}

.product_info {
  display: flex;
  align-items: flex-end;
  width: 100%;
  padding-left: 34px;
}
