.quantity {
  display: flex;
  flex-direction: column;
}

.bundle_quantity {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 5px;

  .bundle_quantity_text {
    align-self: center;

    margin-right: 4px;

    line-height: 20px;
    text-align: left;
    letter-spacing: 0.16px;
    vertical-align: center;

    .bundle_quantity_value {
      padding-left: 4px;

      font-size: var(--fz-xs);
      font-weight: var(--regular);
      line-height: 16px;
      color: var(--color-gray-medium);
      text-align: left;
      letter-spacing: 0.16px;
    }
  }

  .bundles_question_button {
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: var(--color-white);
  }
}
