
.image {
  width: 230px;
  height: 150px;
  border-radius: 8px;
}

.container_content {
  display: flex;
  margin-bottom: 16px;
}

.text_container {
  padding-left: 16px;
}

.title {
  padding-bottom: 8px;

  font-size: var(--fz-l2);
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.38px;
}

.text {
  font-size: var(--fz-s);
  line-height: 17px;
}