.page {
  background: #FFF;
}

.page_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 481px;
  height: 100vh;
  margin: 0 auto;
  padding: 216px 15px 0;

  text-align: center;
}

@media screen and (max-width:768px){
  .page_wrap{
    width: 100%;
    padding: 230px 15px 0 !important;  }
}

.header {
  font-size: 28px;
  font-weight: 700;
  font-style: normal;
  line-height: 100%;
  color: #000;
  letter-spacing: 0.0024em;
}

.subheader {
  margin-top: 16px;

  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: #636568;
  letter-spacing: 0.16px;
}

.inner_wrapper {
  width: 400px;
}

@media screen and (max-width: 450px){
  .inner_wrapper{
    width: 100%;
  }

}

@media screen and (max-width: 768px){
  .content{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;

  }
  .header{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
  }
}

p {
  margin: 0;
}
