.reward {
  display: flex;
  flex-direction: row;
  height: 24px;
  gap: 8px;
}
.reward_numbers {
  display: flex;
  flex-direction: row;
  line-height: 24px;
  font-size: var(--fp);
}

.none-star {
  display: none;
}
