.ProductAbout {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;  
}
.ProductAbout__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
}
.ProductAbout__specifications {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 337px;  
}

.ProductAbout__property {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 569px;  
}

.ProductAbout__stage {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 223px;  
}

.product__specifications {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  font-family: 'Roboto';
  font-size: var(--fp);
  letter-spacing: 0.16px;
}
.product__specifications_key,
.product__specifications_value {
  display: block;
  line-height: 24px;
  height: 24px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: var(--fp);
  letter-spacing: 0.16px;
}
.product__property,
.product__stage {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;  
}
.product__property_key,
.product__stage_key {
  font-family: 'SF Pro Display Bold';
  font-size: 16px;
  letter-spacing: 0.16px; 
}

.product__property_value,
.product__stage_value {
  display: block;
  line-height: 24px;  
  font-family: 'Roboto';
  font-weight: 400;
  font-size: var(--fp);
  letter-spacing: 0.16px;
  min-height: fit-content;  
}
.product__property_more {
  display: block;
  line-height: 24px;  
  font-family: 'Roboto';
  font-weight: 400;
  font-size: var(--fp);
  letter-spacing: 0.16px;
  color: #828282;
  width: fit-content;
  cursor: pointer; 
}
.none {
  display: none;
}