.background_img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  background-color: var(--color-super-light-gray);
  border-radius: 50%;
}

.style_img {
  width: 40%;
}
