.wrapper {
  display: flex;
  flex-direction: column;
  width: calc(100% - 464px);
  padding-right: 118px;
}

.control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.control_btns {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.control_blocks {
  cursor: pointer;
  width: 24px;
  height: 24px;
  background: url('../../../../assets/img/icons/grid-view.svg');
}

.control_list {
  cursor: pointer;
  width: 24px;
  height: 24px;
  background: url('../../../../assets/img/icons/list.svg');
}

.control_category {
  height: 24px;
  margin-left: 16px;

  font-family: var(--roboto);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.list {
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  justify-content: space-between;

  width: 100%;
  max-height: 1968px;
  margin-top: 24px;
  margin-bottom: 80px;
}

.list::-webkit-scrollbar {
  width: 0;
}

.info_btn {
  display: flex;
  align-self: flex-end;
  width: fit-content;
  margin-right: -118px;
}
