.cartItems {
    width: 100%;
}

.cartItems__title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 34px;
    color: #000000;
}
