.buttons_wrapper {
  display: flex;
  column-gap: 12px;
  align-items: center;
}

.button {
  width: 150px;
  font-size: var(--fz-m);
  border: none;
}

@media only screen and (max-width: 768px) {
  .button {
    width: 120px;
  }
}