.card_full {
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: space-between;

  width: 100%;
}

.card_info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;

  box-sizing: border-box;
  height: 100%;
}

.name {
  margin-bottom: 6px;

  font-size: var(--fz-l2);
  font-weight: var(--bold);
  line-height: 24px;
  color: var(--color-black);
  letter-spacing: 0.16px;
}

.categories {
  display: flex;
  gap: 16px;
  margin-bottom: 12px;
}

.category {
  font-size: var(--fz-xs2);
  line-height: 18px;
  color: var(--color-accent);
  letter-spacing: 0.16px;
}

.reviews_info {
  display: flex;
  margin-top: 4px;
  margin-bottom: 15px;
}

.reviews {
  font-size: var(--fz-xs);
  font-weight: var(--medium);
  line-height: 16px;
  color: var(--color-medium-gray);
  letter-spacing: 0.16px;
}

.orders_container {
  display: flex;
  align-items: flex-end;
  margin-bottom: 31px;
}

.orders {
  font-size: var(--fz-s2);
  font-weight: (var(--medium));
  line-height: 20px;
  color: var(--color-black);
  letter-spacing: 0.38px;
}






