.check_items {
  background-color: #FFF;
  border-radius: 12px;
}

.check_items_block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  height: 20px;
  margin-top: 24px;

  font-family: Roboto serif;
  font-size: var(--fz-s2);
  line-height: 20px;
}

.check_items_block_seller {
  margin-right: 14px;

  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #000;
}

.check_items_block_note {
  cursor: pointer;

  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #FC133D;
  text-decoration-line: underline;
}

.check_items_product {
  display: flex;
  flex-direction: row;
  gap: 24px;

  width: 100%;
  height: max-content;
  margin-top: 20px;
  margin-bottom: 32px;
}

.check_items_product_info {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.check_items_product_info_name {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}

.check_items_product_info_property {
  padding-top: 12px;
}

.check_items_product_info_price {
  padding-top: 25px;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
}

.check_items_product_info_offer {
  position: relative;

  display: flex;
  justify-content: space-between;

  width: 300px;
  padding-top: 4px;
}

.check_items_delivery {
  display: flex;
  align-items: center;

  margin: 0 -32px;
  padding: 12px 32px;

  background: rgba(252, 19, 61, 0.2);
}

.check_items_delivery_info {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #000;
}

.check_items_delivery_point {
  width: 4px;
  height: 4px;
  margin: 0 24px;
  border-radius: 50%;
}

.check_items_block_rating {
  display: flex;
  align-items: center;
}

.check_items_start {
  margin-right: 4px;
}

.check_items_rating {
  margin-right: 8px;
}

.check_items_text_product {
  padding-right: 12px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.check_items_line {
  width: 58%;
  margin-bottom: 5px;
  border-bottom: 1px solid #000;
}

.check_items_line_new_price {
  position: absolute;
  right: 77px;
  bottom: 9px;

  width: 68px;

  border-bottom: 1px solid #FC133D;
}

.check_items_new_price {
  padding-left: 8px;

  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: #FC133D;
}

.image {
  overflow: hidden;
  width: 120px;
  height: 120px;
  border-radius: 8px;
}

.arrow_right {
  transform: rotate(270deg);
}