.switchBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.switchBox__label {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.switchBox__box {
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  width: 28px;
  height: 24px;
  padding-right: 4px;
  padding-left: 4px;

  background: #E0E0E0;
  border-radius: 12px;

  transition: 0.2s;
}

.switchBox__box_btn {
  pointer-events: none;

  display: block;

  width: 16px;
  height: 16px;

  background-color: #FFF;
  border-radius: 50%;

  transition: 0.2s;
}
