.check_delivery {
  display: flex;
  flex-direction: column;
  gap: 32px;

  padding: 32px;

  background-color: #FFF;
}

.check_delivery_add {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding-top: 30px;
  padding-bottom: 29px;

  text-decoration: underline;

  border: 1px dashed #828282;
}

.check_delivery_address {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
