.wrapper{
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  padding: 21px 0;

  font-family: var(--roboto);
  font-size: 15px;
  font-weight: var(--medium);
  font-style: normal;
  line-height: 15px;
  color: var(--black);
}

.left{
  padding-right: 16px;
  border-right: 1px solid var(--black);
}

.right{
  display: flex;
  gap: 20px;
  padding-left: 16px;
  border-left: 1px solid var(--black);
}

.select > select{
  min-width: 0;
  padding: 0 35px 0 0;

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;

  background: transparent;
}

.select_box{
  display: inline-flex;
  gap: 8px;
  align-items: center;
}