.requirement {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;

}

.requirement_not_met {
  display: block;

  width: 8px;
  height: 8px;

  background: #FF4040;
  border-radius: 6px;
}

.requirement_met {
  display: block;

  width: 8px;
  height: 8px;

  opacity: 1;
  background: #34E145;
  border-radius: 6px;
}
