.wrapper {
  display: grid;
  grid-template-areas:
    ". . ."
    ". . .";
  grid-template-columns: 1fr 1fr 0.4fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  justify-items: start;

  padding: 10px;

  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.50px;
}

@media only screen and (max-width: 400px) {
  .wrapper {
    grid-template-columns: 0.5fr 0.5fr 0.3fr;
    margin-left: 14px;
  }
}