.wrapper {
  display: flex;
  justify-content: space-between;
  font-size: var(--fz-xs-2);
  letter-spacing: -0.08px;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 425px) {
  .wrapper {
    display: grid;
    grid-row-gap: 6px;
    grid-template-columns: 130px 90px;
    grid-template-rows: 1fr 1fr;
  }

  .wrapper > * {
    justify-self: start;
  }
}
