.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

  width: 634px;
  height: auto;
  margin-top: 24px;
  margin-bottom: 20px;
}
  
.select_input {
  font-size: 12px;
  color: var(--Medium-grey, #828282);
  background: var(--color-white-ivory);
  border-radius: 12px;
}

.button {
  cursor: pointer;

  padding: 0;

  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  color: var(--Accent-Color, #FC133D);
  text-align: left;
  text-decoration: underline;
  
  background: transparent;
  border: none;
  outline: none;

  &:focus-visible {
    border-radius: 4px;
    outline: 1px solid var(--color-gray-medium);
  }
    
  &:disabled {
    color: var(--color-gray-light);
  }
}

.percentage {
  font-size: 12px;
}

.additional {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}