.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;

  width: 100%;
  height: auto;
  margin-top: 24px;
  margin-bottom: 20px;
}

.button {
  cursor: pointer;

  padding: 0;

  font-size: var(--fz-m);
  font-weight: var(--regular);
  font-style: normal;
  color: var(--color-red);
  text-align: left;
  text-decoration: underline;
  
  background: transparent;
  border: none;
  outline: none;

  &:focus-visible {
    border-radius: 4px;
    outline: 1px solid var(--color-gray-medium);
  }
    
  &:disabled {
    color: var(--color-gray-medium);
  }
}

.percentage {
  font-size: var(--fz-xs);
}

.additional {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

@media (max-width: 768px) {
  .container, 
  .additional {
    grid-template-columns: 1fr;
    width: 100%;
  }
}