.selectAndPaginationWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.contentWrapper {
    background: #ffffff;
    border-radius: 8px;
    padding-top: 40px;
    margin-bottom: 40px;
}

.filtersWrapper {
    margin-left: 40px;
    margin-bottom: 18px;
}

.filterOrders {
    cursor: pointer;
}

.filterOrders,
.filterOrders__active {
    display: inline-block;
    margin-right: 70px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.38px;
    color: #000000;

}
.filterOrders__active {
    text-decoration: underline;
    cursor: default;
}

.table {
    width: 100%;
    border-spacing: 40px 22px;
    padding-bottom: 40px;
}

.tableBody {
    margin-left: 10px;
}

.tableHeader {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 0.38px;
    color: #999999;
    padding-bottom: 13px;
    text-align: left;
    cursor: pointer;
}

.buttonDetails {
    display: flex;
    justify-content:space-around;
    width: 100%;
    height: 100%;
    background: #ffffff
}

.buttonDetailsWrapper_points {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.buttonDetails_points,
.buttonDetails_points::before,
.buttonDetails_points::after {
    width: 3px;
    height: 3px;
    background: #28303F;
    border-radius: 100%;
}

.buttonDetails_points::before {
    content: '';
    display: block;
    margin-top: 8px;
}

.buttonDetails_points {
    margin: 3px;
}

.buttonDetails_points::after {
    content: '';
    display: block;
    margin-top: 5px;
}

.tableData {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.38px;
    color: #000000;
}
