.backgroundImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: var(--back);
  border-radius: 50%;
}

.styleImg {
  width: 40%;
}
