.wrapper {
  display: flex;
  gap: 32px;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    gap: 24px;
  }
}

@media only screen and (max-width: 425px) {
  .wrapper {
    gap: 16px;
  }
}
