.checkoutPage {
  width: calc(100% - 64px);
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.checkout {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.checkout_items {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.checkout_items > h4 {
  padding-left: 32px;
  padding-top: 32px;
  background-color: #FFF;
}
