.cardFull {
  display: flex;
  flex-direction: row;
  gap: 32px;
  width: 100%;
  min-height: 240px;
}

.cardFull__info {
  display: flex;
  flex-direction: column;
  width: calc(100% - 252px);
  color: #000000;
  justify-content: space-between;
  height: 220px;
}

.cardFull__direction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.cardFull__direction > h4 {
  display: flex;
  width: 100%;
  margin-top: 12px;
  width: 480px;
  height: 40px;
  cursor: pointer;
}

.cardFull__path {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  height: 24px;
  align-items: center;
  font-size: var(--fp);
  letter-spacing: 0.16px;
  color: #828282;
}
.cardFull__price {
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin-top: 8px;
  font-size: var(--fd);
  font-family: 'SF Pro Display Bold';
  margin-bottom: 4px;
}
.cardFull__price > span {
  display: block;
  align-self: flex-end;
  font-size: var(--fs);
  font-family: 'Roboto';
}
.cardFull__block1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.cardFull__block2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.cardFull__block3 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.cardFull__price_stars {
  display: flex;
  flex-direction: row;
  min-width: 355px;
  width: max-content;
  justify-content: space-between;
  align-items: flex-end;
}
.cardFull__stars_reviews {
  display: flex;
  flex-direction: row;
}
.cardFull__stars_reviews > span {
  font-size: 11px;
  font-weight: 400;
  font-family: 'Roboto';
  line-height: 16px;
  color: #828282;
}
.cardFull__orders {
  display: flex;
  align-self: end;
  color: #828282;
  font-size: var(--fs);
  font-family: 'Roboto';
}
.cardFull__basket {
  border: 1px #dddddd solid;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}

.cardFull__basket > div {
  width: 24px;
  height: 24px;
  background-size: 24px;
  background-position: center;
  background-image: url('../../../assets/img/icons/bxs_cart.svg');
}
