.header__ship {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: 24px;
}
.ship_select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 110px;
  padding-left: 10px;
  cursor: pointer;
}
.select_img {
  display: flex;
  width: 24px;
  height: 24px;
  padding-left: 10px;
  object-fit: cover;
  align-items: center;
}
.select_text {
  width: 100%;
  text-align: end;
}

.ship_list_options {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 110px;
  height: fit-content;
  margin-top: 26px;
  overflow: hidden;
  transition: 0.4s;
  gap: 5px;
  border-radius: 3px;
}

.ship_option {
  padding-left: 10px;
  text-decoration: none;
  width: 100%;
  cursor: pointer;
}
