.checkDelivery {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 32px;
  gap: 32px;
}
.checkDelivery_add {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #828282;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 29px;
  text-decoration: underline;
  cursor: pointer;
}
.checkDelivery_address {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
