.authPage__wrap {
  position: relative;
  width: 400px;
  margin: 0 auto;
}

.forgotPasswordlink {
  display: block;

  margin-top: 24px;

  color: #000;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.16px;
}
