.imgSlider {
  user-select: none;
}

.imgSlider__window {
  overflow: hidden;
  width: 220px;
  height: 220px;
}

.imgSlider__window_list {
  display: flex;
  flex-direction: row;

  margin-top: -32px;
  margin-left: -100%;

  transition: 0.4s;
}

.imgSlider__window_list_img {
  display: block;
  width: 220px;
  height: 220px;
  object-fit: cover;
}

.imgSlider_control {
  position: relative;
  top: 12px;

  display: flex;
  flex-direction: row;
  gap: 12px;
}

.imgSlider_control_slide {
  cursor: pointer;

  width: 8px;
  height: 8px;

  background: #828282;
  border-radius: 50%;
}
