.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 100%;
  margin-bottom: 96px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: flex-start;
}

.item {
  cursor: pointer;

  display: block;

  height: 27px;
  padding-right: 30px;
  padding-left: 30px;

  line-height: 27px;

  background: #EAEAEA;
}
