.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.searchAndLayout {
  display: flex;
  justify-content: space-between;
}

.searchWithRestFilters {
  display: flex;
   align-items: center;

}
.vectorUp{
  margin-right: 25px;
}
.search{
  margin-right: 24px;
}

.search_wrap {
  display: flex;
  align-items: center;

  width: 40%;
  min-width: 300px;
  height: 34px;
  padding: 5px 14px;

  background-color: #F4F4F4;
  border-radius: 12px;
}

.search_wrap::before {
  content: '';

  position: relative;

  width: 16px;
  height: 16px;

  background: url('../../assets/img/icons/search.png');
  background-size: cover;
}

.search__input {
  display: block;

  width: 100%;
  height: 100%;
  padding-left: 6px;

  font-size: var(--fp);

  background-color: inherit;
}

.search_photo {
  opacity: 0.5;
}

.search_photo__clicked {
  opacity: 1;
}

.search_photo:hover {
  cursor: pointer;
}

.rest_filters {
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0.16px;
  color: #000000;
  margin-right: 9px;
}
.reset_link{
  color:#FC133D;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.16px;
  text-decoration-line: underline;
}
.layouts {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.inactiveLayout {
  color: #828282;
}

.restFiltersWrapper {
  display: flex;
  gap: 15px;
  align-items: flex-end;
  margin-top: 30px;
}

.filter {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 261px;
}

.filter_name {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 22px;
  color: #000;
}

.filter_input {
  height: 28px;
}

.filter_input,
.select_headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 11px;

  background-color: #FFF;
  border-radius: 4px;
}

.selectDate_img {
  cursor: pointer;
}

.selectWrapper {
  background-color: #FFF;
  border-radius: 4px;
}

.filter_input__date::placeholder,
.select_header,
.labelCheckbox {
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 22px;
  color: #000;
}

.select_options {
  position: absolute;
  top: 300px;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-around;

  width: 261px;
  height: fit-content;
  margin-top: 26px;

  background-color: #FFF;
  border-radius: 4px;
  box-shadow: 5px 0 10px rgb(0 0 0 / 25%);

  transition: 0.4s;
}

.option {
  cursor: pointer;
  padding-left: 10px;
}

.option:first-child {
  margin-top: 10px;
}

.option:last-child {
  margin-bottom: 10px;
}

.labelCheckbox {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;

  padding-bottom: 5px;
}

.inputCheckbox {
  width: 14.25px;
  height: 14.25px;
  margin: 15px;

  background-color: #F2F2F2;
  border: 0.593805px solid #999;
  border-radius: 2.37522px;
}

.activeLayout path {
  fill:#FC133D ;
}

.selectAndPaginationWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 20px;
  margin-bottom: 20px;
}

.contentWrapper {
  margin-bottom: 40px;
  padding-top: 40px;
  background: #FFF;
  border-radius: 8px;
}

.contentHeader {
  display: flex;
  justify-content: space-between;
}

.actionsWrapper {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;

  margin-right: 50px;
  margin-bottom: 18px;
}

.action {
  cursor: pointer;

  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.subtitle {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  color: #000;
  letter-spacing: 0.38px;
}

.filtersWrapper {
  margin-bottom: 18px;
  margin-left: 40px;
}

.filteredProducts {
  cursor: pointer;
}

.filteredProducts,
.filteredProducts__active {
  display: inline-block;

  margin-right: 70px;

  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  color: #000;
  letter-spacing: 0.38px;
}

.filterOrders__active {
  cursor: default;
  text-decoration: underline;
}

.table {
  border-spacing: 40px 22px;
  width: 100%;
  padding-bottom: 40px;
}

.tableBody {
  margin-left: 10px;
}

.tableHeader {
  cursor: pointer;

  padding-bottom: 13px;

  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  line-height: 25px;
  color: #999;
  text-align: left;
  letter-spacing: 0.38px;
}

.tableData,
.tableData_inactive {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 17px;
  color: #000;
  letter-spacing: 0.38px;
}

.tableData {
  color: #000;
}

.tableData_inactive {
  color: #999;
}

.cardsWrapper {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 20px; */
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;

  /* column-gap: 20px; */
  justify-content: space-between;
}

.productCard {
  cursor: pointer;
  position: relative;
  max-width: 265px;
}

.picture {
  width: 265px;
  height: 265px;
  background-color: #D9D9D9;
}

.viewAndAdditWrapper {
  position: absolute;
  top: 20px;
  right: 20px;

  display: flex;
  gap: 6px;
}

.iconBackground {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  background: #FFF;
  border-radius: 100%;
}

.productName {
  overflow: hidden;

  height: 48px;
  margin-top: 15px;

  font-size: 17.9007px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: #828282;
  letter-spacing: 0.190941px;
}

.priceAndConditions {
  display: flex;
  gap: 10px;
  align-items: flex-end;
  justify-content: flex-start;

  margin-top: 10px;
}

.productPrice {
  font-size: 23.8676px;
  font-weight: 700;
  font-style: normal;
  line-height: 30px;
  color: #000;
  letter-spacing: 0.453484px;
}

.condition {
  font-size: 9.54704px;
  font-weight: 400;
  font-style: normal;
  line-height: 19px;
  color: #828282;
  letter-spacing: 0.190941px;
}

.otherInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productCreationDate {
  font-size: 11.9338px;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
  color: #828282;
  letter-spacing: 0.453484px;
}

.modalHeader {
  margin-bottom: 40px;

  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  color: #000;
  text-align: center;
  letter-spacing: 0.38px;
}

.buttons_wrapper {
  display: flex;
  justify-content: space-around;
}

.modal_button {
  cursor: pointer;

  width: 30px;
  padding: 10px 30px;

  font-size: 15px;
  font-weight: 700;
  text-align: center;

  background: #F2F2F2;
  border-radius: 8px;
}

.modal_button:hover {
  background: #D9D9D9;
}
.checkbox{
  width: 24px;
  height: 24px;
  background: #F4F4F4;
  border-radius: 4px;
}