.mainButton {
    font-size: 20px;
    color: rgb(59, 61, 66);
    position: relative;
    background: rgba(77, 134, 247, 0.5);
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 500ms;
}
.mainButton:hover { 
    background: rgba(77, 134, 247, 0.3); 
}

.secondaryButton {
    font-size: 15px;
    position: relative;
    background: rgba(116, 133, 167, 0.5);
    border: none;
    border-radius: 8px;
    color: rgb(59, 61, 66);
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 500ms;
}
.secondaryButton:hover { 
    background: rgba(116, 133, 167, 0.3); 
}