.item {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 64px;
  height: 25px;

  font-size: var(--fz-s);

  border: 2px solid var(--color-black);
  border-radius: 8px;
}

.remains {
  cursor: pointer;

  position: relative;

  display: block;

  max-width: 64px;
  padding-top: 4px;

  color: var(--color-gray-medium);
  text-align: center;

  border-right: 2px solid var(--color-black);
  border-bottom: 2px solid var(--color-black);
  border-left: 2px solid var(--color-black);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.remains::before,
.remains::after {
  content: '';

  position: absolute;
  z-index: 1;
  top: -6px;

  width: 2px;
  height: 8px;

  background-color: var(--color-black);
}

.remains::before {
  left: -2px;
}

.remains::after {
  right: -2px;
}

.active {
  color: var(--color-red);
  border: 2px solid var(--color-red);
}
