.nav_bar_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 16px 32px;

  background: #FFF;
}

.logo_section {
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  line-height: 25px;
  color: #000;
  letter-spacing: 0.38px;
}

.links_section {
  display: flex;
  gap: 25px;
}
