.list_item {
  font-size: var(--fz-l);
  font-weight: var(--regular);
  font-style: normal;
  line-height: 22px;
}

.link {
  font-size: var(--fz-l);
  font-weight: var(--semi-bold);
  color: var(--color-black);

  &:hover {
    font-weight: var(--bold);
    color: var(--color-red);
    transition: all .1s;
  }
}

.focus_item {
  font-weight: var(--medium);
  color: var(--color-red);
}

.items_links {
  margin-top: 14px;
  transition: all .1s;

  &:hover {
    cursor: pointer;
    font-weight: var(--medium);
    color: var(--color-red);
  }
}


.items_wrapper {
  min-width: 660px;
}

.items_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 22px;
}
