.list_item {
  margin-bottom: 16px;

  font-size: var(--fz-l);
  font-weight: var(--regular);
  font-style: normal;
  line-height: 24px;
}

.link {
  font-size: var(--fz-l);
  font-weight: var(--semi-bold);
  color: var(--color-black);

  &:hover {
    color: var(--color-accent);
    transition: all .1s;
  }
}

.focus_item {
  color: var(--color-accent);
}

.items_links {
  margin-top: 14px;
  transition: all .1s;

  &:hover {
    cursor: pointer;
    font-weight: 500;
    color: var(--color-accent);
  }
}


.items_wrapper {
  min-width: 660px;
}

.items_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 26px;
  margin-top: 12px;
}
