.page {
  background: #FFF;
}

.page_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 481px;
  height: 100vh;
  margin: 0 auto;
  padding: 216px 15px 0;
}

@media screen and (max-width: 768px){
  .page_wrap{
    width: 100%;
    padding: 230px 15px 0 !important;

  }
}

.header {
  font-size: 28px;
  font-weight: 700;
  font-style: normal;
  line-height: 100%;
  color: #000;
  letter-spacing: 0.0024em;
}

.subheader {
  margin-top: 16px;

  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: #636568;
  letter-spacing: 0.16px;
}

.inner_wrapper {
  width: 400px;
}

@media screen and (max-width: 450px) {
  .inner_wrapper {
    width: 100%;
  }
}

.modal_content_wrapper {
  width: 420px;
  text-align: left;
}

.modal_header {
  margin-bottom: 26px;

  font-size: 34px;
  font-weight: 700;
  line-height: 41px;
  color: #000;
  letter-spacing: 0.41px;
}

.modal_sub_header {
  margin-bottom: 32px;

  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
  letter-spacing: 0.16px;
}

.link_forgot{
  margin-top: 24px;

  font-size: 13px;
  font-weight: var(--regular);
  line-height: 18px;
  color: var(--color-black);

  transition: all 0.3s;
}

.link_forgot:hover{
  color: var(--color-accent);
}

.link_forgot > a {
  color: inherit;
}

.button_modal{
  width: 100%;
}

@media screen and (max-width: 768px){
  .header{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
  }

  .modal_container{
    margin: 0 8px;
    padding: 16px;
  }

  .modal_content_wrapper{
    width: 100%;
  }

  .modal_header{
    margin-bottom: 16px;
    font-size: 22px;
    line-height: 24px;
  }

  .modal_sub_header{
    margin-bottom: 24px;
  }
}