.container{
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 48px;
  padding: 0 20px;
}
.title{
  margin-bottom: 28px;

  font-size: 34px;
  font-weight: 700;
  line-height: 34px;
  color: var(--red);
  text-align: center;
  letter-spacing: 0.41px;
}

.under_construction_icon {
  width: 150px;
  height: 150px;
  margin-bottom: 28px;

  background: url("../../assets/img/icons/under-construction.png") center no-repeat;
  background-size: contain;
}

.text {
  text-align: center;
}



