.feedback {
  display: flex;
  flex-direction: row;
  width: calc(100% - 64px);
  height: fit-content;
  padding: 32px;
  background-color: var(--back);
}

.feedback__left {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  gap: 67px;
}

.feedback__center {
  width: 2px;
  min-height: 100%;
  background: #DDD;
}

.feedback__right {
  width: calc(40% - 2px);
  display: flex;
  padding-top: 80px;
  flex-direction: column;
  gap: 56px;
}

.feedback__right_separator {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.feedback__right_separator_text {
  display: block;
  width: 64px;
  height: 24px;
  font-size: var(--fp);
  letter-spacing: 0.16px;
  text-align: center;
  line-height: 24px;
}

.feedback__right_separator_line {
  width: calc(50% - 32px);
  height: 2px;
  background: #DDD;
}
