.inputTextField {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 10px 15px 16px;

  font-size: 14px;
  color: #000;

  background: #F2F2F2;
  border: none;
  border-radius: 4px;
  outline: none;
}

.inputWrapper {
  flex-grow: 1;
}

.inputTitle {
  margin-bottom: 8px;
  font-size: 13px;
  color: #828282;
  text-align: left;
}

.inputError {
  position: absolute;
  font-size: 13px;
  color: #FF4040;
  text-align: left;
}

.textarea {
  resize: none;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-height: 44px;
  padding: 12px 10px 15px 16px;

  font-size: 14px;
  color: #000;

  background: #F2F2F2;
  border: none;
  border-radius: 4px;
  outline: none;
}
