.main {
  display: flex;
  flex-direction: column;
  font-family: 'SF Pro Display';
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.38px;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}

.orderInfo {
  margin-top: 16px;
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 1146px;
  background-color: #fff;
  border-radius: 8px;
}

.date {
  margin-top: 16px;
  font-family: 'Roboto';
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.16px;
  color: #828282;
}

.addressInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.titleAddress {
  font-family: 'SF Pro Text';
  font-size: 13px;
  line-height: 18px;
  color: #4f4f4f;
}

.information {
  font-family: 'Roboto';
  font-size: 15px;
}

.address {
  width: 427px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.16px;
}

.total {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.16px;
}

.productInfo {
  padding: 22px 32px;
  margin-top: 115px;
  margin-bottom: 50px;
  width: 1146px;
  background: #ffffff;
  border-radius: 8px;
}

.seller {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
}

.details {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.item {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.image {
  width: 120px;
  height: 120px;
  background: #d9d9d9;
}

.description {
  display: flex;
  flex-direction: column;
}

.description h2 {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
}

.description p {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.16px;
}

.price {
  margin-top: 2px;
  width: 120px;
  display: flex;
  justify-content: space-between;
}

.price p {
  font-weight: 600 !important;
  font-size: 20px !important;
  line-height: 25px !important;
}
