.Select {
  display: flex; 
  flex-direction: column; 
  align-self: center; 
  width: 100%;   
  border-radius: 4px;  
}

.Select__select {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center; 
  width: calc(100% - 2px);
  padding-left: 10px;
  cursor: pointer;  
  background-color: #f2f2f2;  
  border-radius: 4px;  
}
.Select_img {
  display: flex;
  width: 24px;
  height: 44px;
  padding-left: 8px;
  padding-right: 8px;
  object-fit: cover;
  align-items: center; 
}
.Select_text {
  display: flex;
  flex-direction: row;
  width: 100%;   
  align-items: center;
  font-family: 'Roboto';  
  font-weight: 400;
  font-size: 14px;
  gap: 4px;  
}

.Select__list {
  background-color: #ffffff;
  display: flex; 
  flex-direction: column;  
  position: absolute;  
  width: 316px;
  height: fit-content;
  margin-top: 44px;      
  overflow: hidden; 
  transition: 0.4s;  
  border-radius: 3px;    
  box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.25);    
}

.Select__list_item {
  display: block;
  padding-left: 10px;
  text-decoration: none; 
  width: calc(100% - 10px);
  height: 40px;
  line-height: 40px;
  cursor: pointer;   
  font-family: 'Roboto';  
  font-weight: 400;
  font-size: 14px;
}

.Select__list_item:hover {
  background-color: #000000;
  color: #ffffff;  
}