@import "src/common/styles/mixins";

.container {
  @include content_container(40px);
}

.container_text {
  padding-top: 36px;
}

.title_block {
  margin: 10px 0;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 15px;

  font-size: var(--fz-l);
  line-height: 20px;
}

.text {
  margin-bottom: 10px;
  line-height: 24px;
}

@media (max-width: 768px) {
  .container_text {
    padding-top: 0;
  }

  .title_block {
    margin: 16px 0;
  }

  .text, .items {
    line-height: 20px;
  }
}
