.container {
  max-width: var(--main-content-width);
  margin: 0 auto;
  padding: 48px 64px 32px;
}

.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}

.container_text {
  padding-top: 48px;
}

.title_block {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.text {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.li {
  margin-bottom: 15px;
}

