.Feedback {
  display: flex;
  flex-direction: row; 
  width: 100%;
  height: fit-content;
  padding-top: 32px;
  padding-bottom: 32px;
}
.Feedback__left {
  display: flex;
  flex-direction: column; 
  width: 60%; 
  height: 100%;
  gap: 67px;
}
.Feedback__center {
  width: 2px;  
  min-height: 100%;
  background: #dddddd; 
}

.Feedback__right{
  width: calc(40% - 2px);
  display: flex;
  padding-top: 80px;
  flex-direction: column;    
  gap: 56px;
}
.Feedback__right_separator {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Feedback__right_separator-text {
  display: block;  
  width: 64px;
  height: 24px;
  font-size: var(--fp);
  letter-spacing: 0.16px;
  text-align: center;
  line-height: 24px;
}
.Feedback__right_separator-line {  
  width: calc(50% - 32px);
  height: 2px;
  background: #dddddd;
}