.form_wrapper {
  display: flex;
  justify-content: center;
}

.form_container {
  display: flex;
  flex-direction: column;
  gap: 40px;

  width: 633px;
  margin-bottom: 48px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.select_inputs {
  display: flex;
  gap: 15px;
}

.select_equal {
  width: 309px;
}

.list_img_title {
  font-size: 13px;
  color: #828282;
}

.list_img {
  display: flex;
  gap: 8px;
}

.select{
  font-size: 14px;
  background: #F2F2F2;
  border-radius: 12px;
}
