.doubleInputs {
    display: flex;
    gap: 15px;
}

.inputsContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.add{
    font-size: 15px;
    text-decoration-line: underline;
    cursor: pointer;
}