.navbar {
  display: flex;
  justify-content: space-around;
}

.nav_item {
  list-style-type: none;
}

.nav_link {
  text-decoration: none;
}

.header__basic {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  height: 96px;

  background-color: #FFF;
}

.header__basic_logo {
  display: block;

  width: 45px;
  height: 25px;
  margin-right: 48px;
  margin-left: 32px;

  font-family: 'SF Pro Display Bold';
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}

.header__basic_buttons {
  display: flex;
  justify-content: space-between;
  width: 325px;
}

.wrepperButtonLink {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.wrepperButtonLink button {
  width: 144px;
  margin: 0;
}

.wrepper:hover {
  cursor: pointer;
}

.wrepperBtnImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  background-color: var(--back);
  border-radius: 50%;
}

.btnImg {
  display: block;
  width: 16px;
}

.btnName {
  font-size: var(--fs);
  line-height: 16px;
  letter-spacing: -0.24px;
}

.search__wrap {
  display: flex;
  align-items: center;

  width: calc(100% - 550px);
  height: 34px;
  margin-right: 43px;
  padding: 5px 14px;

  background-color: var(--back);
  border-radius: 3px;
}

.search__wrap::before {
  content: '';

  position: relative;

  width: 16px;
  height: 16px;

  background: url('../../../assets/img/icons/search.png');
  background-size: cover;
}

.search__input {
  display: block;

  width: 100%;
  height: 100%;
  padding-left: 6px;

  font-size: var(--fp);

  background-color: var(--back);
}
