.productPage {
    display: flex;
    flex-direction: column;
    width: calc(100% - 64px);
    height: fit-content;
    gap: 96px;
    margin: 0 auto;
    background-color: var(--front);
    padding: 48px 32px 32px;
}

.productPage__basic {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    gap: 48px;
}

.productPage__basic_left {
    display: flex;
    flex-direction: column;
    width: calc(50% - 24px);
    height: fit-content;
    gap: 48px;
}

.productPage__basic_right {
    display: flex;
    flex-direction: column;
    width: calc(50% - 24px);
    height: fit-content;
}

.productPage__basic_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 37px;
}

/*.productPage__basic_top_btn {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  gap: 8px;*/
/*}*/

.productPage__basic_block1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 12px;
}

.productPage__basic_path {
    display: flex;
    flex-direction: row;
    gap: 16px;
    height: 24px;
    align-items: center;
    font-size: var(--fp);
    font-weight: 400;
    line-height: 20px;
    color: #FC133D;
}

.productPage__basic_block2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 32px;
}

.productPage__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 44px;
    background-color: #FC133D;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 32px;
    margin-bottom: 36px;
}

.productPage__button:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #FC133D;
}

.productPage__button:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #FC133D;
}

.productPage__line {
    width: 100%;
    height: 2px;
    background-color: #dddddd;
    margin-bottom: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    height: 325px;
    width: 220px;
}

.card__image {
    width: 220px;
    height: 220px;
    position: relative;
}

.card__image:hover > .card__hover{
    z-index: 10;
    opacity: 1;
}

.card__image > img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
}

.card__flag{
   z-index: 11;
    position: absolute;
    top: 16px;
    right: 16px;
}

.card__hover{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
    border-radius: 8px;
    z-index: -10;
    opacity: 0;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__hover-text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 10px;
}


.card__link {
    color: inherit;
}

.card__direction {
    margin-top: 12px;
    width: 100%;
    height: fit-content;
    max-height: 40px;
    font-size: var(--fp);
    cursor: pointer;
}

.card__direction > span {
    display: inline-block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;

    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.16px;
}

.card__price {
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-top: 8px;
    font-size: var(--fd);
    font-family: 'SF Pro Display Bold';
    margin-bottom: 4px;
}

.card__price > span {
    display: block;
    align-self: flex-end;
    font-size: var(--fs);
    font-family: 'Roboto';
    color: #828282;
}

.amount {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.38px;
}
