.sellerCabinet {
  padding: 24px 30px 48px;
  background: #F5F5F5;
}

.sellerCabinet__contentWrapper {
  display: grid;

  /* grid-template-columns: 470px 600px 273px; */

  /* grid-template-rows: 26.59vh 34.56vh; */
  grid-gap: 16px;
  grid-template-areas: 'profileInfo orders notifications' 'accountDetails myAddresses notifications';
  grid-template-columns: 34.2% 43.7% 19.9%;
  grid-template-rows: minmax(min-content, 26.59vh) minmax(min-content, 34.56vh);
}

.profileInfo {
  grid-area: profileInfo;
}

.orders {
  grid-area: orders;
}

.notifications {
  grid-area: notifications;
}

.accountDetails {
  grid-area: accountDetails;
}

.myAddresses {
  grid-area: myAddresses;
}

.section {
  padding: 24px 32px;
  background: #FFF;
  border-radius: 8px;
}

.avatar__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  line-height: 25px;
  color: #000;
  text-align: left;
  letter-spacing: 0.38px;
}

.header__link {
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  color: #000;
  text-decoration-line: underline;
  letter-spacing: 0.16px;
}

.wrepperButtonLinkProfile {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;

  margin-top: 20px;
}

.wrepperButtonLinkProfile:hover {
  cursor: pointer;
}

.wrepperBtnImgProfile {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80px;
  height: 80px;

  background: #E0E0E0;
  border-radius: 50%;

  /* width: 80px;
height: 80px; */

  /* width: calc(80px + 1vw); 
height: calc(80px + 1vw); */

  /* width: calc(24px + 4vw);
height: calc(24px + 4vw);
background: #E0E0E0;
border-radius: 100%; */
}

.btnImgProfile,
.btnImg {
  display: block;
  width: 37.5%;
}

.btnNameProfile {
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  color: #828282;
  text-decoration-line: underline;
  letter-spacing: 0.16px;
}

.profileInfo__textFields {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;

  margin-top: 24px;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;

  width: 100%;
}

.textFieldLabel {
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
  color: #4F4F4F;
  letter-spacing: -0.08px;
}

.profileInfo__textFieldInput,
.accountDetails__textFieldInput {
  height: 42px;
  padding-left: 12px;

  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  color: #828282;
  letter-spacing: -0.24px;

  background: #F2F2F2;
  border-radius: 4px;
}

.profileInfo__textFieldInput {
  width: 100%;
}

.inputWrapper {
  display: flex;
  gap: 0;
  align-items: center;
  justify-content: space-between;

  background: #F2F2F2;

  /* margin-bottom: 12px; */
  border: none;
}

.accountDetails__textFieldInput {
  width: 100%;
}

.inputWrapper__inputTextField {
  width: 100%;
}

.inputWrapper__inputTextFieldPassword {
  display: flex;
  width: 100%;
}

.accountDetails__inputTextFieldPassword {
  width: 100%;
  height: 42px;
  padding-left: 12px;
  background: #F2F2F2;
}

.ordersCategory__wrapper {
  position: relative;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  margin-top: 44px;

  /* gap: 32px; */
  margin-bottom: 30px;
}

.wrepperButtonLink {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.wrepperButtonLink:hover {
  cursor: pointer;
}

.wrepperBtnImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 80px;
  height: 80px;

  background-color: var(--back);
  border-radius: 50%;
}

.btnName {
  font-size: 15px;
  font-weight: 700;
  font-style: normal;
  line-height: 16px;

  /* line-height: 24px; */
  color: #828282;
  text-decoration: none;
  letter-spacing: -0.24px;
}

.notificationsList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 16px;
}

.notificationsList__item {
  padding-top: 12px;
}

.notificationsList__item::after {
  content: '';

  display: block;

  height: 1px;
  margin-top: 12px;

  background: #F2F2F2;
}

.notificationsList__item:last-child::after {
  display: none;
}

.labelCheckbox {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  color: #000;
  letter-spacing: -0.24px;
}

.inputCheckbox {
  cursor: pointer;

  position: relative;

  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: left;

  width: 52px;
  height: 32px;
  padding: 1px;

  appearance: none;
  background: #F2F2F2;
  border: none;
  border-radius: 36.5px;

  transition: 0.5s;
}

.inputCheckbox::before,
.inputCheckbox::after {
  content: '';
  position: absolute;
  display: inline-block;
}

.inputCheckbox::before {
  transform: matrix(-1, 0, 0, 1, 0, 0);

  width: 28px;
  height: 28px;

  background: #FFF;
  border: 0.5px solid rgb(0 0 0 / 4%);
  border-radius: 100px;
  box-shadow: 0 3px 8px rgb(0 0 0 / 15%), 0 1px 1px rgb(0 0 0 / 16%),
    0 3px 1px rgb(0 0 0 / 10%);
}

.inputCheckbox::after {
  border: 0.5px solid rgb(0 0 0 / 4%);
  box-shadow: 0 3px 8px rgb(0 0 0 / 15%), 0 1px 1px rgb(0 0 0 / 16%),
    0 3px 1px rgb(0 0 0 / 10%);
}

.inputCheckbox:checked {
  justify-content: right;
  background: #000;
}

.accountDetails__wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;

  max-width: 406px;
  margin-top: 32px;
}

.myAddresses__wrapper {
  margin-top: 58px;
}

.noAddress {
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  color: #828282;
  letter-spacing: 0.16px;
}

.removeWrapper {
  display: flex;
  flex-flow: column;
  margin-top: 38px;
}

.removeAccauntLink,
.linkDescription {
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 32px;
  color: #000;
  text-align: left;
  text-decoration-line: underline;
  letter-spacing: 0.16px;
}

.linkDescription {
  color: #828282;
}
