.seller_page {
}

.seller_page header > div > div:nth-child(2) {
    background-color: var(--back);
    border-bottom: 1px solid #E8E8E8;
    padding: 20px 32px;
}

.seller_page header > div > div:first-child {
    padding: 20px 32px;
}

.seller_cabinet {
    padding: 24px 30px 48px;
    background: var(--back);
}

.content_wrapper {
    position: relative;
    display: grid;

    /* grid-template-columns: 470px 600px 273px; */

    /* grid-template-rows: 26.59vh 34.56vh; */
    grid-gap: 12px;
    grid-template-areas: 'left_column center_column right_column';
    grid-template-columns: 34.2% 43.7% 19.9%;
    /*!*grid-template-rows: minmax(min-content, 26.59vh) minmax(min-content, 34.56vh);**/
}


.content_wrapper > div {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.left_column {
    grid-area: left_column;
}

.center_column {
    grid-area: center_column;
}

.right_column {
    grid-area: right_column;
}

.section {
    padding: 32px;
    background: var(--front);
    border-radius: 8px;
}

.avatar__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    line-height: 25px;
    color: #000;
    text-align: left;
    letter-spacing: 0.38px;
}

.logout_button {
    display: flex;
    gap: 8px;
    align-items: center;
}

.logout_button_text {
    color: var(--red)
}

.profile_info_wrepper {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;

}

.profile_info_btn_name {
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;

    color: var(--red);
    text-decoration-line: underline;
    letter-spacing: -0.24px;
    cursor: pointer;
}

.profile_info_btn_img {
    display: block;
    width: 100%;
    cursor: pointer;
}

.profile_info_inputs_wrapper {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;

    margin-top: 24px;
}

.header_link {
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    color: var(--red);
    text-decoration-line: underline;
    letter-spacing: 0.16px;
}

.button_link_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin-top: 24px;
}

.flex_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;

    width: 100%;
}

.account_details_wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    max-width: 406px;
    margin-top: 32px;
}

.remove_wrapper {
    display: flex;
    flex-flow: column;
    margin-bottom: 50px;
}

.remove_account_link,
.link_description {
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 32px;
    color: var(--red);
    text-align: left;
    letter-spacing: 0.16px;
}

.link_description {
    color: var(--black);
}

.orders_category_wrapper {
    position: relative;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    margin-top: 24px;

     /*gap: 32px; */
    /*margin-bottom: 30px;*/
}

.order_wrepper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.order_btn_img {
    display: block;
    width: 48px;
    cursor: pointer;
}

.order_btn_name {
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;

    color: var(--black);
    /*text-decoration-line: underline;*/
    letter-spacing: -0.24px;
    cursor: pointer;
}

.my_addresses_wrapper {
    margin-top: 24px;
}

.no_address {
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    color: var(--black);
    letter-spacing: 0.16px;
}

.addresses_container > div {
    width: 100%;
    border-radius: 12px;

}

.notifications_list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 16px;
}

.notifications_item {
    padding-top: 12px;
}

.notifications_item::after {
    content: '';

    display: block;

    height: 1px;
    margin-top: 12px;

    background: #F2F2F2;
}

.notifications_item:last-child::after {
    display: none;
}

.info_button_positioning {
    position: absolute;
    bottom: 0;
    right: 0;
}

.wrepperButtonLinkProfile:hover {
    cursor: pointer;
}

.wrepperBtnImgProfile {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 80px;
    height: 80px;

    background: #E0E0E0;
    border-radius: 50%;

    /* width: 80px;
  height: 80px; */

    /* width: calc(80px + 1vw);
  height: calc(80px + 1vw); */

    /* width: calc(24px + 4vw);
  height: calc(24px + 4vw);
  background: #E0E0E0;
  border-radius: 100%; */
}

.btnImgProfile,
.btnImg {
    display: block;
    width: 37.5%;
}

.btnNameProfile {
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    color: #828282;
    text-decoration-line: underline;
    letter-spacing: 0.16px;
}


.text_field_label {
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    line-height: 18px;
    color: #4F4F4F;
    letter-spacing: -0.08px;
}

.profile_info_text_field_input,
.account_details_text_field_input {
    height: 42px;
    padding-left: 12px;

    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    color: #828282;
    letter-spacing: -0.24px;

    background: #F2F2F2;
    border-radius: 4px;
}

.profile_info_text_field_input {
    width: 100%;
}

.input_wrapper {
    display: flex;
    gap: 0;
    align-items: center;
    justify-content: space-between;

    background: #F2F2F2;

    /* margin-bottom: 12px; */
    border: none;
}

.account_details_text_field_input {
    width: 100%;
}

.inputWrapper__inputTextField {
    width: 100%;
}

.input_wrapper_input_text_field_password {
    display: flex;
    width: 100%;
}

.account_details_input_textfield_password {
    width: 100%;
    height: 42px;
    padding-left: 12px;
    background: #F2F2F2;
}




/*.wrepperButtonLink:hover {*/
/*    cursor: pointer;*/
/*}*/

/*.wrepperBtnImg {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/

/*  width: 80px;*/
/*  height: 80px;*/

/*  background-color: var(--back);*/
/*  border-radius: 50%;*/
/*}*/


.label_checkbox {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    color: #000;
    letter-spacing: -0.24px;
}

.input_checkbox {
    cursor: pointer;

    position: relative;

    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: left;

    width: 52px;
    height: 32px;
    padding: 1px;

    appearance: none;
    background: #F2F2F2;
    border: none;
    border-radius: 36.5px;

    transition: 0.5s;
}

.input_checkbox::before,
.input_checkbox::after {
    content: '';
    position: absolute;
    display: inline-block;
}

.input_checkbox::before {
    transform: matrix(-1, 0, 0, 1, 0, 0);

    width: 28px;
    height: 28px;

    background: #FFF;
    border: 0.5px solid rgb(0 0 0 / 4%);
    border-radius: 100px;
    box-shadow: 0 3px 8px rgb(0 0 0 / 15%), 0 1px 1px rgb(0 0 0 / 16%),
    0 3px 1px rgb(0 0 0 / 10%);
}

.input_checkbox::after {
    border: 0.5px solid rgb(0 0 0 / 4%);
    box-shadow: 0 3px 8px rgb(0 0 0 / 15%), 0 1px 1px rgb(0 0 0 / 16%),
    0 3px 1px rgb(0 0 0 / 10%);
}

.input_checkbox:checked {
    justify-content: right;
    background: var(--red);
}







