.page_wrap {
  width: 100%;
  margin: 0 auto;
}

.header {
  font-size: 28px;
  font-weight: 700;
  font-style: normal;
  line-height: 100%;
  color: #000;
  letter-spacing: 0.0024em;
  text-align: center;
}

.subheader {
  margin-top: 16px;

  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: #636568;
  letter-spacing: 0.16px;
  text-align: center;
}

.modal_content_wrapper {
  width: 420px;
  text-align: left;
}

.modal_header {
  margin-bottom: 26px;

  font-size: 34px;
  font-weight: 700;
  line-height: 41px;
  color: #000;
  letter-spacing: 0.41px;
}

@media screen and (max-width: 768px) {
  .header {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
  }

  .modal_content_wrapper {
    width: 100%;
  }

  .modal_header {
    margin-bottom: 16px;
    font-size: 22px;
    line-height: 24px;
  }
}
