@import "src/common/styles/mixins";

.container {
  position: relative;
}

.wrapper {
  @include content_container;

  position: relative;

  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  padding: 21px 32px;

  font-family: var(--roboto);
  font-size: var(--fz-s2);
  font-weight: var(--medium);
  color: var(--color-black);
}

.button {
  cursor: pointer;

  grid-column-end: 2;
  grid-column-start: 1;

  margin-right: 16px;

  font-family: var(--roboto);
  font-size: var(--fz-s2);
  font-weight: var(--medium);

  background: transparent;

  &:hover {
    color: var(--color-accent)
  }

  &:focus-visible {
    border-radius: 4px;
    outline: 1px solid var(--color-medium-gray);
  }
}

.nav_container {
  display: flex;
  grid-column-end: 3;
  grid-column-start: 2;
  column-gap: 10px;
  justify-content: space-around;

  border-right: 1px solid var(--color-black);
  border-left: 1px solid var(--color-black);
}

.selected {
  grid-column-end: 4;
  grid-column-start: 3;
}
