@import "src/common/styles/mixins";

.container {
  position: relative;
}

.wrapper {
  @include content_container;

  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  padding: 21px 32px;

  font-family: var(--roboto);
  font-size: var(--fz-s2);
  font-weight: var(--medium);
  color: var(--color-black);
}

.button {
  cursor: pointer;

  grid-column-end: 2;
  grid-column-start: 1;

  padding-right: 16px;

  font-family: var(--roboto);
  font-size: var(--fz-s2);
  font-weight: var(--medium);

  background: transparent;
  border-right: 1px solid var(--color-black);

  &:hover {
    color: var(--color-accent)
  }
}

.nav_container {
  display: flex;
  grid-column-end: 3;
  grid-column-start: 2;
  column-gap: 10px;
  justify-content: space-between;

  padding: 0 7%;

  border-right: 1px solid var(--color-black);
}

.selected {
  grid-column-end: 4;
  grid-column-start: 3;
}
