.form_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form_container {
  width: 633px;
}

.license_reminder {
  margin: 18px 0 24px;
  font-size: 13px;
  color: #4F4F4F;
  text-align: left;
}

.button{
  width: 100%;
}

.modal {
  position: relative;
  width: 698px;
  padding: 32px;
}


