.wrapper {
  display: flex;
  align-items: center;
}

.description {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.img_wrapper {
  position: relative;
}

.logo_img {
  width: 78px;
  height: 78px;
  object-fit: cover;
  border-radius: 50%;

}

.default_img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.label {
  cursor: pointer;

  display: flex;

  font-family: var(--roboto);
  font-size: 15px;
  font-weight: var(--regular);
  font-style: normal;
  line-height: 20px;
  color: #FC133D;
  text-decoration-line: underline;
}

.placeholder {
  max-width: 180px;
  margin-top: 9px;

  font-family: var(--roboto);
  font-size: 12px;
  font-weight: var(--regular);
  font-style: normal;
  line-height: 12px;
  color: #828282;

}

.input_default {
  cursor: pointer;

  position: absolute;
  z-index: 2;

  width: 120px;
  height: 120px;

  opacity: 0;
  border-radius: 8px;

  &::-webkit-file-upload-button {
    cursor: pointer;
  }
}

.input_logo {
  cursor: pointer;

  position: absolute;
  z-index: 2;

  width: 78px;
  height: 78px;

  opacity: 0;
  border-radius: 50%;

  &::-webkit-file-upload-button {
    cursor: pointer;
  }
}

.logo_cross {
  cursor: pointer;
  position: absolute;
  top: -5px;
  right: -10px;
}

.default_cross {
  cursor: pointer;

  position: absolute;
  z-index: 5;
  top: 5px;
  right: 5px;
}