.header__nav {
  display: flex;
  width: fit-content;
}

.header__nav_list {
  display: flex;
  width: calc(100% - 32px);
  padding-left: 16px;
  padding-right: 16px;
  list-style: none;
  align-items: center;   
  gap: 48px;
  transition: 0.4s;
}

.header__nav_list > li > a {
  color: var(--black);
  transition: 0.3s;
}
@media (max-width: 1400px) {
  .header__nav_list {
    gap: calc(7vw - 45px);
  }  
}
