.modal {
  position: relative;
  width: 698px;
}

.btn {
  position: absolute;
  top: 0;
  right: -50px;
  
  display: flex;
  align-items: center;  
  justify-content: center;

  width: 40px;
  height: 40px;

  font-weight: 700;
  color: var(--red);

  border-radius: 50%;
}

.whatsapp {
  margin-bottom: 85px;
}