.supplierMenuSection_wrapper{
    padding-top: 14px;
    padding-left: 22px;
}
.menu_category {
    padding: 30px 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.24px;
    color: #999999;
}

.menu_item,
.menu_item__active {
    padding: 15px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: -0.24px;
    color: #000000;
    cursor: pointer;
}

.menu_item:hover {
    font-weight: 700;
}

.menu_item__active {
    background: #E5E5E5;
}

