.skeleton_wrapper {
  display: flex;
  width: 100%;
}

.grid_view_mod {
  flex-direction: column;
  max-width: 220px;
  height: 310px;
}

.list_view_mod {
  gap: 36px;
  height: 220px;
}

@mixin animation_block {
  width: 100%;
  background-color: var(--color-white-ivory);
  border-radius: 8px;
  animation: skeletonAnimation 1.5s infinite alternate;
}

.image_grid_container,
.image_list_container {
  @include animation_block;

  height: 100%;
}

.image_list_container {
  display: flex;
  align-items: center;
  max-width: 220px;
}

.details_grid_block,
.details_list_block {
  display: grid;
  width: 100%;
}

.details_grid_block {
  grid-template-areas:
    'title_container'
    'sales_menu'
    'stars_container';
}

.details_list_block {
  grid-template-areas:
    'title_container'
    'stars_container'
    'sales_menu';
  grid-template-rows: 45px 16px 36px;
  align-content: space-evenly;
}

.title_container {
  grid-area: title_container;
  width: 100%;
}

.title_grid_info,
.title_list_info {
  @include animation_block;

  height: 14px;
  margin-top: 11px;
}

.title_list_info {
  width: 45%;
  height: 22px;
  margin-bottom: 8px;
}

.description_grid_info {
  @include animation_block;

  height: 12px;
  margin-top: 4px;
}

.description_list_info {
  @include animation_block;

  width: 45%;
  height: 14px;
}

.sales_grid_menu,
.sales_list_menu {
  display: grid;
  grid-area: sales_menu;
  justify-items: end;
}

.sales_grid_menu {
  grid-template-areas: 'sales_info';
  grid-template-columns: 85%;
  margin: 14px 0 4px;
}

.sales_list_menu {
  grid-template-areas: 'sales_info sales_orders';
  grid-template-columns: 45% 55%;
}

.sales_info_block {
  display: flex;
  grid-area: sales_info;
  justify-content: space-between;
  width: 100%;
}

.salesman_logo {
  @include animation_block;

  width: 36px;
  margin-right: 8px;
  border-radius: 50%;
}

.salesman_list_data {
  @include animation_block;

  width: 80%;
}

.salesman_grid_data {
  @include animation_block;
}

.salesman_grid_data {
  margin-right: 4px;
}

.forward_slash {
  color: var(--color-gray-medium);
}

.number_reviews,
.sales_orders {
  @include animation_block;
}

.number_reviews {
  max-height: 15px;
  margin-left: 4px;
}

.sales_orders {
  @include animation_block;

  grid-area: sales_orders;
  width: 30%;
  height: 14px;
  margin-top: 22px;
}

.stars_container {
  display: flex;
  grid-area: stars_container;
  width: 45%;
}

@keyframes skeletonAnimation {
  0%, 100% {
    background-color: var(--color-white-ivory);
  }

  50% {
    background-color: var(--color-gray-light);
  }
}

@media only screen and (max-width: 768px) {
  .grid_view_mod {
    max-width: 180px;
    max-height: 270px;
  }
}