.filter_button > button {
  cursor: pointer;

  margin-bottom: 32px;

  font-family: var(--roboto);
  font-size: 20px;
  font-weight: var(--semi-bold);
  font-style: normal;
  line-height: 20px;

  background: transparent;
}

.active_button {
  color: var(--color-accent)
}