.cartOrder {
    height: 326px;
    max-width: 286px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    border: 1px solid #D4D4D4;
    border-radius: 12px;
}

.cartOrder__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
}

.cartOrder__price,
.cartOrder__shipping {
    display: flex;
    justify-content: space-between;
    margin: 6px 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.cartOrder__hrLine {
    margin: 24px 0;
    padding: 0;
    height: 0;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.14);
}

.cartOrder__total {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 8px;
}

.cartOrder__button {
    color: #FFFFFF;
    background: #FC133D;
    border-radius: 12px;
    margin: 16px 0;
    padding: 14px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    cursor: pointer;
}

.cartOrder__text_info {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #828282;
}

.cartOrder__text_small {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #828282;
}

