.select_input {
  font-size: 12px;
  color: var(--Medium-grey, #828282);
  background: var(--color-white-ivory);
  border-radius: 12px;
}

.container {
  margin-top: 24px;
  margin-bottom: 20px;
}

.button_container {
  display: flex;
  justify-content: space-between;
  width: 195px;
  margin-bottom: 24px;
}

.button {
  cursor: pointer;

  width: 72px;
  height: 30px;

  background: var(--Light-grey, #F4F4F4);
  border-radius: 8px;
}

.active {
  color: #F00;
  background-color: #FFF;
  border: 1px solid var(--Accent-Color, #FC133D);
}

.plus_button {
  cursor: pointer;
  width: 30px;
  border-radius: 8px;
}