.card {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 325px;
}

.card_direction {
  cursor: pointer;

  width: 100%;
  height: fit-content;
  max-height: 40px;
  margin-top: 12px;

  font-size: var(--fz-s2);
}

.card_price {
  display: flex;
  flex-direction: row;
  gap: 4px;

  margin-top: 8px;
  margin-bottom: 4px;

  font-size: var(--fz-l2);
}

.card_price > span {
  display: block;
  align-self: flex-end;
  font-size: var(--fz-xs2);
}
