@font-face {
  font-family: 'SF Pro Display Regular';
  src: url('../assets/fonts/SFProDisplay-Regular.ttf');
}
@font-face {
  font-family: 'SF Pro Display Black';
  src: url('../assets/fonts/SFProDisplay-Black.ttf');
}
@font-face {
  font-family: 'SF Pro Display Bold';
  src: url('../assets/fonts/SFProDisplay-Bold.ttf');
}
@font-face {
  font-family: 'SF Pro Display Medium';
  src: url('../assets/fonts/SFProDisplay-Medium.ttf');
}
@font-face {
  font-family: 'SF Pro Display Light';
  src: url('../assets/fonts/SFProDisplay-Light-1.ttf');
}
@font-face {
  font-family: 'SF Pro Display RegularItalic';
  src: url('../assets/fonts/SFProDisplay-RegularItalic.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');