* {
  padding: 0;
  margin: 0;
  border: 0;  
  text-decoration: none;   
  list-style-type: none;
}
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}  
*:focus,
*:active {
  outline: none;
}

body {
  display: block;
  width: calc(100vw - 20px);
  height: 100vh;  
  background-color: var(--back);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}
