.card_full {
  display: flex;
  flex-direction: row;
  gap: 32px;

  width: 100%;
  min-height: 240px;
}

.card_full_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: calc(100% - 252px);
  height: 220px;

  color: #000;
}

.card_full_direction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.card_full_direction > h4 {
  cursor: pointer;

  display: flex;

  width: 480px;
  height: 40px;
  margin-top: 12px;
}

.card_full_block1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card_full_block2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding-top: 10px;
}

.card_full_block3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.card_full_price_stars {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;

  width: max-content;
  min-width: 355px;
}

.card_full_stars_reviews {
  display: flex;
  flex-direction: row;
}

.card_full_stars_reviews > span {
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  color: #828282;
}

.card_full_orders {
  display: flex;
  align-self: end;
  font-size: var(--fs);
  color: #828282;
}

.card_full_basket {
  cursor: pointer;
  padding: 8px;
  border: 1px #DDD solid;
  border-radius: 4px;
}

.button_new_best {
  display: block;

  width: 132px;
  height: 27px;

  font-size: var(--fp);
  line-height: 27px;
  text-align: center;

  background-color: #DDD;
  border-radius: 3px;
}
