.wrapper {
  position: relative;
  display: inline-block;
}

.input {
  box-sizing: border-box;
  width: 100%;
  padding: 16px 10px 15px 16px;

  font-family: Roboto, sans-serif;
  font-size: var(--fz-s);
  color: var(--color-black);
  letter-spacing: 0.24px;

  background-color: var(--color-light-gray);
  border-radius: 12px;
  outline: none;

  transition: border 0.2s, color 0.2s;

  &:disabled {
    color: var(--color-medium-gray);
    opacity: 0.5;
  }

  &:not(.input_error):focus, &:focus-visible {
    outline: 1px solid var(--color-medium-gray);
  }
}

.input_error {
  outline: 1px solid var(--color-accent);
}

.error {
  position: absolute;
  bottom: -16px;
  left: 0;

  font-size: var(--fz-xs);
  color: var(--color-accent);
}

.button {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  justify-content: center;
}
