.wrapper {
  position: relative;
  display: inline-block;
}

.input {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 10px 15px 16px;

  font-size: var(--fz-xs);
  font-weight: var(--medium);
  color: var(--color-black);
  font-family: "Roboto";
  letter-spacing: 0.24px;

  background-color: var(--color-light-gray);
  border: 1px solid transparent;
  border-radius: 12px;
  outline: none;
  transition: border 0.2s, color 0.2s;
}

.input:disabled {
  color: var(--color-medium-gray);
  opacity: 0.5;
}

.input:not(.input_error):focus {
  border: 1px solid var(--color-medium-gray);
}

.input_error {
  border: 1px solid var(--color-accent);
}

.error {
  position: absolute;
  bottom: -16px;
  left: 0;

  font-size: var(--fz-xs);
  color: var(--color-accent);
}

.button {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
