.Footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #e8e8e8;
}
.Footer__basic {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 104px;
  justify-content: space-between;
  align-items: center;
}
.Footer__basic_logo {
  display: block;
  text-align: center;
  line-height: 25px;
  width: 45px;
  height: 25px;
  margin-left: 32px;
  margin-right: 48px;
  font-family: 'SF Pro Display Bold'; 
  font-size: 20px;  
}

.Footer__basic_logo:hover {
  cursor: pointer;
}

.Footer__selects {
  display: flex;
  flex-direction: row;  
  justify-content: space-between;
  margin-right: 32px;  
}
.Footer__add {  
  display: flex;
  flex-direction: row;
  align-items: center;  
  justify-content: space-between;
  width: calc(100% - 64px);
  padding: 14px 32px; 
  background-color: var(--gray);
}

.Footer__add_text1 {
  width: 150px; 
}

.Footer__add_text2 {
  display: flex;  
  flex-direction: row;
  align-self: center;
  gap: 32px;
}
