@import "src/common/styles/mixins";

.favorites_page {
  background-color: var(--color-white);
}

.container {
  @include content_container;
}

.top {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 36px;
  text-align: center;
}

.search {
  width: 451px;
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  row-gap: 32px;
  column-gap: 10px;
  justify-items: center;

  margin-top: 24px;
  margin-bottom: 68px;
}

.bottom {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 1100px) {
  .main {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  }
}

@media only screen and (max-width: 768px) {
  .main {
    grid-template-columns: repeat(auto-fill, minmax(152px, 1fr));
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
}

.control_panel {
  display: flex;
  justify-content: space-between;
  width: 100%;
}