.favorites_page {
  background-color: var(--color-white);
}

.top {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 36px;
  text-align: center;
}

.title {
  font-size: 34px;
  font-weight: var(--bold);
  line-height: 34px;
}

.search {
  width: 451px;
}

.main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 36px;
  column-gap: 12px;
}

.product_card {
  width: 220px;
  height: 320px;
  background-color: var(--color-accent);
}

.bottom {
  display: flex;
  justify-content: flex-end;
  padding: 0 32px 32px 0;
}