.wrapper {
  position: relative;
}

.input {
  width: 100%;
}

.button {
  cursor: pointer;

  position: absolute;
  top: 14px;
  right: 16px;

  padding: 0;

  font-size: 12px;
  font-weight: var(--medium);
  line-height: 16px;
  color: var(--light-gray);
}
