.wrapper {
    position: relative;
}

.input {
    width: 100%;
}

.button {
    position: absolute;
    padding: 0;
    right: 16px;
    top: 14px;
    cursor: pointer;
    font-weight: var(--medium);
    font-size: 12px;
    line-height: 16px;

    color: var(--light-gray);
}
