.address_popup {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  scale: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background: #0003;

  transition: 0.3s;
}

.address_popup_modal {
  padding: 32px;
  background-color: #FFF;
  border-radius: 12px;

}

.address_popup_modal_exit {
  cursor: pointer;

  position: absolute;
  top: -33px;
  right: -88px;

  width: 40px;
  height: 40px;
  padding: 12px;

  background: #FFFFFF;
  border-radius: 50%;
}

.address_popup_add_address{
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.address_popup_row1 {
  position: relative;

  display: flex;
  flex-direction: row;
  align-self: start;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 32px;
}

.address_popup_checkbox {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.address_popup_block {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 15px 0;
}

.address_popup_block_title {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}

.address_popup_block_row2 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;

}

.address_popup_input_number{
  width: 458px;
}
.address_popup_block_row2_box {
  min-width: 309px;
  margin-top: 16px;
}

.address_popup_block_row2_box_title {
  margin-bottom: 8px;

  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: #828282;
}

.address_popup_phone {
  margin-top: 16px;
}

.address_popup_phone_number {
  display: flex;
  flex-direction: row;
  gap: 16px;

  width: 100%;
  margin-top: 8px;
}

.address_popup_phone_title {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: #828282;
}

.address_popup_phone_number_select {
  width: 160px;
}

.address_popup_button {
  cursor: pointer;
  width: 100%;
}

