.wrepperBtnImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: var(--back);
    border-radius: 50%;
}

.verticalLine {
    display: inline-block;
    width: 1px;
    height: 17px;
    background-color: #000000;
    margin-left: 17px;
    margin-right: 17px;
}

.title{
    border-right:3px solid #000000;
    padding-right:17px;
}

.btnImg {
    display: block;
    /* width: 37.5%; */
    width: 40%;
}

.btnName {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.24px;
    color: #828282;
    text-decoration: none;
}

.wrepperButtonLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}