.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.pointer_none {
  pointer-events: none;
}

.content {
  display: grid;
  flex: 1 1 auto;
  align-content: center;
  justify-items: center;
}

.subtitle {
  margin: 18px 0 0;
  font-size: var(--fz-s2);
  font-weight: var(--regular);
  color: var(--color-dark-gray);
}

.footer {
  margin: 0 auto;
  padding: 32px 15px;
  font-size: var(--fz-xs2);
  line-height: 18px;
}

.footer a {
  color: var(--color-accent);
  text-decoration: underline;

  &:hover {
    color: var(--color-black);
  }
}
