.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.pointer_none {
  pointer-events: none;
}

.content {
  display: grid;
  flex: 1 1 auto;
  align-content: center;
  justify-items: center;
}

.subtitle {
  margin: 18px 0 0;
  font-size: var(--fz-s2);
  font-weight: var(--regular);
  color: var(--color-dark-gray);
}

.footer_wrapper {
  display: flex;
  gap: 40px;
}
