.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  column-gap: 68px;
  align-items: center;
}

.inner {
  cursor: pointer;
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.filter, .add_and_removed {
  cursor: pointer;
  font-size: var(--fz-s2);
  font-weight: var(--regular);
  color: var(--color-black);
}

.active {
  color: var(--color-accent);
}


