.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  column-gap: 68px;
  align-items: center;
}

.gap {
  column-gap: 36px;
}

.filter {
  cursor: pointer;
  font-size: var(--fz-s2);
  color: var(--color-black);
  background: none;
}

.active {
  color: var(--color-accent);
}


