.items {
  display: flex;
  flex-basis: 50%;
  column-gap: 24px;
  align-items: center;

  color: var(--color-black);
}

.item {
  display: flex;
  column-gap: 24px;
}

.item_link {
  font-size: var(--fz-m);
  font-weight: var(--semi-bold);
  color: inherit;
}

@media (max-width: 800px) {
  .items {
    flex-basis: unset;
  }
}

@media (max-width: 373px) {
  .items {
    column-gap: 10px;
  }

  .item {
    display: flex;
    column-gap: 10px;
  }
}