.counter {
  display: flex;
  width: 100%;
}

.value {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin: 0 4px;
  padding: 6px 0;

  background-color: transparent;
  border: 1px solid var(--color-gray-medium);
  border-radius: 10px;
}

.value_large {
  height: 44px;
}

.decrement,
.increment {
  cursor: pointer;

  display: block;

  padding: 6px 11px;

  font-size: var(--fz-m);
  font-weight: var(--regular);
  text-align: center;

  background-color: transparent;
  border: 1px solid var(--color-gray-medium);
  border-radius: 10px;

  &:focus-visible {
    outline: 1px solid var(--color-gray-medium);
    transition: none;
  }

  &:hover {
    background-color: var(--color-gray-light);
  }

  &:active {
    background-color: var(--color-white-ivory);
  }
}

.decrement_large,
.increment_large {
  padding: 12px 17px;
}
