.container {
  margin: 98px 148px 78px;
}

.title {
  margin-bottom: 20px;
  font-size: 34px;
  font-weight: 600;
  line-height: 120%;
}

.contacts {
  display: flex;
  align-items: center;
  margin-bottom: 90px;
}

.image_container {
  height: 200px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content_container {
  max-width: var(--main-content-width);
  margin: 0 auto;
  padding: 98px 0 98px 140px;
}

.whatsapp_icon {
  width: 25px;
  height: 25px;
}

.number_phone {
  padding-left: 10px;

  font-size: 24px;
  font-weight: 600;
  text-decoration-line: underline;
  letter-spacing: 0.41px;
}

.social_network {
  margin-bottom: 24px;

  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.38px;
}

.social_icon {
  width: 44px;
  height: 44px;
  margin-right: 12px;
  padding: 13px;

  background: linear-gradient(180deg, #F3F3F3 0%, #EBEBEB 100%);
  border-radius: 12px;
}