@import "src/common/styles/mixins";

.title {
  margin-bottom: 20px;
}

.image_container {
  height: 200px;
}

.content_container {
  @include content_container;

  margin: 78px auto;
}

.contacts {
  display: flex;
  align-items: center;
  margin-bottom: 120px;
}

@media (max-width: 768px) {
  .content_container {
    margin: 58px auto;
  }

  .title {
    font-size: var(--fz-xl);
  }

  .contacts {
    margin-bottom: 80px;
  }
}

@media (max-width: 425px) {
  .image_container {
    height: 162px;
  }

  .content_container {
    margin: 48px auto;
  }

  .title {
    margin-bottom: 10px;
    font-size: var( --fz-l-2);
  }

  .contacts {
    margin-bottom: 60px;
  }
}
