.whatsApp {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.whatsApp__icon_text {
  font-size: var(--fd);
}

.whatsApp_btn {
  display: flex;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
