.whatsApp {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;

  width: 100%;
}

.whatsApp__icon_text {
  font-size: var(--fd);
}

.whatsApp_btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 56px;
  height: 56px;

  border-radius: 50%;
}
