.item {
  display: flex;
  margin-bottom: 16px;
  background-color: var(--color-super-light-gray);
  border-radius: 12px;
}

.number {
  padding: 24px 16px 24px 24px;

  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: rgba(252, 19, 61, 0.32);
  letter-spacing: 0.41px;
}

.title {
  padding-bottom: 4px;

  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.16px;
}

.content_container {
  padding-top: 28px;
}

.description {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.16px;

}