.wrapper {
  display: flex;
  gap: 16px;
  align-items: center;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80px;
  height: 80px;

  background: #F4F4F4;
  border: 1px solid transparent;
  border-radius: 8px;
}

.img {
  width: 78px;
  height: 78px;
  object-fit: cover;
  border-radius: 8px;

}

.label {
  cursor: pointer;

  display: flex;

  font-family: var(--roboto);
  font-size: 15px;
  font-weight: var(--regular);
  font-style: normal;
  line-height: 20px;
  color: #FC133D;
  text-decoration-line: underline;
}

.input {
  display: none;
}

.succes {
  border: 1px solid green;
}

.error {
  border: 1px solid red;
}