.wrapper {
  display: flex;
  gap: 16px;
  align-items: center;
}

.image {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 80px;
  height: 80px;

  background: #F4F4F4;
  border: 1px solid transparent;
}

.image_middle_size {
  composes: image;
  width: 120px;
  height: 120px;
}

.square {
  border-radius: 8px;
}

.circle {
  border-radius: 50%;
}

.img {
  width: 78px;
  height: 78px;
  object-fit: cover;
  border-radius: 8px;
}

.img_round {
  composes: img;
  border-radius: 50%;
}

.img_middle_size {
  composes: img;
  width: 118px;
  height: 118px;
}

.delete_img_btn {
  content: '';

  position: absolute;

  /*background: white;
  border-radius: 50%;*/
  z-index: 3;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 23px;
  height: 23px;
  margin: 0 auto;
  padding: 0;

  background-color: transparent;
  border: none;
}

.delete_img_btn:hover {
  cursor: pointer;
}

.delete_img_btn_none {
  display: none;
}

.label {
  cursor: pointer;

  font-family: var(--roboto);
  font-size: 15px;
  font-weight: var(--regular);
  font-style: normal;
  line-height: 20px;
  color: #FC133D;
  text-decoration-line: underline;
}

.text {
  max-width: 160px;
  margin-top: 8px;

  font-size: 11px;
  color: #828282;
  text-align: left;
  text-decoration-line: none !important;
}

.input {
  display: none;
}

.succes {
  border: 1px solid green;
}

.error {
  border: 1px solid red;
}
