.product_path {
  display: flex;
  align-items: center;

  height: 24px;

  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  color: #000;
}

.product_path_item {
  color: inherit;
}

.product_path_item > span {
  margin: 0 24px;
}

.product_path_item:last-child {
  pointer-events: none;
}

.product_path_item:last-child > span {
  display: none;
}