.wrapper {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  padding: 21px 0;

  font-family: var(--roboto);
  font-size: 15px;
  font-weight: var(--medium);
  font-style: normal;
  line-height: 15px;
  color: var(--color-black);
}

.left {
  cursor: pointer;

  padding-right: 16px;

  font-family: var(--roboto);
  font-size: 15px;
  font-weight: var(--medium);
  font-style: normal;
  line-height: 15px;

  background: transparent;
}

.center {
  justify-self: center;
}

.right {
  padding-left: 16px;
}

.container_position {
  position: relative;
}
