.container{
    margin: 48px 150px 44px 150px;
}
.last_news{
    letter-spacing: 0.41px;
    font-weight: 700;
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 28px;
}
.container_block{
    padding: 32px;
    background-color: #F4F4F4;
    border-radius: 12px;
}