@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@font-face {
  font-family: 'SF Pro Display Regular';
  src: url('assets/fonts/SFProDisplay-Regular.ttf');
}

@font-face {
  font-family: 'SF Pro Display Black';
  src: url('assets/fonts/SFProDisplay-Black.ttf');
}

@font-face {
  font-family: 'SF Pro Display Bold';
  src: url('assets/fonts/SFProDisplay-Bold.ttf');
}

@font-face {
  font-family: 'SF Pro Display Medium';
  src: url('assets/fonts/SFProDisplay-Medium.ttf');
}

@font-face {
  font-family: 'SF Pro Display Light';
  src: url('assets/fonts/SFProDisplay-Light-1.ttf');
}

@font-face {
  font-family: 'SF Pro Display RegularItalic';
  src: url('assets/fonts/SFProDisplay-RegularItalic.ttf');
}

:root {
  /* -------colors------ */
  --color-black: #000;
  --color-gray-dark: #4E4E4E;
  --color-gray-medium: #828282;
  --color-gray: #999;
  --color-gray-light: #D4D4D4;
  --color-white-ivory: #F4F4F4;
  --color-white-snow: #F9F9F9;
  --color-white: #FFF;
  --color-orange:#FFAB5E;
  --color-red: #FC133D;
  --color-red-medium: #CA0F31;
  --color-red-dark: #B00D2B;
  --color-green-lime: #34E145;

  /* -------font-sizes------ */
  --fz-xxs: 10px;     /* Extra Extra Small */
  --fz-xs: 12px;      /* Extra Small */
  --fz-xs-2: 13px;    /* Extra Small 2 */
  --fz-s: 14px;       /* Small */
  --fz-m: 16px;       /* Medium */
  --fz-l: 18px;       /* Large */
  --fz-l-2: 22px;     /* Large 2 */
  --fz-xl: 24px;      /* Extra Large */
  --fz-xl2: 26px;     /* Extra Large 2 */
  --fz-xxl: 34px;     /* Extra Extra Large */
  --fz-xxxl: 40px;    /* Extra Extra Extra Large */

  /* -------font-weights------ */
  --roboto: 'Roboto';
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;

  /*----------sizes----------*/
  --form-column-gap: 16px;
  --form-row-gap: 20px;
  --main-content-width: 1440px;
}

* {
  margin: 0;
  padding: 0;

  text-decoration: none;
  list-style-type: none;

  border: 0;
}

*, *::before,
*::after {
  box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;
}

*:focus,
*:active {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

/* stylelint-disable selector-no-qualifying-type */
input[type='number'] {
  appearance: textfield;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: var(--regular);
  font-style: normal;
  line-height: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
a {
  color: inherit;
}