@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@font-face {
  font-family: 'SF Pro Display Regular';
  src: url('./app/assets/fonts/SFProDisplay-Regular.ttf');
}
@font-face {
  font-family: 'SF Pro Display Black';
  src: url('./app/assets/fonts/SFProDisplay-Black.ttf');
}
@font-face {
  font-family: 'SF Pro Display Bold';
  src: url('./app/assets/fonts/SFProDisplay-Bold.ttf');
}
@font-face {
  font-family: 'SF Pro Display Medium';
  src: url('./app/assets/fonts/SFProDisplay-Medium.ttf');
}
@font-face {
  font-family: 'SF Pro Display Light';
  src: url('./app/assets/fonts/SFProDisplay-Light-1.ttf');
}
@font-face {
  font-family: 'SF Pro Display RegularItalic';
  src: url('./app/assets/fonts/SFProDisplay-RegularItalic.ttf');
}



:root {
  /*-------color------*/
  --black: #000000;  
  --gray: #c4c4c4;

  --back: #f5f5f5;
  --front: #ffffff;
/*-------fonts------*/
  --fh1: 64px;
  --fh2: 34px;
  --fh3: 25px;
  --fd: 20px;  
  --fp: 15px;
  --fs: 13px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;  
  text-decoration: none;   
  list-style-type: none;
}
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}  
*:focus,
*:active {
  outline: none;
}

body {
  display: block;
  width: calc(100vw - 20px);
  height: 100vh;  
  background-color: var(--back);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
} 

h1 {
  font-size: var(--fh1);
  letter-spacing: 0.41px;
}
h2 {
  font-size: var(--fh2);
  letter-spacing: 0.41px;
}
h3 {
  font-size: var(--fh3);
  letter-spacing: 0.38px;
}
