.paginator {
  display: flex;
  flex-direction: row;
  gap: 10px;

  font-family: 'SF Pro Display Medium', sans-serif;
  font-size: var(--fp);
  line-height: 24px;
}

.left_arrow {
  width: 24px;
  height: 24px;
  background: url('../../assets/img/icons/arrow-left.svg'); /* 24px */
}

.right_arrow {
  width: 24px;
  height: 24px;
  background: url('../../assets/img/icons/arrow-right.svg'); /* 24px */
}

.left,
.right {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
}

.numbers {
  display: flex;
  flex-direction: row;
  gap: 9px;
  justify-content: space-between;

  width: fit-content;
}

.numbers > div {
  width: 24px;
  height: 25px;
  line-height: 25px;
  text-align: center;
}

.active_page {
  color: #FFF;
  background-color: #000;
  border-radius: 3px;
}

.invisible {
  display: none;
}

.cursor {
  cursor: pointer;
}
