.InfoBtn {
  position: relative;
  right: 0;

  display: flex;
  align-items: center;
  align-self: flex-end;
  justify-content: center;

  width: 80px;
  height: 80px;
  margin-bottom: 16px;

  border-radius: 50%;
  box-shadow: 0 4px 16px rgb(0 0 0 / 32%);
}

.InfoBtn_icon {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url('../../../assets/img/icons/info.svg');
}

.InfoBtn:hover {
  cursor: pointer;
}
