.checkout_page {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: #F9F9F9;
}

.checkout {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.checkout_items {
  display: flex;
  flex-direction: column;
  margin: 0 12px 97px 32px;

}

.checkout_items > h4 {
  padding-top: 32px;
  padding-left: 32px;
  background-color: #FFFFFF;
}
