.checkoutPage {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: calc(100% - 64px);
}

.checkout {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.checkout_items {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
}

.checkout_items > h4 {
  padding-top: 32px;
  padding-left: 32px;
  background-color: #FFFFFF;
}


/*.checkoutPage {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  gap: 8px;*/
/*  width: calc(100% - 64px);*/
/*}*/

/*.checkout {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  gap: 8px;*/
/*  width: 100%;*/
/*}*/

/*.checkout_items {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  gap: 0;*/
/*  width: 100%;*/
/*}*/

/*.checkout_items > h4 {*/
/*  padding-top: 32px;*/
/*  padding-left: 32px;*/
/*  background-color: #FFF;*/
/*}*/