.check {
  cursor: pointer;

  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.check__box {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;

  background: #DDD;
  border-radius: 4px;
}

.check__box_mark {
  width: 16px;
  height: 16px;

  background: url('../../../assets/img/icons/check.svg');
  background-position: center;
  background-size: cover;
}
