.form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 100%;
  max-width: 396px;
  margin-top: 32px;
  margin-bottom: 24px;
}

.input_wrapper {
  width: 100%;
}

.button{
  width: 100%;
}
