.wrapper .view_more_link {
  display: flex;
  align-items: center;
  justify-content: center;

  aspect-ratio: 1/1;
  width: 100%;

  font-size: var(--fz-xl2);

  transition: all 0.3s ease;
}

@media only screen and (max-width: 425px) {
  .wrapper .view_more_link {
    font-size: var(--fz-l2);
  }
}
