.wrapper {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 48px;
  align-items: center;

  width: 100%;
  padding: 26px 0;

  background-color: #FFFFFF;
  border-bottom: 1px solid var(--light-gray-kit);
}


.inner_buttons{
  display: flex;
  gap: 32px;
}
