.card_full {
  display: flex;
  gap: 36px;
  justify-content: space-between;
  width: 100%;
}

.card_info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;

  height: 100%;
}

.name {
  margin-bottom: 6px;

  font-size: var(--fz-l2);
  font-weight: var(--bold);
  line-height: 24px;
  color: var(--color-black);
  letter-spacing: 0.16px;
}

.categories {
  display: flex;
  gap: 16px;
  margin-bottom: 12px;
}

.category {
  font-size: var(--fz-xs2);
  line-height: 18px;
  color: var(--color-accent);
  letter-spacing: 0.16px;
}

.reviews_info {
  display: flex;
  margin-top: 4px;
}

.reviews {
  font-size: var(--fz-xs);
  font-weight: var(--medium);
  line-height: 16px;
  color: var(--color-medium-gray);
  letter-spacing: 0.16px;
}

.orders_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.orders {
  font-size: var(--fz-s2);
  font-weight: (var(--medium));
  line-height: 20px;
  color: var(--color-black);
  letter-spacing: 0.38px;
}

.supplier_wrapper {
  cursor: pointer;
  display: flex;
  column-gap: 12px;
  align-items: center;
}

.supplier_logo {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.supplier_info {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.suppler_name_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.supplier_name {
  font-size: var(--fz-s2);
  font-weight: var(--medium);
  line-height: 20px;
  letter-spacing: 0.16px;
}

.supplier_arrow {
  transform: rotate(-90deg);
}

.suppler_details {
  font-size: var(--fz-xs);
  line-height: 16px;
  color: var(--color-medium-gray);
  letter-spacing: 0.16px;
}
