.footer {
  display: flex;
  flex-direction: column;
  background: rgba(252, 19, 61, 0.12);

}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 104px;
}

.inner{
  display: flex;
  gap: 74px;
  align-items: center;
  justify-content: space-between;
}

.nav{
  font-family: var(--roboto);
  font-size: 15px;
  font-weight: var(--medium);
  font-style: normal;
  line-height: 15px;
  color: var(--black);
}

.selects{
  padding-left: 16px;
  border-left: 1px solid var(--black);
}

.bottom {
  padding: 14px 0;
  color: var(--white);
  background: var(--black);

}

.flex_box{
  position: relative;
  display: flex;
  justify-content: flex-end;
  max-width: 820px;

}

.links {
  display: flex;
  gap: 32px;
}

.copyright {
  position: absolute;
  left: 0;
}

.links > a {
  color: inherit;
  transition: all 0.3s;
}

.links > a:hover {
  color: var(--red);
}
