.footer {
  display: flex;
  flex-direction: column;
  background: rgba(252, 19, 61, 0.12);

}

.top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 40px 0;
}

.inner{
  display: flex;
  flex-wrap: wrap;
  gap: 74px;
  align-items: center;
  justify-content: space-between;
}

.nav{
  font-family: var(--roboto);
  font-size: 15px;
  font-weight: var(--medium);
  font-style: normal;
  line-height: 15px;
  color: var(--black);
}

.selects{
  padding-left: 16px;
  border-left: 1px solid var(--black);
}

.bottom {
  padding: 14px 0;
  color: var(--white);
  background: var(--black);

}

.flex_box{
  position: relative;
  display: flex;
  justify-content: flex-end;
  max-width: 820px;

}

.links {
  display: flex;
  gap: 32px;
}

.copyright {
  position: absolute;
  left: 0;
}

.links > a {
  color: inherit;
  transition: all 0.3s;
}

.links > a:hover {
  color: var(--red);
}


@media only screen and (max-width: 600px) {
  .top {
    height: auto;
    padding-top: 32px;
    padding-bottom: 34px;
  }
  .inner {
    gap: 6px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .nav_menu {
    display: block;
    column-count: 2;  
    padding: 0px;
    list-style-type: decimal;
  }
  .nav_menu li {
    padding-top: 12px;
    padding-right: 30px;
  }

  .bottom {
    padding: 24px 0px;
  }

  .flex_box {
    display: block;
    font-size: 15px;
    text-align: center;
  }

  .copyright {
    position: static;
    margin-top: 6px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.4);
  }

  .links {
    display: block;
  }

  .links a {
    padding-right: 35px;
  }

  .selects {
    margin-top: 25px;
    padding: 0;
    border: none;
  }
}
