@import 'src/common/styles/mixins';

.wrapper {
  display: flex;
  flex-direction: column;
  background: rgba(252, 19, 61, 0.12);
}

.footer {
  padding: 14px 0;

  font-family: var(--roboto);
  font-size: var(--fz-m);
  font-weight: var(--regular);
  line-height: 100%;
  color: var(--color-white);

  background: var(--color-black);
}

.container {
  @include content_container;

  display: grid;
  grid-template-areas: 'copy main other';
  grid-template-columns: 125px auto 125px;
}

.footer_white {
  padding: 32px 0;

  font-size: var(--fz-xs-2);
  line-height: 18px;
  color: var(--color-black);

  background: var(--color-white);
}

.links,
.links_white {
  position: relative;

  display: flex;
  grid-area: main;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.links {
  gap: 32px;
}

.copyright {
  grid-area: copy;
}

.link_white,
.link {
  color: var(--color-white);
  text-decoration: none;
  transition: all 0.3s;

  &:active {
    color: var(--color-red);
  }

  &:hover,
  &:focus-visible {
    color: var(--color-red-medium);
    text-decoration: underline;
  }

  &:disabled {
    pointer-events: none;
    cursor: default;
    color: var(--color-gray);
  }
}

.link_white {
  color: var(--color-red);
}

.links a {
  &:focus-visible {
    border-radius: 4px;
    outline: 1px solid var(--color-white);
  }
}

.link[aria-current] {
  pointer-events: none;
  color: var(--color-red);
}

.link_white[aria-current] {
  color: var(--color-red);
}


@media only screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
  }

  .copyright {
    order: 2;

    span {
      font-size: var(--fz-xs);
      color: var(--color-gray-medium);
    }
  }

}
