.navBarWrapper {
  width: 90%;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
}

.logoSection {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.38px;
  color: #000000;
}

.linksSection {
  display: flex;
  gap: 25px;
}
