.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 100%;
  margin-bottom: 90px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.specifications {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 337px;
}

.property {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 569px;
}

.stage {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 223px;
}

.specifications {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;

  font-family: var(--roboto);
  font-size: var(--fz-s2);
}

.specifications_key,
.specifications_value {
  display: block;

  height: 24px;

  font-family: var(--roboto);
  font-size: var(--fz-s2);
  font-weight: 400;
  line-height: 24px;
}

.property,
.stage {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.property_key,
.stage_key {
  font-family: 'SF Pro Display Bold', sans-serif;
  font-size: 16px;
}

.property_value,
.stage_value {
  display: block;

  min-height: fit-content;

  font-family: var(--roboto);
  font-size: var(--fz-s2);
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.16px;
}

.property_more {
  cursor: pointer;

  display: block;

  width: fit-content;

  font-family: var(--roboto);
  font-size: var(--fz-s2);
  font-weight: 400;
  line-height: 24px;
  color: #828282;
  letter-spacing: 0.16px;
}

.none {
  display: none;
}
