.menu_container {
  position: absolute;
  z-index: 1;
  bottom: -464px;
  left: 0;

  display: flex;
  gap: 64px;

  min-width: 864px;
  min-height: 464px;
  padding: 32px;

  background-color: var(--color-white);
  border-radius: 0 12px 12px 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);

}

.items_container > li {
  margin-top: 16px;
  margin-bottom: 16px;

  font-size: 18px;
  font-weight: var(--regular);
  font-style: normal;
  line-height: 24px;
}

.items_container > li > a {
  color: var(--color-black);
}