@import "src/common/styles/mixins";

.header_wrapper {
  background: var(--color-white);
}

.header_container {
  @include content_container;

  &::after {
    content: '';

    position: absolute;
    left: 0;

    display: block;

    width: 100%;
    height: 1px;

    background: var(--color-white-ivory);
  }
}

.header_block {
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 26px 0;

  background-color: var(--color-white);
}