.size-item{
  cursor: pointer;

  display: inline-block;

  min-width: 64px;
  margin-right: 4px;
  margin-bottom: 12px;
  padding: 3px 7px;

  font-family: Roboto,sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 17px;
  text-align: center;

  border: 1px solid transparent;
  border-radius: 8px;
}

.base {

  /* Black */
  color: #000;
  background-color: #F4F4F4;
}

.selected{

  /* Accent Color */
  color: #FC133D;
  background: #FFF;
  border: 1px solid #FC133D;
}