@import "src/common/styles/mixins";

.container {
  @include content_container;

  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  padding-top: 40px;
  padding-bottom: 40px;
}

.logo {
  grid-column-end: 2;
  grid-column-start: 1;
  font-size: var(--fz-xl2);
}

.nav_container {
  grid-column-end: 3;
  grid-column-start: 2;
  column-gap: 48px;
  justify-content: center;

  margin: 0 10px;

  border-right: 1px solid var(--color-black);
  border-left: 1px solid var(--color-black);
}

.selects {
  grid-column-end: 4;
  grid-column-start: 3;
}

@media only screen and (max-width: 1280px) {
  .nav_container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    column-gap: 20px;

    li {
      flex-basis: 25%;
      flex-shrink: 0;
    }
  }
}

@media only screen and (max-width: 1050px) {
  .container {
    .nav_container {
      display: block;
      columns: 2;
      column-gap: 20px;
    }
  }

  .nav_container {
    max-width: 80%;
    padding-left: 30px;

    li {
      flex-basis: initial;
      margin-bottom: 12px;
    }
  }
}


@media only screen and (max-width: 920px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 20px;

    h1 {
      align-self: start;
      margin-bottom: 24px;
    }

    .nav_container {
      column-gap: 6px;

      width: 370px;
      padding-left: 22px;

      border-right: none;
      border-left: none;

      li {
        margin-right: initial;
      }
    }

    .selects {
      zoom: 99%;
      gap: 0;
    }
  }

}
