@import "src/common/styles/mixins";

.container {
  @include content_container;

  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 40px 0;
}

.logo {
  grid-column-end: 2;
  grid-column-start: 1;
}

.nav_container {
  grid-column-end: 3;
  grid-column-start: 2;
  column-gap: 48px;
  justify-content: center;

  margin: 0 10px;

  border-right: 1px solid var(--color-black);
  border-left: 1px solid var(--color-black);
}

.selects {
  grid-column-end: 4;
  grid-column-start: 3;
}