.productPhoto {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 8px;
}

.photo__slider {
  display: flex;
  flex-direction: column;
  width: 106px;
  gap: 16px;
  height: fit-content;
}

.photo__slider_slides {
  display: block;
  width: 100%;
  overflow: hidden;
}

.photo__slider_list {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  gap: 8px;
  transition: 0.5s;
}

.photo__slider_slide {
  display: block;
  width: 106px;
  height: 106px;
  object-fit: cover;
}

.photo__slider_btn_up {
  align-self: center;
  width: 24px;
  height: 24px;
  background-image: url('../../../../assets/img/icons/arrow-slide-up.svg');
}

.photo__slider_btn_down {
  align-self: center;
  width: 24px;
  height: 24px;
  background-image: url('../../../../assets/img/icons/arrow-slide-down.svg');
}

.photo__slider_btn_up:hover,
.photo__slider_btn_down:hover {
  cursor: pointer;
}

.photo__image {
  display: block;
  width: 569px;
  height: 756px;
}

.photo__image > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
