.wrapper{
  display: flex;
  gap: 20px;

  font-family: var(--roboto);
  font-size: 15px;
  font-weight: var(--medium);
  font-style: normal;
  line-height: 15px;
  color: var(--color-black);
}

.select_box{
  display: inline-flex;
  gap: 8px;
  align-items: center;
}

.select {
  background-color: var(--color-white)!important;
}