.wrapper {
  position: relative;
}

.container {
  display: flex;
  gap: 8px;

  font-family: var(--roboto);
  font-size: 15px;
  font-weight: var(--medium);
  font-style: normal;
  line-height: 15px;
  color: var(--color-black);
}

.select_box {
  display: inline-flex;
  gap: 8px;
  align-items: center;
}

.select_title {
  white-space: nowrap;
}

.mobile_header {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: flex-end;
}

.arrow_up {
  transform: rotate(180deg);
}

.mobile {
  pointer-events: none;

  position: absolute;
  z-index: 5;
  top: calc(100% + 6px);
  right: -8px;

  flex-direction: column;
  gap: 0;
  align-items: end;

  padding: 5px;

  opacity: 0;
  background: var(--color-white);
  border-radius: 12px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);

  &.show {
    pointer-events: all;
    opacity: 1;
  }
}
