.title {
  margin-bottom: 24px;

  font-family: var(--roboto);
  font-size: 20px;
  font-weight: var(--semi-bold);
  font-style: normal;
  line-height: 20px;
  color: var(--color-black);
}

.networks_list {
  display: flex;
  gap: 12px;
}

.network {
  width: 44px;
  height: 44px;
  background: linear-gradient(180deg, #F3F3F3 0%, #EBEBEB 100%);
  border-radius: 12px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  &:focus-visible {
    border-radius: 12px;
    outline: 1px solid var(--color-gray-medium);
  }
}

@media (max-width: 425px) {
  .title {
    margin-bottom: 16px;
    white-space: nowrap;
  }
}